info:
  title: "orq.ai API"
  version: "2.0"
  description: "orq.ai API documentation"
security:
  - ApiKey: []
servers:
  - url: "https://my.orq.ai"
openapi: "3.1.0"
x-speakeasy-timeout: 600000
externalDocs:
  url: "https://docs.orq.ai"
  description: "orq.ai Documentation"
x-speakeasy-globals: {"parameters": [{"name": "contactId", "in": "header", "schema": {"type": "string"}, "x-speakeasy-globals-hidden": true}, {"name": "environment", "in": "header", "schema": {"type": "string"}, "x-speakeasy-globals-hidden": true}]}
components:
  securitySchemes:
    "ApiKey":
      type: "http"
      scheme: "bearer"
      bearerFormat: "JWT"
  schemas:
    "UpdateUserInformationRequest":
      type: "object"
      properties:
        "external_id":
          type: "string"
          minLength: 1
          maxLength: 120
          description: "Unique string value to identify the contact user in the customer's system. This should be the same ID you use in your system to reference this user."
          example: "user_12345"
        "display_name":
          type:
            - "string"
            - "null"
          description: "Display name or nickname of the contact user. This is typically shown in user interfaces."
          example: "Jane Smith"
        "email":
          type:
            - "string"
            - "null"
          format: "email"
          description: "Email address of the contact user"
          example: "jane.smith@example.com"
        "avatar_url":
          type:
            - "string"
            - "null"
          format: "uri"
          description: "URL linking to the contact user's avatar image"
          example: "https://example.com/avatars/jane-smith.jpg"
        "tags":
          type: "array"
          items:
            type: "string"
          description: "Array of tags associated with the contact. Useful for organizing and filtering contacts by categories, departments, or custom classifications."
          example: ["premium", "beta-user", "enterprise"]
        "metadata":
          type: "object"
          additionalProperties: {}
          description: "Additional custom metadata associated with the contact as key-value pairs. Use this to store any extra information specific to your application."
          example: {"department": "Engineering", "role": "Senior Developer", "subscription_tier": "premium", "last_login": "2024-01-15T10:30:00Z"}
      required:
        - "external_id"
    "UpdateUserInformationResponse":
      type: "object"
      properties:
        "success":
          type: "boolean"
          description: "Indicates whether the contact operation was successful"
          example: true
      required:
        - "success"
    "ReportFeedbackRequest":
      type: "object"
      properties:
        "property":
          type: "string"
          description: "A string describing the specific property or aspect rated."
        "value":
          anyOf:
            - type: "string"
            - type: "number"
            - type: "array"
              items:
                type: "string"
          description: "The feedback value. For single selection of multiple choice, the value should be an array of strings. For `correction`, the value should be a string."
        "trace_id":
          type: "string"
          description: "The id returned by the [`get_config`](https://docs.orq.ai/reference/deploymentgetconfig-1) or [`invoke`](https://docs.orq.ai/reference/deploymentinvoke-1) endpoints"
      required:
        - "property"
        - "value"
        - "trace_id"
    "ReportFeedbackResponse":
      type: "object"
      properties:
        "property":
          type: "string"
          description: "A string describing the specific property or aspect rated."
        "value":
          anyOf:
            - type: "string"
            - type: "number"
            - type: "array"
              items:
                type: "string"
          description: "The feedback value. For single selection of multiple choice, the value should be an array of strings. For `correction`, the value should be a string."
        "trace_id":
          type: "string"
          description: "The id returned by the [`get_config`](https://docs.orq.ai/reference/deploymentgetconfig-1) or [`invoke`](https://docs.orq.ai/reference/deploymentinvoke-1) endpoints"
        "id":
          type: "string"
          format: "ulid"
      required:
        - "property"
        - "value"
        - "trace_id"
        - "id"
    "DeploymentGetConfigRequest":
      type: "object"
      properties:
        "key":
          type: "string"
          description: "The deployment key to invoke"
        "inputs":
          type: "object"
          additionalProperties: {}
          description: "Key-value pairs variables to replace in your prompts. If a variable is not provided that is defined in the prompt, the default variables are used."
        "context":
          type: "object"
          additionalProperties: {}
          description: "Key-value pairs that match your data model and fields declared in your deployment routing configuration"
        "prefix_messages":
          type: "array"
          items:
            oneOf:
              - type: "object"
                properties:
                  "role":
                    type: "string"
                    enum:
                      - "developer"
                    description: "The role of the messages author, in this case  `developer`."
                  "content":
                    type: "string"
                    description: "The contents of the developer message."
                  "name":
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                required:
                  - "role"
                  - "content"
                title: "Developer message"
              - type: "object"
                properties:
                  "role":
                    type: "string"
                    enum:
                      - "system"
                    description: "The role of the messages author, in this case `system`."
                  "content":
                    type: "string"
                    description: "The contents of the system message."
                  "name":
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                required:
                  - "role"
                  - "content"
                title: "System message"
              - type: "object"
                properties:
                  "role":
                    type: "string"
                    enum:
                      - "user"
                    description: "The role of the messages author, in this case `user`."
                  "name":
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                  "content":
                    anyOf:
                      - type: "string"
                        description: "The text contents of the message."
                      - type: "array"
                        items:
                          oneOf:
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "text"
                                "text":
                                  type: "string"
                              required:
                                - "type"
                                - "text"
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "image_url"
                                "image_url":
                                  type: "object"
                                  properties:
                                    "url":
                                      type: "string"
                                      description: "Either a URL of the image or the base64 encoded image data."
                                    "detail":
                                      type: "string"
                                      enum:
                                        - "low"
                                        - "high"
                                        - "auto"
                                      description: "Specifies the detail level of the image."
                                  required:
                                    - "url"
                              required:
                                - "type"
                                - "image_url"
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "input_audio"
                                "input_audio":
                                  type: "object"
                                  properties:
                                    "data":
                                      type: "string"
                                      description: "Base64 encoded audio data."
                                    "format":
                                      type: "string"
                                      enum:
                                        - "mp3"
                                        - "wav"
                                      description: "The format of the encoded audio data. Currently supports `wav` and `mp3`."
                                  required:
                                    - "data"
                                    - "format"
                              required:
                                - "type"
                                - "input_audio"
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "file"
                                  description: "The type of the content part. Always `file`."
                                "file":
                                  type: "object"
                                  properties:
                                    "file_data":
                                      type: "string"
                                      description: "The file data as a data URI string in the format 'data:<mime-type>;base64,<base64-encoded-data>'. Example: 'data:image/png;base64,iVBORw0KGgoAAAANS...'"
                                    "filename":
                                      type: "string"
                                      description: "The name of the file, used when passing the file to the model as a string."
                                  required:
                                    - "file_data"
                                    - "filename"
                              required:
                                - "type"
                                - "file"
                        description: "An array of content parts with a defined type. Supported options differ based on the model being used to generate the response. Can contain text, image, or audio inputs."
                    description: "The contents of the user message."
                required:
                  - "role"
                  - "content"
                title: "User message"
              - type: "object"
                properties:
                  "content":
                    anyOf:
                      - type: "string"
                        description: "The contents of the assistant message."
                      - type: "array"
                        items:
                          oneOf:
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "text"
                                  description: "The type of the content part."
                                "text":
                                  type: "string"
                                  description: "The text content."
                                "annotations":
                                  type: "array"
                                  items:
                                    oneOf:
                                      - type: "object"
                                        properties:
                                          "type":
                                            type: "string"
                                            enum:
                                              - "file_citation"
                                          "text":
                                            type: "string"
                                          "file_citation":
                                            type: "object"
                                            properties:
                                              "file_id":
                                                type: "string"
                                              "quote":
                                                type: "string"
                                            required:
                                              - "file_id"
                                          "start_index":
                                            type: "integer"
                                          "end_index":
                                            type: "integer"
                                        required:
                                          - "type"
                                          - "text"
                                          - "file_citation"
                                          - "start_index"
                                          - "end_index"
                                      - type: "object"
                                        properties:
                                          "type":
                                            type: "string"
                                            enum:
                                              - "file_path"
                                          "text":
                                            type: "string"
                                          "file_path":
                                            type: "object"
                                            properties:
                                              "file_id":
                                                type: "string"
                                            required:
                                              - "file_id"
                                          "start_index":
                                            type: "integer"
                                          "end_index":
                                            type: "integer"
                                        required:
                                          - "type"
                                          - "text"
                                          - "file_path"
                                          - "start_index"
                                          - "end_index"
                                  description: "Annotations for the text content."
                              required:
                                - "type"
                                - "text"
                              title: "Text content part"
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "refusal"
                                  description: "The type of the content part."
                                "refusal":
                                  type: "string"
                                  description: "The refusal message generated by the model."
                              required:
                                - "type"
                                - "refusal"
                              title: "Refusal content part"
                        description: "An array of content parts with a defined type. Can be one or more of type `text`, or exactly one of type `refusal`."
                      - type: "null"
                    description: "The contents of the assistant message. Required unless `tool_calls` or `function_call` is specified."
                  "refusal":
                    type:
                      - "string"
                      - "null"
                    description: "The refusal message by the assistant."
                  "role":
                    type: "string"
                    enum:
                      - "assistant"
                    description: "The role of the messages author, in this case `assistant`."
                  "name":
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                  "audio":
                    type:
                      - "object"
                      - "null"
                    properties:
                      "id":
                        type: "string"
                        description: "Unique identifier for a previous audio response from the model."
                    required:
                      - "id"
                    description: "Data about a previous audio response from the model. "
                  "tool_calls":
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        "id":
                          type: "string"
                          description: "The ID of the tool call."
                        "type":
                          type: "string"
                          enum:
                            - "function"
                          description: "The type of the tool. Currently, only `function` is supported."
                        "function":
                          type: "object"
                          properties:
                            "name":
                              type: "string"
                              description: "The name of the function to call."
                            "arguments":
                              type: "string"
                              description: "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function."
                      required:
                        - "id"
                        - "type"
                        - "function"
                    description: "The tool calls generated by the model, such as function calls."
                  "reasoning":
                    type: "string"
                    description: "Internal thought process of the model"
                  "reasoning_signature":
                    type: "string"
                    description: "The signature holds a cryptographic token which verifies that the thinking block was generated by the model, and is verified when thinking is part of a multiturn conversation. This value should not be modified and should always be sent to the API when the reasoning is redacted. Currently only supported by `Anthropic`."
                  "redacted_reasoning":
                    type: "string"
                    description: "Occasionally the model's internal reasoning will be flagged by the safety systems of the provider. When this occurs, the provider will encrypt the reasoning. These redacted reasoning is decrypted when passed back to the API, allowing the model to continue its response without losing context."
                required:
                  - "role"
                title: "Assistant message"
              - type: "object"
                properties:
                  "role":
                    type: "string"
                    enum:
                      - "tool"
                    description: "The role of the messages author, in this case tool."
                  "content":
                    anyOf:
                      - type: "string"
                      - type: "array"
                        items:
                          type: "string"
                    description: "The contents of the tool message."
                  "tool_call_id":
                    type: "string"
                    description: "Tool call that this message is responding to."
                required:
                  - "role"
                  - "content"
                  - "tool_call_id"
                title: "Tool message"
          description: "A list of messages to include after the `System` message, but before the  `User` and `Assistant` pairs configured in your deployment."
        "messages":
          type: "array"
          items:
            oneOf:
              - type: "object"
                properties:
                  "role":
                    type: "string"
                    enum:
                      - "developer"
                    description: "The role of the messages author, in this case  `developer`."
                  "content":
                    type: "string"
                    description: "The contents of the developer message."
                  "name":
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                required:
                  - "role"
                  - "content"
                title: "Developer message"
              - type: "object"
                properties:
                  "role":
                    type: "string"
                    enum:
                      - "system"
                    description: "The role of the messages author, in this case `system`."
                  "content":
                    type: "string"
                    description: "The contents of the system message."
                  "name":
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                required:
                  - "role"
                  - "content"
                title: "System message"
              - type: "object"
                properties:
                  "role":
                    type: "string"
                    enum:
                      - "user"
                    description: "The role of the messages author, in this case `user`."
                  "name":
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                  "content":
                    anyOf:
                      - type: "string"
                        description: "The text contents of the message."
                      - type: "array"
                        items:
                          oneOf:
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "text"
                                "text":
                                  type: "string"
                              required:
                                - "type"
                                - "text"
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "image_url"
                                "image_url":
                                  type: "object"
                                  properties:
                                    "url":
                                      type: "string"
                                      description: "Either a URL of the image or the base64 encoded image data."
                                    "detail":
                                      type: "string"
                                      enum:
                                        - "low"
                                        - "high"
                                        - "auto"
                                      description: "Specifies the detail level of the image."
                                  required:
                                    - "url"
                              required:
                                - "type"
                                - "image_url"
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "input_audio"
                                "input_audio":
                                  type: "object"
                                  properties:
                                    "data":
                                      type: "string"
                                      description: "Base64 encoded audio data."
                                    "format":
                                      type: "string"
                                      enum:
                                        - "mp3"
                                        - "wav"
                                      description: "The format of the encoded audio data. Currently supports `wav` and `mp3`."
                                  required:
                                    - "data"
                                    - "format"
                              required:
                                - "type"
                                - "input_audio"
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "file"
                                  description: "The type of the content part. Always `file`."
                                "file":
                                  type: "object"
                                  properties:
                                    "file_data":
                                      type: "string"
                                      description: "The file data as a data URI string in the format 'data:<mime-type>;base64,<base64-encoded-data>'. Example: 'data:image/png;base64,iVBORw0KGgoAAAANS...'"
                                    "filename":
                                      type: "string"
                                      description: "The name of the file, used when passing the file to the model as a string."
                                  required:
                                    - "file_data"
                                    - "filename"
                              required:
                                - "type"
                                - "file"
                        description: "An array of content parts with a defined type. Supported options differ based on the model being used to generate the response. Can contain text, image, or audio inputs."
                    description: "The contents of the user message."
                required:
                  - "role"
                  - "content"
                title: "User message"
              - type: "object"
                properties:
                  "content":
                    anyOf:
                      - type: "string"
                        description: "The contents of the assistant message."
                      - type: "array"
                        items:
                          oneOf:
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "text"
                                  description: "The type of the content part."
                                "text":
                                  type: "string"
                                  description: "The text content."
                                "annotations":
                                  type: "array"
                                  items:
                                    oneOf:
                                      - type: "object"
                                        properties:
                                          "type":
                                            type: "string"
                                            enum:
                                              - "file_citation"
                                          "text":
                                            type: "string"
                                          "file_citation":
                                            type: "object"
                                            properties:
                                              "file_id":
                                                type: "string"
                                              "quote":
                                                type: "string"
                                            required:
                                              - "file_id"
                                          "start_index":
                                            type: "integer"
                                          "end_index":
                                            type: "integer"
                                        required:
                                          - "type"
                                          - "text"
                                          - "file_citation"
                                          - "start_index"
                                          - "end_index"
                                      - type: "object"
                                        properties:
                                          "type":
                                            type: "string"
                                            enum:
                                              - "file_path"
                                          "text":
                                            type: "string"
                                          "file_path":
                                            type: "object"
                                            properties:
                                              "file_id":
                                                type: "string"
                                            required:
                                              - "file_id"
                                          "start_index":
                                            type: "integer"
                                          "end_index":
                                            type: "integer"
                                        required:
                                          - "type"
                                          - "text"
                                          - "file_path"
                                          - "start_index"
                                          - "end_index"
                                  description: "Annotations for the text content."
                              required:
                                - "type"
                                - "text"
                              title: "Text content part"
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "refusal"
                                  description: "The type of the content part."
                                "refusal":
                                  type: "string"
                                  description: "The refusal message generated by the model."
                              required:
                                - "type"
                                - "refusal"
                              title: "Refusal content part"
                        description: "An array of content parts with a defined type. Can be one or more of type `text`, or exactly one of type `refusal`."
                      - type: "null"
                    description: "The contents of the assistant message. Required unless `tool_calls` or `function_call` is specified."
                  "refusal":
                    type:
                      - "string"
                      - "null"
                    description: "The refusal message by the assistant."
                  "role":
                    type: "string"
                    enum:
                      - "assistant"
                    description: "The role of the messages author, in this case `assistant`."
                  "name":
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                  "audio":
                    type:
                      - "object"
                      - "null"
                    properties:
                      "id":
                        type: "string"
                        description: "Unique identifier for a previous audio response from the model."
                    required:
                      - "id"
                    description: "Data about a previous audio response from the model. "
                  "tool_calls":
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        "id":
                          type: "string"
                          description: "The ID of the tool call."
                        "type":
                          type: "string"
                          enum:
                            - "function"
                          description: "The type of the tool. Currently, only `function` is supported."
                        "function":
                          type: "object"
                          properties:
                            "name":
                              type: "string"
                              description: "The name of the function to call."
                            "arguments":
                              type: "string"
                              description: "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function."
                      required:
                        - "id"
                        - "type"
                        - "function"
                    description: "The tool calls generated by the model, such as function calls."
                  "reasoning":
                    type: "string"
                    description: "Internal thought process of the model"
                  "reasoning_signature":
                    type: "string"
                    description: "The signature holds a cryptographic token which verifies that the thinking block was generated by the model, and is verified when thinking is part of a multiturn conversation. This value should not be modified and should always be sent to the API when the reasoning is redacted. Currently only supported by `Anthropic`."
                  "redacted_reasoning":
                    type: "string"
                    description: "Occasionally the model's internal reasoning will be flagged by the safety systems of the provider. When this occurs, the provider will encrypt the reasoning. These redacted reasoning is decrypted when passed back to the API, allowing the model to continue its response without losing context."
                required:
                  - "role"
                title: "Assistant message"
              - type: "object"
                properties:
                  "role":
                    type: "string"
                    enum:
                      - "tool"
                    description: "The role of the messages author, in this case tool."
                  "content":
                    anyOf:
                      - type: "string"
                      - type: "array"
                        items:
                          type: "string"
                    description: "The contents of the tool message."
                  "tool_call_id":
                    type: "string"
                    description: "Tool call that this message is responding to."
                required:
                  - "role"
                  - "content"
                  - "tool_call_id"
                title: "Tool message"
          description: "A list of messages to send to the deployment."
        "file_ids":
          type: "array"
          items:
            type: "string"
          description: "A list of file IDs that are associated with the deployment request."
        "metadata":
          type: "object"
          additionalProperties: {}
          description: "Key-value pairs that you want to attach to the log generated by this request."
        "extra_params":
          type: "object"
          additionalProperties: {}
          description: "Utilized for passing additional parameters to the model provider. Exercise caution when using this feature, as the included parameters will overwrite any parameters specified in the deployment prompt configuration."
        "documents":
          type: "array"
          items:
            type: "object"
            properties:
              "text":
                type: "string"
                description: "The text content of the document"
              "metadata":
                type: "object"
                properties:
                  "file_name":
                    type: "string"
                    description: "Name of the file the text is from."
                  "file_type":
                    type: "string"
                    description: "Content type of the file the text is from."
                  "page_number":
                    type: "number"
                    description: "The page number the text is from."
                description: "Metadata about the document"
            required:
              - "text"
          description: "A list of relevant documents that evaluators and guardrails can cite to evaluate the user input or the model response based on your deployment settings."
        "invoke_options":
          type: "object"
          properties:
            "include_retrievals":
              type: "boolean"
              default: false
              description: "Whether to include the retrieved knowledge chunks in the response."
            "mock_response":
              type: "string"
              description: "A mock response to use instead of calling the LLM API. This is useful for testing purposes. When provided, the system will return a response object with this content as the completion, without making an actual API call to the LLM provider. This works for both streaming and non-streaming requests. Mock responses will not generate logs, traces or be counted for your plan usage."
        "thread":
          type: "object"
          properties:
            "id":
              type: "string"
              description: "Unique thread identifier to group related invocations."
            "tags":
              type: "array"
              items:
                type: "string"
              description: "Optional tags to differentiate or categorize threads"
          required:
            - "id"
        "knowledge_filter":
          anyOf:
            - type: "object"
              additionalProperties:
                anyOf:
                  - type: "object"
                    properties:
                      "eq":
                        anyOf:
                          - type: "string"
                            description: "String"
                            title: "string"
                          - type: "number"
                            description: "Number"
                            title: "number"
                          - type: "boolean"
                            description: "Boolean"
                            title: "boolean"
                    required:
                      - "eq"
                    description: "Equal to"
                    title: "eq"
                  - type: "object"
                    properties:
                      "ne":
                        anyOf:
                          - type: "string"
                            description: "String"
                            title: "string"
                          - type: "number"
                            description: "Number"
                            title: "number"
                          - type: "boolean"
                            description: "Boolean"
                            title: "boolean"
                    required:
                      - "ne"
                    description: "Not equal to"
                    title: "ne"
                  - type: "object"
                    properties:
                      "gt":
                        type: "number"
                    required:
                      - "gt"
                  - type: "object"
                    properties:
                      "gte":
                        type: "number"
                    required:
                      - "gte"
                    description: "Greater than or equal to"
                    title: "gte"
                  - type: "object"
                    properties:
                      "lt":
                        type: "number"
                    required:
                      - "lt"
                    description: "Less than"
                    title: "lt"
                  - type: "object"
                    properties:
                      "lte":
                        type: "number"
                    required:
                      - "lte"
                    description: "Less than or equal to"
                    title: "lte"
                  - type: "object"
                    properties:
                      "in":
                        type: "array"
                        items:
                          anyOf:
                            - type: "string"
                              description: "String"
                              title: "string"
                            - type: "number"
                              description: "Number"
                              title: "number"
                            - type: "boolean"
                              description: "Boolean"
                              title: "boolean"
                    required:
                      - "in"
                    description: "In"
                    title: "in"
                  - type: "object"
                    properties:
                      "nin":
                        type: "array"
                        items:
                          anyOf:
                            - type: "string"
                              description: "String"
                              title: "string"
                            - type: "number"
                              description: "Number"
                              title: "number"
                            - type: "boolean"
                              description: "Boolean"
                              title: "boolean"
                    required:
                      - "nin"
                    description: "Not in"
                    title: "nin"
                  - type: "object"
                    properties:
                      "exists":
                        type: "boolean"
                    required:
                      - "exists"
                    description: "Exists"
                    title: "exists"
              title: "Search operator"
            - type: "object"
              properties:
                "and":
                  type: "array"
                  items:
                    type: "object"
                    additionalProperties:
                      anyOf:
                        - type: "object"
                          properties:
                            "eq":
                              anyOf:
                                - type: "string"
                                  description: "String"
                                  title: "string"
                                - type: "number"
                                  description: "Number"
                                  title: "number"
                                - type: "boolean"
                                  description: "Boolean"
                                  title: "boolean"
                          required:
                            - "eq"
                          description: "Equal to"
                          title: "eq"
                        - type: "object"
                          properties:
                            "ne":
                              anyOf:
                                - type: "string"
                                  description: "String"
                                  title: "string"
                                - type: "number"
                                  description: "Number"
                                  title: "number"
                                - type: "boolean"
                                  description: "Boolean"
                                  title: "boolean"
                          required:
                            - "ne"
                          description: "Not equal to"
                          title: "ne"
                        - type: "object"
                          properties:
                            "gt":
                              type: "number"
                          required:
                            - "gt"
                        - type: "object"
                          properties:
                            "gte":
                              type: "number"
                          required:
                            - "gte"
                          description: "Greater than or equal to"
                          title: "gte"
                        - type: "object"
                          properties:
                            "lt":
                              type: "number"
                          required:
                            - "lt"
                          description: "Less than"
                          title: "lt"
                        - type: "object"
                          properties:
                            "lte":
                              type: "number"
                          required:
                            - "lte"
                          description: "Less than or equal to"
                          title: "lte"
                        - type: "object"
                          properties:
                            "in":
                              type: "array"
                              items:
                                anyOf:
                                  - type: "string"
                                    description: "String"
                                    title: "string"
                                  - type: "number"
                                    description: "Number"
                                    title: "number"
                                  - type: "boolean"
                                    description: "Boolean"
                                    title: "boolean"
                          required:
                            - "in"
                          description: "In"
                          title: "in"
                        - type: "object"
                          properties:
                            "nin":
                              type: "array"
                              items:
                                anyOf:
                                  - type: "string"
                                    description: "String"
                                    title: "string"
                                  - type: "number"
                                    description: "Number"
                                    title: "number"
                                  - type: "boolean"
                                    description: "Boolean"
                                    title: "boolean"
                          required:
                            - "nin"
                          description: "Not in"
                          title: "nin"
                        - type: "object"
                          properties:
                            "exists":
                              type: "boolean"
                          required:
                            - "exists"
                          description: "Exists"
                          title: "exists"
              required:
                - "and"
              description: "And"
              title: "and"
            - type: "object"
              properties:
                "or":
                  type: "array"
                  items:
                    type: "object"
                    additionalProperties:
                      anyOf:
                        - type: "object"
                          properties:
                            "eq":
                              anyOf:
                                - type: "string"
                                  description: "String"
                                  title: "string"
                                - type: "number"
                                  description: "Number"
                                  title: "number"
                                - type: "boolean"
                                  description: "Boolean"
                                  title: "boolean"
                          required:
                            - "eq"
                          description: "Equal to"
                          title: "eq"
                        - type: "object"
                          properties:
                            "ne":
                              anyOf:
                                - type: "string"
                                  description: "String"
                                  title: "string"
                                - type: "number"
                                  description: "Number"
                                  title: "number"
                                - type: "boolean"
                                  description: "Boolean"
                                  title: "boolean"
                          required:
                            - "ne"
                          description: "Not equal to"
                          title: "ne"
                        - type: "object"
                          properties:
                            "gt":
                              type: "number"
                          required:
                            - "gt"
                        - type: "object"
                          properties:
                            "gte":
                              type: "number"
                          required:
                            - "gte"
                          description: "Greater than or equal to"
                          title: "gte"
                        - type: "object"
                          properties:
                            "lt":
                              type: "number"
                          required:
                            - "lt"
                          description: "Less than"
                          title: "lt"
                        - type: "object"
                          properties:
                            "lte":
                              type: "number"
                          required:
                            - "lte"
                          description: "Less than or equal to"
                          title: "lte"
                        - type: "object"
                          properties:
                            "in":
                              type: "array"
                              items:
                                anyOf:
                                  - type: "string"
                                    description: "String"
                                    title: "string"
                                  - type: "number"
                                    description: "Number"
                                    title: "number"
                                  - type: "boolean"
                                    description: "Boolean"
                                    title: "boolean"
                          required:
                            - "in"
                          description: "In"
                          title: "in"
                        - type: "object"
                          properties:
                            "nin":
                              type: "array"
                              items:
                                anyOf:
                                  - type: "string"
                                    description: "String"
                                    title: "string"
                                  - type: "number"
                                    description: "Number"
                                    title: "number"
                                  - type: "boolean"
                                    description: "Boolean"
                                    title: "boolean"
                          required:
                            - "nin"
                          description: "Not in"
                          title: "nin"
                        - type: "object"
                          properties:
                            "exists":
                              type: "boolean"
                          required:
                            - "exists"
                          description: "Exists"
                          title: "exists"
              required:
                - "or"
              description: "Or"
              title: "or"
          description: "A filter to apply to the knowledge base chunk metadata when using  knowledge bases in the deployment."
      required:
        - "key"
    "DeploymentGetConfigResponse":
      type: "object"
      properties:
        "id":
          type: "string"
          description: "A unique identifier for the response. Can be used to add metrics to the transaction."
        "provider":
          type: "string"
          description: "The provider of the model"
        "model":
          type: "string"
          description: "The model of the configuration"
        "type":
          type: "string"
          enum:
            - "chat"
            - "completion"
            - "embedding"
            - "vision"
            - "image"
            - "tts"
            - "stt"
            - "rerank"
            - "moderations"
          description: "The type of the model. Current `chat`,`completion` and `image` are supported"
        "version":
          type: "string"
          description: "The current version of the deployment"
        "messages":
          type: "array"
          items:
            type: "object"
            properties:
              "role":
                type: "string"
                enum:
                  - "system"
                  - "assistant"
                  - "user"
                  - "exception"
                  - "tool"
                  - "prompt"
                  - "correction"
                  - "expected_output"
                description: "The role of the prompt message"
              "content":
                anyOf:
                  - type: "string"
                  - type: "array"
                    items:
                      oneOf:
                        - type: "object"
                          properties:
                            "type":
                              type: "string"
                              enum:
                                - "text"
                            "text":
                              type: "string"
                          required:
                            - "type"
                            - "text"
                          description: "Text content part of a prompt message"
                        - type: "object"
                          properties:
                            "type":
                              type: "string"
                              enum:
                                - "image_url"
                            "image_url":
                              type: "object"
                              properties:
                                "id":
                                  type: "string"
                                  format: "ulid"
                                  description: "The orq.ai id of the image"
                                  readOnly: true
                                "url":
                                  anyOf:
                                    - type: "string"
                                    - type: "string"
                                      format: "uri"
                                  description: "Either a URL of the image or the base64 encoded data URI."
                                  examples:
                                    - "https://picsum.photos/id/1/200/300"
                                    - "data:image/jpeg;base64,/9j/4QDcRXhpZgAASUkqAAgAAAAGABIBAwABAAAAAQAAABoBBQABAAAAVgAAABsBBQABAAAAXgAAACgBAwABAAAAAgAAABMCAwABAAAAAQAAAGmHBAABAAAAZgAAAAAAAABIAAAAAQAAAEgAAAABAAAABwAAkAcABAAAADAyMTABkQcABAAAAAECAwCGkgcAFAAAAMAAAAAAoAcABAAAADAxMDABoAMAAQAAAP//AAACoAQAAQAAADIAAAADoAQAAQAAADIAAAAAAAAAQVNDSUkAAABQaWNzdW0gSUQ6IDH/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wgARCAAyADIDASIAAhEBAxEB/8QAGgAAAwEBAQEAAAAAAAAAAAAAAAUGBAMCAf/EABgBAAMBAQAAAAAAAAAAAAAAAAACAwEE/9oADAMBAAIQAxAAAAGJ8VqTNw8a3ojTukdLSJLgZZlZdd6TV3CHYj9EWPM6bhUaNGKXfClLIL11F7/cfh02i8CpWBzWy5A6I+PgAAB//8QAIhAAAQQCAgIDAQAAAAAAAAAAAQACAwQSEwURFDIgISIj/9oACAEBAAEFAnQPYtaw6HSrfpk1Zpi6U1uqwOvALjX+aJeJ6RjdEYR/LS1X2a7q4WGdtkqbVqFlkbfMcrVEWn16sDBsmY+e+GQvsPmOYWSF47i5rI4ZjhycvcuZWX1sTao2TGJsBsvCL8iSs12nk4D2se/w/8QAHhEAAgIBBQEAAAAAAAAAAAAAAAECESEQEhMgMUH/2gAIAQMBAT8BErRHKo4is0RwSk2b5CT+lrWXnT//xAAbEQACAgMBAAAAAAAAAAAAAAAAAQIREiExIP/aAAgBAgEBPwEbpj1szFtWTVkYJGMRyiuFMssh3x//xAAqEAABAwIEBQMFAAAAAAAAAAABAAIRAxIQITFREyAiI2EyQXEEQlJigf/aAAgBAQAGPwLqGGYOeDmbqWDMYFjiah2aF2aFNnk9RVVv1HcjMSrqOmzlDha7D0hVNjnhfw3WFuqzU1Yt+FbTogjdxXoCFVz7Q0Q5TRYC78no3hwj3jpVwDS8+VLzOIMRC4tIxP27fHhERcVaCMtYHJ+moVmU+wC1IKnm/nL/AP/EACIQAAICAgEEAwEAAAAAAAAAAAERACExQVEQYXGBobHB0f/aAAgBAQABPyEgQjvByg05hUo2LiFjFYI7W43EDiVaHswr6T+yviNWy8EGiuNR40cj6MPOzDuOGmTHfziwMq+76EShwYJ8LmPkvUA0DK7y8RUIwU4Wf1moJxadQT0/YfMYyGLPkJiCZ6Rw+gHEOyLDRUgnkkfo7QoEZmabf4SsxCxwB3gBm9QgAYBbhGy6dySFOwYVeIcGHyxFUUo4LJ6JIxoBUkQiSuY4Ooc9f//aAAwDAQACAAMAAAAQK/6xMJVNTaRAi9cA/8QAHBEBAQEAAgMBAAAAAAAAAAAAAQARECExQVFh/9oACAEDAQE/ENJdCAjLX2X0Wzsr5v0mqx7MJOb3z//EAB0RAQEBAAAHAAAAAAAAAAAAAAEAERAgITFhcaH/2gAIAQIBAT8QxhwZqxessJqwhet4oA+Y0FeQTtx//8QAIxABAAICAQUAAgMAAAAAAAAAAQARITFBUWFxgZEQobHB0f/aAAgBAQABPxB2tTC0xLVUH7haUN2g1vP+RNGh8gq4UTGuGBUZ4MHv3iLSr8RIRqqi6Yv1carl4onc0eoWxjg8RD1aVFzk6f6b9/Y70zAti+Kx71GvjJeYuVsc6QwgBr5D/a/xfW1rFYoOcjjrK7p8CjoUUGXu5eMk0ZEmr6iVhzq4Hhj0LyLoGUvPiDGiXFOoUx6C6YKtA/EOTpu4FoAQGnL1SFVoWNDsQt27RtZg8GOQ6mm5/hiDjAW62BbV23sLxFbn20oMclu8B8lPIPaU4y+1hNDrowVllngQ2LIsGVq3iXxdrsPZu+8NsVhdHaO+tLVdwQ3CKME80BZTdNRSUt7WbPXP6zm5YlVv5//Z"
                                "detail":
                                  type: "string"
                                  description: "Specifies the detail level of the image. Currently only supported with OpenAI models"
                              required:
                                - "url"
                          required:
                            - "type"
                            - "image_url"
                          description: "The image part of the prompt message. Only supported with vision models."
                        - type: "object"
                          properties:
                            "type":
                              type: "string"
                              enum:
                                - "file"
                              description: "The type of the content part. Always `file`."
                            "file":
                              type: "object"
                              properties:
                                "file_data":
                                  type: "string"
                                  description: "The file data as a data URI string in the format 'data:<mime-type>;base64,<base64-encoded-data>'. Example: 'data:image/png;base64,iVBORw0KGgoAAAANS...'"
                                "filename":
                                  type: "string"
                                  description: "The name of the file, used when passing the file to the model as a string."
                              required:
                                - "file_data"
                          required:
                            - "type"
                            - "file"
                description: "The contents of the user message. Either the text content of the message or an array of content parts with a defined type, each can be of type `text` or `image_url` when passing in images. You can pass multiple images by adding multiple `image_url` content parts. "
              "tool_calls":
                type: "array"
                items:
                  type: "object"
                  properties:
                    "id":
                      type: "string"
                    "index":
                      type: "number"
                    "type":
                      type: "string"
                      enum:
                        - "function"
                    "function":
                      type: "object"
                      properties:
                        "name":
                          type: "string"
                        "arguments":
                          type: "string"
                          description: "JSON string arguments for the functions"
                      required:
                        - "name"
                        - "arguments"
                  required:
                    - "type"
                    - "function"
              "tool_call_id":
                type: "string"
            required:
              - "role"
              - "content"
        "parameters":
          type: "object"
          properties:
            "temperature":
              type: "number"
              description: "Only supported on `chat` and `completion` models."
            "maxTokens":
              type: "number"
              description: "Only supported on `chat` and `completion` models."
            "topK":
              type: "number"
              description: "Only supported on `chat` and `completion` models."
            "topP":
              type: "number"
              description: "Only supported on `chat` and `completion` models."
            "frequencyPenalty":
              type: "number"
              description: "Only supported on `chat` and `completion` models."
            "presencePenalty":
              type: "number"
              description: "Only supported on `chat` and `completion` models."
            "numImages":
              type: "number"
              description: "Only supported on `image` models."
            "seed":
              type: "number"
              description: "Best effort deterministic seed for the model. Currently only OpenAI models support these"
            "format":
              type: "string"
              enum:
                - "url"
                - "b64_json"
                - "text"
                - "json_object"
              description: "Only supported on `image` models."
            "dimensions":
              type: "string"
              description: "Only supported on `image` models."
            "quality":
              type: "string"
              description: "Only supported on `image` models."
            "style":
              type: "string"
              description: "Only supported on `image` models."
            "responseFormat":
              oneOf:
                - type: "object"
                  properties:
                    "type":
                      type: "string"
                      enum:
                        - "json_schema"
                    "json_schema":
                      type: "object"
                      properties:
                        "name":
                          type: "string"
                        "strict":
                          type: "boolean"
                        "schema":
                          type: "object"
                          additionalProperties: {}
                      required:
                        - "name"
                        - "schema"
                  required:
                    - "type"
                    - "json_schema"
                - type: "object"
                  properties:
                    "type":
                      type: "string"
                      enum:
                        - "json_object"
                  required:
                    - "type"
                - type: "object"
                  properties:
                    "type":
                      type: "string"
                      enum:
                        - "text"
                  required:
                    - "type"
                - type: "null"
              description: "An object specifying the format that the model must output. \n\n Setting to `{ \"type\": \"json_schema\", \"json_schema\": {...} }` enables Structured Outputs which ensures the model will match your supplied JSON schema \n\n Setting to `{ \"type\": \"json_object\" }` enables JSON mode, which ensures the message the model generates is valid JSON.\n\nImportant: when using JSON mode, you must also instruct the model to produce JSON yourself via a system or user message. Without this, the model may generate an unending stream of whitespace until the generation reaches the token limit, resulting in a long-running and seemingly \"stuck\" request. Also note that the message content may be partially cut off if finish_reason=\"length\", which indicates the generation exceeded max_tokens or the conversation exceeded the max context length."
            "photoRealVersion":
              type: "string"
              enum:
                - "v1"
                - "v2"
              description: "The version of photoReal to use. Must be v1 or v2. Only available for `leonardoai` provider"
            "encoding_format":
              type: "string"
              enum:
                - "float"
                - "base64"
              description: "The format to return the embeddings"
            "reasoningEffort":
              type: "string"
              enum:
                - "disable"
                - "low"
                - "medium"
                - "high"
              description: "Constrains effort on reasoning for reasoning models. Reducing reasoning effort can result in faster responses and fewer tokens used on reasoning in a response."
            "budgetTokens":
              type: "number"
              description: "Gives the model enhanced reasoning capabilities for complex tasks. A value of 0 disables thinking. The minimum budget tokens for thinking are 1024. The Budget Tokens should never exceed the Max Tokens parameter. Only supported by `Anthropic` "
            "verbosity":
              type: "string"
              enum:
                - "low"
                - "medium"
                - "high"
              description: "Controls the verbosity of the model output."
          description: "Model Parameters: Not all parameters apply to every model"
        "tools":
          type: "array"
          items:
            type: "object"
            properties:
              "type":
                type: "string"
                enum:
                  - "function"
                description: "The type of the tool. Currently, only `function` is supported."
              "function":
                type: "object"
                properties:
                  "name":
                    type: "string"
                    description: "The name of the function to be called. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64."
                  "description":
                    type: "string"
                    description: "A description of what the function does, used by the model to choose when and how to call the function."
                  "parameters":
                    type: "object"
                    additionalProperties: {}
                    description: "The parameters the functions accepts, described as a JSON Schema object. \n\n Omitting `parameters` defines a function with an empty parameter list."
                required:
                  - "name"
            required:
              - "type"
              - "function"
          description: "A list of tools the model may call. Currently, only functions are supported as a tool. Use this to provide a list of functions the model may generate JSON inputs for."
      required:
        - "id"
        - "provider"
        - "model"
        - "version"
        - "messages"
        - "parameters"
    "DeploymentMetricsRequest":
      type: "object"
      properties:
        "metadata":
          type: "object"
          additionalProperties: {}
          description: "Your own custom key-value pairs can be attached to the logs. This is useful for storing additional information related to your interactions with the LLM providers or specifics within your application."
        "usage":
          type: "object"
          properties:
            "prompt_tokens":
              type: "number"
              description: "Number of tokens in the prompt."
            "completion_tokens":
              type: "number"
              description: "Number of tokens in the generated completion."
            "total_tokens":
              type: "number"
              description: "Total number of tokens used in the request (prompt + completion)."
          required:
            - "prompt_tokens"
            - "completion_tokens"
          description: "Usage statistics to add to the deployment"
        "performance":
          type: "object"
          properties:
            "latency":
              type: "number"
              description: "Total time in milliseconds of the request to the LLM provider API."
            "time_to_first_token":
              type: "number"
              description: "Total time in milliseconds to generate the first token of the completion."
          required:
            - "latency"
        "messages":
          type: "array"
          items:
            oneOf:
              - type: "object"
                properties:
                  "role":
                    type: "string"
                    enum:
                      - "developer"
                    description: "The role of the messages author, in this case  `developer`."
                  "content":
                    type: "string"
                    description: "The contents of the developer message."
                  "name":
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                required:
                  - "role"
                  - "content"
                title: "Developer message"
              - type: "object"
                properties:
                  "role":
                    type: "string"
                    enum:
                      - "system"
                    description: "The role of the messages author, in this case `system`."
                  "content":
                    type: "string"
                    description: "The contents of the system message."
                  "name":
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                required:
                  - "role"
                  - "content"
                title: "System message"
              - type: "object"
                properties:
                  "role":
                    type: "string"
                    enum:
                      - "user"
                    description: "The role of the messages author, in this case `user`."
                  "name":
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                  "content":
                    anyOf:
                      - type: "string"
                        description: "The text contents of the message."
                      - type: "array"
                        items:
                          oneOf:
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "text"
                                "text":
                                  type: "string"
                              required:
                                - "type"
                                - "text"
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "image_url"
                                "image_url":
                                  type: "object"
                                  properties:
                                    "url":
                                      type: "string"
                                      description: "Either a URL of the image or the base64 encoded image data."
                                    "detail":
                                      type: "string"
                                      enum:
                                        - "low"
                                        - "high"
                                        - "auto"
                                      description: "Specifies the detail level of the image."
                                  required:
                                    - "url"
                              required:
                                - "type"
                                - "image_url"
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "input_audio"
                                "input_audio":
                                  type: "object"
                                  properties:
                                    "data":
                                      type: "string"
                                      description: "Base64 encoded audio data."
                                    "format":
                                      type: "string"
                                      enum:
                                        - "mp3"
                                        - "wav"
                                      description: "The format of the encoded audio data. Currently supports `wav` and `mp3`."
                                  required:
                                    - "data"
                                    - "format"
                              required:
                                - "type"
                                - "input_audio"
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "file"
                                  description: "The type of the content part. Always `file`."
                                "file":
                                  type: "object"
                                  properties:
                                    "file_data":
                                      type: "string"
                                      description: "The file data as a data URI string in the format 'data:<mime-type>;base64,<base64-encoded-data>'. Example: 'data:image/png;base64,iVBORw0KGgoAAAANS...'"
                                    "filename":
                                      type: "string"
                                      description: "The name of the file, used when passing the file to the model as a string."
                                  required:
                                    - "file_data"
                                    - "filename"
                              required:
                                - "type"
                                - "file"
                        description: "An array of content parts with a defined type. Supported options differ based on the model being used to generate the response. Can contain text, image, or audio inputs."
                    description: "The contents of the user message."
                required:
                  - "role"
                  - "content"
                title: "User message"
              - type: "object"
                properties:
                  "content":
                    anyOf:
                      - type: "string"
                        description: "The contents of the assistant message."
                      - type: "array"
                        items:
                          oneOf:
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "text"
                                  description: "The type of the content part."
                                "text":
                                  type: "string"
                                  description: "The text content."
                                "annotations":
                                  type: "array"
                                  items:
                                    oneOf:
                                      - type: "object"
                                        properties:
                                          "type":
                                            type: "string"
                                            enum:
                                              - "file_citation"
                                          "text":
                                            type: "string"
                                          "file_citation":
                                            type: "object"
                                            properties:
                                              "file_id":
                                                type: "string"
                                              "quote":
                                                type: "string"
                                            required:
                                              - "file_id"
                                          "start_index":
                                            type: "integer"
                                          "end_index":
                                            type: "integer"
                                        required:
                                          - "type"
                                          - "text"
                                          - "file_citation"
                                          - "start_index"
                                          - "end_index"
                                      - type: "object"
                                        properties:
                                          "type":
                                            type: "string"
                                            enum:
                                              - "file_path"
                                          "text":
                                            type: "string"
                                          "file_path":
                                            type: "object"
                                            properties:
                                              "file_id":
                                                type: "string"
                                            required:
                                              - "file_id"
                                          "start_index":
                                            type: "integer"
                                          "end_index":
                                            type: "integer"
                                        required:
                                          - "type"
                                          - "text"
                                          - "file_path"
                                          - "start_index"
                                          - "end_index"
                                  description: "Annotations for the text content."
                              required:
                                - "type"
                                - "text"
                              title: "Text content part"
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "refusal"
                                  description: "The type of the content part."
                                "refusal":
                                  type: "string"
                                  description: "The refusal message generated by the model."
                              required:
                                - "type"
                                - "refusal"
                              title: "Refusal content part"
                        description: "An array of content parts with a defined type. Can be one or more of type `text`, or exactly one of type `refusal`."
                      - type: "null"
                    description: "The contents of the assistant message. Required unless `tool_calls` or `function_call` is specified."
                  "refusal":
                    type:
                      - "string"
                      - "null"
                    description: "The refusal message by the assistant."
                  "role":
                    type: "string"
                    enum:
                      - "assistant"
                    description: "The role of the messages author, in this case `assistant`."
                  "name":
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                  "audio":
                    type:
                      - "object"
                      - "null"
                    properties:
                      "id":
                        type: "string"
                        description: "Unique identifier for a previous audio response from the model."
                    required:
                      - "id"
                    description: "Data about a previous audio response from the model. "
                  "tool_calls":
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        "id":
                          type: "string"
                          description: "The ID of the tool call."
                        "type":
                          type: "string"
                          enum:
                            - "function"
                          description: "The type of the tool. Currently, only `function` is supported."
                        "function":
                          type: "object"
                          properties:
                            "name":
                              type: "string"
                              description: "The name of the function to call."
                            "arguments":
                              type: "string"
                              description: "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function."
                      required:
                        - "id"
                        - "type"
                        - "function"
                    description: "The tool calls generated by the model, such as function calls."
                  "reasoning":
                    type: "string"
                    description: "Internal thought process of the model"
                  "reasoning_signature":
                    type: "string"
                    description: "The signature holds a cryptographic token which verifies that the thinking block was generated by the model, and is verified when thinking is part of a multiturn conversation. This value should not be modified and should always be sent to the API when the reasoning is redacted. Currently only supported by `Anthropic`."
                  "redacted_reasoning":
                    type: "string"
                    description: "Occasionally the model's internal reasoning will be flagged by the safety systems of the provider. When this occurs, the provider will encrypt the reasoning. These redacted reasoning is decrypted when passed back to the API, allowing the model to continue its response without losing context."
                required:
                  - "role"
                title: "Assistant message"
              - type: "object"
                properties:
                  "role":
                    type: "string"
                    enum:
                      - "tool"
                    description: "The role of the messages author, in this case tool."
                  "content":
                    anyOf:
                      - type: "string"
                      - type: "array"
                        items:
                          type: "string"
                    description: "The contents of the tool message."
                  "tool_call_id":
                    type: "string"
                    description: "Tool call that this message is responding to."
                required:
                  - "role"
                  - "content"
                  - "tool_call_id"
                title: "Tool message"
          description: "A list of messages sent to the model."
        "choices":
          type: "array"
          items:
            oneOf:
              - type: "object"
                properties:
                  "role":
                    type: "string"
                    enum:
                      - "developer"
                    description: "The role of the messages author, in this case  `developer`."
                  "content":
                    type: "string"
                    description: "The contents of the developer message."
                  "name":
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                required:
                  - "role"
                  - "content"
                title: "Developer message"
              - type: "object"
                properties:
                  "role":
                    type: "string"
                    enum:
                      - "system"
                    description: "The role of the messages author, in this case `system`."
                  "content":
                    type: "string"
                    description: "The contents of the system message."
                  "name":
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                required:
                  - "role"
                  - "content"
                title: "System message"
              - type: "object"
                properties:
                  "role":
                    type: "string"
                    enum:
                      - "user"
                    description: "The role of the messages author, in this case `user`."
                  "name":
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                  "content":
                    anyOf:
                      - type: "string"
                        description: "The text contents of the message."
                      - type: "array"
                        items:
                          oneOf:
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "text"
                                "text":
                                  type: "string"
                              required:
                                - "type"
                                - "text"
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "image_url"
                                "image_url":
                                  type: "object"
                                  properties:
                                    "url":
                                      type: "string"
                                      description: "Either a URL of the image or the base64 encoded image data."
                                    "detail":
                                      type: "string"
                                      enum:
                                        - "low"
                                        - "high"
                                        - "auto"
                                      description: "Specifies the detail level of the image."
                                  required:
                                    - "url"
                              required:
                                - "type"
                                - "image_url"
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "input_audio"
                                "input_audio":
                                  type: "object"
                                  properties:
                                    "data":
                                      type: "string"
                                      description: "Base64 encoded audio data."
                                    "format":
                                      type: "string"
                                      enum:
                                        - "mp3"
                                        - "wav"
                                      description: "The format of the encoded audio data. Currently supports `wav` and `mp3`."
                                  required:
                                    - "data"
                                    - "format"
                              required:
                                - "type"
                                - "input_audio"
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "file"
                                  description: "The type of the content part. Always `file`."
                                "file":
                                  type: "object"
                                  properties:
                                    "file_data":
                                      type: "string"
                                      description: "The file data as a data URI string in the format 'data:<mime-type>;base64,<base64-encoded-data>'. Example: 'data:image/png;base64,iVBORw0KGgoAAAANS...'"
                                    "filename":
                                      type: "string"
                                      description: "The name of the file, used when passing the file to the model as a string."
                                  required:
                                    - "file_data"
                                    - "filename"
                              required:
                                - "type"
                                - "file"
                        description: "An array of content parts with a defined type. Supported options differ based on the model being used to generate the response. Can contain text, image, or audio inputs."
                    description: "The contents of the user message."
                required:
                  - "role"
                  - "content"
                title: "User message"
              - type: "object"
                properties:
                  "content":
                    anyOf:
                      - type: "string"
                        description: "The contents of the assistant message."
                      - type: "array"
                        items:
                          oneOf:
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "text"
                                  description: "The type of the content part."
                                "text":
                                  type: "string"
                                  description: "The text content."
                                "annotations":
                                  type: "array"
                                  items:
                                    oneOf:
                                      - type: "object"
                                        properties:
                                          "type":
                                            type: "string"
                                            enum:
                                              - "file_citation"
                                          "text":
                                            type: "string"
                                          "file_citation":
                                            type: "object"
                                            properties:
                                              "file_id":
                                                type: "string"
                                              "quote":
                                                type: "string"
                                            required:
                                              - "file_id"
                                          "start_index":
                                            type: "integer"
                                          "end_index":
                                            type: "integer"
                                        required:
                                          - "type"
                                          - "text"
                                          - "file_citation"
                                          - "start_index"
                                          - "end_index"
                                      - type: "object"
                                        properties:
                                          "type":
                                            type: "string"
                                            enum:
                                              - "file_path"
                                          "text":
                                            type: "string"
                                          "file_path":
[...]
