info:
  title: "orq.ai API"
  version: "2.0"
  description: "orq.ai API documentation"
security:
  - ApiKey: []
servers:
  - url: https://my.orq.ai
openapi: "3.1.0"
x-speakeasy-timeout: 600000
externalDocs:
  url: "https://docs.orq.ai"
  description: "orq.ai Documentation"
components:
  securitySchemes:
    ApiKey:
      type: "http"
      scheme: "bearer"
      bearerFormat: "JWT"
  schemas:
    InvokeDeploymentRequest:
      type: "object"
      properties:
        key:
          type: "string"
          description: "The deployment key to invoke"
        stream:
          type: "boolean"
          default: false
          description: "If set, partial message content will be sent. Tokens will be sent as data-only `server-sent events` as they become available, with the stream terminated by a `data: [DONE]` message."
        inputs:
          type: "object"
          additionalProperties: {}
          description: "Key-value pairs variables to replace in your prompts. If a variable is not provided that is defined in the prompt, the default variables are used."
        context:
          type: "object"
          additionalProperties: {}
          description: "Key-value pairs that match your data model and fields declared in your deployment routing configuration"
        prefix_messages:
          type: "array"
          items:
            oneOf:
              - type: "object"
                properties:
                  role:
                    type: "string"
                    enum:
                      - "system"
                    description: "The role of the messages author, in this case `system`."
                  content:
                    anyOf:
                      - type: "string"
                        description: "The contents of the system message."
                      - type: "array"
                        items:
                          $ref: "#/components/schemas/TextContentPartSchema"
                        minItems: 1
                        description: "An array of content parts with a defined type. For system messages, only type `text` is supported."
                    description: "The contents of the system message."
                  name:
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                required:
                  - "role"
                  - "content"
                title: "System message"
                description: "Developer-provided instructions that the model should follow, regardless of messages sent by the user."
              - type: "object"
                properties:
                  role:
                    type: "string"
                    enum:
                      - "developer"
                    description: "The role of the messages author, in this case  `developer`."
                  content:
                    anyOf:
                      - type: "string"
                        description: "The contents of the system message."
                      - type: "array"
                        items:
                          $ref: "#/components/schemas/TextContentPartSchema"
                        minItems: 1
                        description: "An array of content parts with a defined type. For system messages, only type `text` is supported."
                    description: "The contents of the developer message."
                  name:
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                required:
                  - "role"
                  - "content"
                title: "Developer message"
              - type: "object"
                properties:
                  role:
                    type: "string"
                    enum:
                      - "user"
                    description: "The role of the messages author, in this case `user`."
                  name:
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                  content:
                    anyOf:
                      - type: "string"
                        description: "The text contents of the message."
                      - type: "array"
                        items:
                          oneOf:
                            - $ref: "#/components/schemas/TextContentPartSchema"
                            - $ref: "#/components/schemas/ImageContentPartSchema"
                            - $ref: "#/components/schemas/AudioContentPartSchema"
                            - type: "object"
                              properties:
                                type:
                                  type: "string"
                                  enum:
                                    - "file"
                                  description: "The type of the content part. Always `file`."
                                cache_control:
                                  type: "object"
                                  properties:
                                    type:
                                      type: "string"
                                      enum:
                                        - "ephemeral"
                                      description: "Create a cache control breakpoint at this content block. Accepts only the value \"ephemeral\"."
                                    ttl:
                                      type: "string"
                                      enum:
                                        - "5m"
                                        - "1h"
                                      default: "5m"
                                      description: "The time-to-live for the cache control breakpoint. This may be one of the following values:\n\n- `5m`: 5 minutes\n- `1h`: 1 hour\n\nDefaults to `5m`. Only supported by `Anthropic` Claude models."
                                  required:
                                    - "type"
                                file:
                                  $ref: "#/components/schemas/FileContentPartSchema"
                              required:
                                - "type"
                                - "file"
                        description: "An array of content parts with a defined type. Supported options differ based on the model being used to generate the response. Can contain text, image, or audio inputs."
                    description: "The contents of the user message."
                required:
                  - "role"
                  - "content"
                title: "User message"
              - type: "object"
                properties:
                  content:
                    anyOf:
                      - type: "string"
                        description: "The contents of the assistant message."
                      - type: "array"
                        items:
                          oneOf:
                            - $ref: "#/components/schemas/TextContentPartSchema"
                            - $ref: "#/components/schemas/RefusalPartSchema"
                            - $ref: "#/components/schemas/ReasoningPartSchema"
                            - $ref: "#/components/schemas/RedactedReasoningPartSchema"
                          discriminator:
                            propertyName: "type"
                            mapping:
                              text: "#/components/schemas/TextContentPartSchema"
                              refusal: "#/components/schemas/RefusalPartSchema"
                              reasoning: "#/components/schemas/ReasoningPartSchema"
                              redacted_reasoning: "#/components/schemas/RedactedReasoningPartSchema"
                        description: "An array of content parts with a defined type. Can be one or more of type `text`, or exactly one of type `refusal`."
                      - type: "null"
                    description: "The contents of the assistant message. Required unless `tool_calls` or `function_call` is specified."
                  refusal:
                    type:
                      - "string"
                      - "null"
                    description: "The refusal message by the assistant."
                  role:
                    type: "string"
                    enum:
                      - "assistant"
                    description: "The role of the messages author, in this case `assistant`."
                  name:
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                  audio:
                    type:
                      - "object"
                      - "null"
                    properties:
                      id:
                        type: "string"
                        description: "Unique identifier for a previous audio response from the model."
                    required:
                      - "id"
                    description: "Data about a previous audio response from the model. "
                  tool_calls:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        id:
                          type: "string"
                          description: "The ID of the tool call."
                        type:
                          type: "string"
                          enum:
                            - "function"
                          description: "The type of the tool. Currently, only `function` is supported."
                        function:
                          type: "object"
                          properties:
                            name:
                              type: "string"
                              description: "The name of the function to call."
                            arguments:
                              type: "string"
                              description: "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function."
                        thought_signature:
                          type: "string"
                          description: "Encrypted representation of the model internal reasoning state during function calling. Required by Gemini 3 models when continuing a conversation after a tool call."
                      required:
                        - "id"
                        - "type"
                        - "function"
                    description: "The tool calls generated by the model, such as function calls."
                required:
                  - "role"
                title: "Assistant message"
              - type: "object"
                properties:
                  role:
                    type: "string"
                    enum:
                      - "tool"
                    description: "The role of the messages author, in this case tool."
                  content:
                    anyOf:
                      - type: "string"
                      - type: "array"
                        items:
                          oneOf:
                            - $ref: "#/components/schemas/TextContentPartSchema"
                          discriminator:
                            propertyName: "type"
                            mapping:
                              text: "#/components/schemas/TextContentPartSchema"
                    description: "The contents of the tool message."
                  tool_call_id:
                    type:
                      - "string"
                      - "null"
                    description: "Tool call that this message is responding to."
                  cache_control:
                    type: "object"
                    properties:
                      type:
                        type: "string"
                        enum:
                          - "ephemeral"
                        description: "Create a cache control breakpoint at this content block. Accepts only the value \"ephemeral\"."
                      ttl:
                        type: "string"
                        enum:
                          - "5m"
                          - "1h"
                        default: "5m"
                        description: "The time-to-live for the cache control breakpoint. This may be one of the following values:\n\n- `5m`: 5 minutes\n- `1h`: 1 hour\n\nDefaults to `5m`. Only supported by `Anthropic` Claude models."
                    required:
                      - "type"
                required:
                  - "role"
                  - "content"
                  - "tool_call_id"
                title: "Tool message"
          description: "A list of messages to include after the `System` message, but before the  `User` and `Assistant` pairs configured in your deployment."
        messages:
          type: "array"
          items:
            oneOf:
              - type: "object"
                properties:
                  role:
                    type: "string"
                    enum:
                      - "system"
                    description: "The role of the messages author, in this case `system`."
                  content:
                    anyOf:
                      - type: "string"
                        description: "The contents of the system message."
                      - type: "array"
                        items:
                          $ref: "#/components/schemas/TextContentPartSchema"
                        minItems: 1
                        description: "An array of content parts with a defined type. For system messages, only type `text` is supported."
                    description: "The contents of the system message."
                  name:
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                required:
                  - "role"
                  - "content"
                title: "System message"
                description: "Developer-provided instructions that the model should follow, regardless of messages sent by the user."
              - type: "object"
                properties:
                  role:
                    type: "string"
                    enum:
                      - "developer"
                    description: "The role of the messages author, in this case  `developer`."
                  content:
                    anyOf:
                      - type: "string"
                        description: "The contents of the system message."
                      - type: "array"
                        items:
                          $ref: "#/components/schemas/TextContentPartSchema"
                        minItems: 1
                        description: "An array of content parts with a defined type. For system messages, only type `text` is supported."
                    description: "The contents of the developer message."
                  name:
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                required:
                  - "role"
                  - "content"
                title: "Developer message"
              - type: "object"
                properties:
                  role:
                    type: "string"
                    enum:
                      - "user"
                    description: "The role of the messages author, in this case `user`."
                  name:
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                  content:
                    anyOf:
                      - type: "string"
                        description: "The text contents of the message."
                      - type: "array"
                        items:
                          oneOf:
                            - $ref: "#/components/schemas/TextContentPartSchema"
                            - $ref: "#/components/schemas/ImageContentPartSchema"
                            - $ref: "#/components/schemas/AudioContentPartSchema"
                            - type: "object"
                              properties:
                                type:
                                  type: "string"
                                  enum:
                                    - "file"
                                  description: "The type of the content part. Always `file`."
                                cache_control:
                                  type: "object"
                                  properties:
                                    type:
                                      type: "string"
                                      enum:
                                        - "ephemeral"
                                      description: "Create a cache control breakpoint at this content block. Accepts only the value \"ephemeral\"."
                                    ttl:
                                      type: "string"
                                      enum:
                                        - "5m"
                                        - "1h"
                                      default: "5m"
                                      description: "The time-to-live for the cache control breakpoint. This may be one of the following values:\n\n- `5m`: 5 minutes\n- `1h`: 1 hour\n\nDefaults to `5m`. Only supported by `Anthropic` Claude models."
                                  required:
                                    - "type"
                                file:
                                  $ref: "#/components/schemas/FileContentPartSchema"
                              required:
                                - "type"
                                - "file"
                        description: "An array of content parts with a defined type. Supported options differ based on the model being used to generate the response. Can contain text, image, or audio inputs."
                    description: "The contents of the user message."
                required:
                  - "role"
                  - "content"
                title: "User message"
              - type: "object"
                properties:
                  content:
                    anyOf:
                      - type: "string"
                        description: "The contents of the assistant message."
                      - type: "array"
                        items:
                          oneOf:
                            - $ref: "#/components/schemas/TextContentPartSchema"
                            - $ref: "#/components/schemas/RefusalPartSchema"
                            - $ref: "#/components/schemas/ReasoningPartSchema"
                            - $ref: "#/components/schemas/RedactedReasoningPartSchema"
                          discriminator:
                            propertyName: "type"
                            mapping:
                              text: "#/components/schemas/TextContentPartSchema"
                              refusal: "#/components/schemas/RefusalPartSchema"
                              reasoning: "#/components/schemas/ReasoningPartSchema"
                              redacted_reasoning: "#/components/schemas/RedactedReasoningPartSchema"
                        description: "An array of content parts with a defined type. Can be one or more of type `text`, or exactly one of type `refusal`."
                      - type: "null"
                    description: "The contents of the assistant message. Required unless `tool_calls` or `function_call` is specified."
                  refusal:
                    type:
                      - "string"
                      - "null"
                    description: "The refusal message by the assistant."
                  role:
                    type: "string"
                    enum:
                      - "assistant"
                    description: "The role of the messages author, in this case `assistant`."
                  name:
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                  audio:
                    type:
                      - "object"
                      - "null"
                    properties:
                      id:
                        type: "string"
                        description: "Unique identifier for a previous audio response from the model."
                    required:
                      - "id"
                    description: "Data about a previous audio response from the model. "
                  tool_calls:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        id:
                          type: "string"
                          description: "The ID of the tool call."
                        type:
                          type: "string"
                          enum:
                            - "function"
                          description: "The type of the tool. Currently, only `function` is supported."
                        function:
                          type: "object"
                          properties:
                            name:
                              type: "string"
                              description: "The name of the function to call."
                            arguments:
                              type: "string"
                              description: "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function."
                        thought_signature:
                          type: "string"
                          description: "Encrypted representation of the model internal reasoning state during function calling. Required by Gemini 3 models when continuing a conversation after a tool call."
                      required:
                        - "id"
                        - "type"
                        - "function"
                    description: "The tool calls generated by the model, such as function calls."
                required:
                  - "role"
                title: "Assistant message"
              - type: "object"
                properties:
                  role:
                    type: "string"
                    enum:
                      - "tool"
                    description: "The role of the messages author, in this case tool."
                  content:
                    anyOf:
                      - type: "string"
                      - type: "array"
                        items:
                          oneOf:
                            - $ref: "#/components/schemas/TextContentPartSchema"
                          discriminator:
                            propertyName: "type"
                            mapping:
                              text: "#/components/schemas/TextContentPartSchema"
                    description: "The contents of the tool message."
                  tool_call_id:
                    type:
                      - "string"
                      - "null"
                    description: "Tool call that this message is responding to."
                  cache_control:
                    type: "object"
                    properties:
                      type:
                        type: "string"
                        enum:
                          - "ephemeral"
                        description: "Create a cache control breakpoint at this content block. Accepts only the value \"ephemeral\"."
                      ttl:
                        type: "string"
                        enum:
                          - "5m"
                          - "1h"
                        default: "5m"
                        description: "The time-to-live for the cache control breakpoint. This may be one of the following values:\n\n- `5m`: 5 minutes\n- `1h`: 1 hour\n\nDefaults to `5m`. Only supported by `Anthropic` Claude models."
                    required:
                      - "type"
                required:
                  - "role"
                  - "content"
                  - "tool_call_id"
                title: "Tool message"
          description: "A list of messages to send to the deployment."
        identity:
          $ref: "#/components/schemas/PublicIdentity"
        file_ids:
          type: "array"
          items:
            type: "string"
          description: "A list of file IDs that are associated with the deployment request."
        metadata:
          type: "object"
          additionalProperties: {}
          description: "Key-value pairs that you want to attach to the log generated by this request."
        extra_params:
          type: "object"
          additionalProperties: {}
          description: "Utilized for passing additional parameters to the model provider. Exercise caution when using this feature, as the included parameters will overwrite any parameters specified in the deployment prompt configuration."
        documents:
          type: "array"
          items:
            type: "object"
            properties:
              text:
                type: "string"
                description: "The text content of the document"
              metadata:
                type: "object"
                properties:
                  file_name:
                    type: "string"
                    description: "Name of the file the text is from."
                  file_type:
                    type: "string"
                    description: "Content type of the file the text is from."
                  page_number:
                    type: "number"
                    description: "The page number the text is from."
                description: "Metadata about the document"
            required:
              - "text"
          description: "A list of documents from your external knowledge base (e.g., chunks retrieved from your own vector database or RAG pipeline) that provide context for the model response. These documents can be used by evaluators and guardrails to assess the relevance and accuracy of the model output against the provided context."
          example:
            - text: "The refund policy allows customers to return items within 30 days of purchase for a full refund."
              metadata:
                file_name: "refund_policy.pdf"
                file_type: "application/pdf"
                page_number: 1
            - text: "Premium members receive free shipping on all orders over $50."
              metadata:
                file_name: "membership_benefits.md"
                file_type: "text/markdown"
        invoke_options:
          type: "object"
          properties:
            include_retrievals:
              type: "boolean"
              default: false
              description: "Whether to include the retrieved knowledge chunks in the response."
            include_usage:
              type: "boolean"
              default: false
              description: "Whether to include the usage metrics in the response."
            mock_response:
              type: "string"
              description: "A mock response to use instead of calling the LLM API. This is useful for testing purposes. When provided, the system will return a response object with this content as the completion, without making an actual API call to the LLM provider. This works for both streaming and non-streaming requests. Mock responses will not generate logs, traces or be counted for your plan usage."
        thread:
          type: "object"
          properties:
            id:
              type: "string"
              description: "Unique thread identifier to group related invocations."
            tags:
              type: "array"
              items:
                type: "string"
              description: "Optional tags to differentiate or categorize threads"
          required:
            - "id"
        knowledge_filter:
          anyOf:
            - type: "object"
              additionalProperties:
                anyOf:
                  - type: "object"
                    properties:
                      eq:
                        anyOf:
                          - type: "string"
                            title: "string"
                            description: "String"
                          - type: "number"
                            title: "number"
                            description: "Number"
                          - type: "boolean"
                            title: "boolean"
                            description: "Boolean"
                    required:
                      - "eq"
                    title: "eq"
                    description: "Equal to"
                  - type: "object"
                    properties:
                      ne:
                        anyOf:
                          - type: "string"
                            title: "string"
                            description: "String"
                          - type: "number"
                            title: "number"
                            description: "Number"
                          - type: "boolean"
                            title: "boolean"
                            description: "Boolean"
                    required:
                      - "ne"
                    title: "ne"
                    description: "Not equal to"
                  - type: "object"
                    properties:
                      gt:
                        type: "number"
                    required:
                      - "gt"
                    title: "gt"
                    description: "Greater than"
                  - type: "object"
                    properties:
                      gte:
                        type: "number"
                    required:
                      - "gte"
                    title: "gte"
                    description: "Greater than or equal to"
                  - type: "object"
                    properties:
                      lt:
                        type: "number"
                    required:
                      - "lt"
                    title: "lt"
                    description: "Less than"
                  - type: "object"
                    properties:
                      lte:
                        type: "number"
                    required:
                      - "lte"
                    title: "lte"
                    description: "Less than or equal to"
                  - type: "object"
                    properties:
                      in:
                        type: "array"
                        items:
                          anyOf:
                            - type: "string"
                              title: "string"
                              description: "String"
                            - type: "number"
                              title: "number"
                              description: "Number"
                            - type: "boolean"
                              title: "boolean"
                              description: "Boolean"
                    required:
                      - "in"
                    title: "in"
                    description: "In"
                  - type: "object"
                    properties:
                      nin:
                        type: "array"
                        items:
                          anyOf:
                            - type: "string"
                              title: "string"
                              description: "String"
                            - type: "number"
                              title: "number"
                              description: "Number"
                            - type: "boolean"
                              title: "boolean"
                              description: "Boolean"
                    required:
                      - "nin"
                    title: "nin"
                    description: "Not in"
                  - type: "object"
                    properties:
                      exists:
                        type: "boolean"
                    required:
                      - "exists"
                    title: "exists"
                    description: "Exists"
              title: "Search operator"
            - type: "object"
              properties:
                and:
                  type: "array"
                  items:
                    type: "object"
                    additionalProperties:
                      anyOf:
                        - type: "object"
                          properties:
                            eq:
                              anyOf:
                                - type: "string"
                                  title: "string"
                                  description: "String"
                                - type: "number"
                                  title: "number"
                                  description: "Number"
                                - type: "boolean"
                                  title: "boolean"
                                  description: "Boolean"
                          required:
                            - "eq"
                          title: "eq"
                          description: "Equal to"
                        - type: "object"
                          properties:
                            ne:
                              anyOf:
                                - type: "string"
                                  title: "string"
                                  description: "String"
                                - type: "number"
                                  title: "number"
                                  description: "Number"
                                - type: "boolean"
                                  title: "boolean"
                                  description: "Boolean"
                          required:
                            - "ne"
                          title: "ne"
                          description: "Not equal to"
                        - type: "object"
                          properties:
                            gt:
                              type: "number"
                          required:
                            - "gt"
                          title: "gt"
                          description: "Greater than"
                        - type: "object"
                          properties:
                            gte:
                              type: "number"
                          required:
                            - "gte"
                          title: "gte"
                          description: "Greater than or equal to"
                        - type: "object"
                          properties:
                            lt:
                              type: "number"
                          required:
                            - "lt"
                          title: "lt"
                          description: "Less than"
                        - type: "object"
                          properties:
                            lte:
                              type: "number"
                          required:
                            - "lte"
                          title: "lte"
                          description: "Less than or equal to"
                        - type: "object"
                          properties:
                            in:
                              type: "array"
                              items:
                                anyOf:
                                  - type: "string"
                                    title: "string"
                                    description: "String"
                                  - type: "number"
                                    title: "number"
                                    description: "Number"
                                  - type: "boolean"
                                    title: "boolean"
                                    description: "Boolean"
                          required:
                            - "in"
                          title: "in"
                          description: "In"
                        - type: "object"
                          properties:
                            nin:
                              type: "array"
                              items:
                                anyOf:
                                  - type: "string"
                                    title: "string"
                                    description: "String"
                                  - type: "number"
                                    title: "number"
                                    description: "Number"
                                  - type: "boolean"
                                    title: "boolean"
                                    description: "Boolean"
                          required:
                            - "nin"
                          title: "nin"
                          description: "Not in"
                        - type: "object"
                          properties:
                            exists:
                              type: "boolean"
                          required:
                            - "exists"
                          title: "exists"
                          description: "Exists"
              required:
                - "and"
              title: "and"
              description: "And"
            - type: "object"
              properties:
                or:
                  type: "array"
                  items:
                    type: "object"
                    additionalProperties:
                      anyOf:
                        - type: "object"
                          properties:
                            eq:
                              anyOf:
                                - type: "string"
                                  title: "string"
                                  description: "String"
                                - type: "number"
                                  title: "number"
                                  description: "Number"
                                - type: "boolean"
                                  title: "boolean"
                                  description: "Boolean"
                          required:
                            - "eq"
                          title: "eq"
                          description: "Equal to"
                        - type: "object"
                          properties:
                            ne:
                              anyOf:
                                - type: "string"
                                  title: "string"
                                  description: "String"
                                - type: "number"
                                  title: "number"
                                  description: "Number"
                                - type: "boolean"
                                  title: "boolean"
                                  description: "Boolean"
                          required:
                            - "ne"
                          title: "ne"
                          description: "Not equal to"
                        - type: "object"
                          properties:
                            gt:
                              type: "number"
                          required:
                            - "gt"
                          title: "gt"
                          description: "Greater than"
                        - type: "object"
                          properties:
                            gte:
                              type: "number"
                          required:
                            - "gte"
                          title: "gte"
                          description: "Greater than or equal to"
                        - type: "object"
                          properties:
                            lt:
                              type: "number"
                          required:
                            - "lt"
                          title: "lt"
                          description: "Less than"
                        - type: "object"
                          properties:
                            lte:
                              type: "number"
                          required:
                            - "lte"
                          title: "lte"
                          description: "Less than or equal to"
                        - type: "object"
                          properties:
                            in:
                              type: "array"
                              items:
                                anyOf:
                                  - type: "string"
                                    title: "string"
                                    description: "String"
                                  - type: "number"
                                    title: "number"
                                    description: "Number"
                                  - type: "boolean"
                                    title: "boolean"
                                    description: "Boolean"
                          required:
                            - "in"
                          title: "in"
                          description: "In"
                        - type: "object"
                          properties:
                            nin:
                              type: "array"
                              items:
                                anyOf:
                                  - type: "string"
                                    title: "string"
                                    description: "String"
                                  - type: "number"
                                    title: "number"
                                    description: "Number"
                                  - type: "boolean"
                                    title: "boolean"
                                    description: "Boolean"
                          required:
                            - "nin"
                          title: "nin"
                          description: "Not in"
                        - type: "object"
                          properties:
                            exists:
                              type: "boolean"
                          required:
                            - "exists"
                          title: "exists"
                          description: "Exists"
              required:
                - "or"
              title: "or"
              description: "Or"
          description: "A filter to apply to the knowledge base chunk metadata when using  knowledge bases in the deployment."
      required:
        - "key"
      description: "The deployment request payload"
    TextContentPartSchema:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "text"
          description: "The type of the content part."
        text:
          type: "string"
          description: "The text content."
        cache_control:
          type: "object"
          properties:
            type:
              type: "string"
              enum:
                - "ephemeral"
              description: "Create a cache control breakpoint at this content block. Accepts only the value \"ephemeral\"."
            ttl:
              type: "string"
              enum:
                - "5m"
                - "1h"
              default: "5m"
              description: "The time-to-live for the cache control breakpoint. This may be one of the following values:\n\n- `5m`: 5 minutes\n- `1h`: 1 hour\n\nDefaults to `5m`. Only supported by `Anthropic` Claude models."
          required:
            - "type"
      required:
        - "type"
        - "text"
      title: "Text content part"
      description: "The type of the content part."
    ImageContentPartSchema:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "image_url"
        image_url:
          type: "object"
          properties:
            url:
              type: "string"
              description: "Either a URL of the image or the base64 encoded image data."
            detail:
              type: "string"
              enum:
                - "low"
                - "high"
                - "auto"
              description: "Specifies the detail level of the image."
          required:
            - "url"
        cache_control:
          type: "object"
          properties:
            type:
              type: "string"
              enum:
                - "ephemeral"
              description: "Create a cache control breakpoint at this content block. Accepts only the value \"ephemeral\"."
            ttl:
              type: "string"
              enum:
                - "5m"
                - "1h"
              default: "5m"
              description: "The time-to-live for the cache control breakpoint. This may be one of the following values:\n\n- `5m`: 5 minutes\n- `1h`: 1 hour\n\nDefaults to `5m`. Only supported by `Anthropic` Claude models."
          required:
            - "type"
      required:
        - "type"
        - "image_url"
      title: "Image content part"
      description: "An image content part"
    AudioContentPartSchema:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "input_audio"
        input_audio:
          type: "object"
          properties:
            data:
              type: "string"
              description: "Base64 encoded audio data."
            format:
              type: "string"
              enum:
                - "mp3"
                - "wav"
              description: "The format of the encoded audio data. Currently supports `wav` and `mp3`."
          required:
            - "data"
            - "format"
      required:
        - "type"
        - "input_audio"
      title: "Audio content part"
      description: "An audio content part"
    FileContentPartSchema:
      type: "object"
      properties:
        file_data:
          type: "string"
          description: "The file data as a data URI string in the format 'data:<mime-type>;base64,<base64-encoded-data>'. Example: 'data:image/png;base64,iVBORw0KGgoAAAANS...'"
        uri:
          type: "string"
          description: "URL to the file. Only supported by Anthropic Claude models for PDF files."
        mimeType:
          type: "string"
          description: "MIME type of the file (e.g., application/pdf, image/png)"
        filename:
          type: "string"
          description: "The name of the file, used when passing the file to the model as a string."
      description: "File data for the content part. Must contain either file_data or uri, but not both."
    RefusalPartSchema:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "refusal"
          description: "The type of the content part. Always `refusal`."
        refusal:
          type: "string"
          description: "The refusal message generated by the model."
      required:
        - "type"
      title: "Refusal part"
      description: "A message part containing a refusal message."
    ReasoningPartSchema:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "reasoning"
          description: "The type of the content part. Always `reasoning`."
        reasoning:
          type: "string"
          description: "The reasoning or thought process behind the response. Used for chain-of-thought or extended thinking."
        signature:
          type: "string"
          description: "Optional cryptographic signature to verify the authenticity and integrity of the reasoning content"
      required:
        - "type"
        - "reasoning"
        - "signature"
      title: "Reasoning Part"
      description: "A message part containing reasoning or chain-of-thought content"
    RedactedReasoningPartSchema:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "redacted_reasoning"
          description: "The type of the content part. Always `reasoning`."
        data:
          type: "string"
          description: "The encrypted reasoning or thought process behind the response. Used for chain-of-thought or extended thinking."
      required:
        - "type"
        - "data"
      title: "Reasoning Part"
      description: "A message part containing reasoning or chain-of-thought content"
    PublicIdentity:
      type: "object"
      properties:
        id:
          type: "string"
          description: "Unique identifier for the contact"
          example: "contact_01ARZ3NDEKTSV4RRFFQ69G5FAV"
        display_name:
          type: "string"
          description: "Display name of the contact"
          example: "Jane Doe"
        email:
          type: "string"
          format: "email"
          description: "Email address of the contact"
          example: "jane.doe@example.com"
        metadata:
          type: "array"
          items:
            type: "object"
            additionalProperties: {}
          description: "A hash of key/value pairs containing any other data about the contact"
          example:
            - department: "Engineering"
              role: "Senior Developer"
        logo_url:
          type: "string"
          description: "URL to the contact's avatar or logo"
          example: "https://example.com/avatars/jane-doe.jpg"
        tags:
          type: "array"
          items:
            type: "string"
          description: "A list of tags associated with the contact"
          example:
            - "hr"
            - "engineering"
      required:
        - "id"
      description: "Information about the identity making the request. If the identity does not exist, it will be created automatically."
    HonoApiError:
      type: "object"
      properties:
        code:
          type: "string"
          description: "HTTP status code"
        message:
          type: "string"
          description: "Error message"
      required:
        - "message"
    ThinkingConfigDisabledSchema:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "disabled"
          description: "Disables the thinking mode capability"
      required:
        - "type"
      title: "Thinking config disabled"
      description: "Disables the thinking mode capability"
    ThinkingConfigEnabledSchema:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "enabled"
          description: "Enables or disables the thinking mode capability"
        budget_tokens:
          type: "number"
          description: "Determines how many tokens the model can use for its internal reasoning process. Larger budgets can enable more thorough analysis for complex problems, improving response quality. Must be ≥1024 and less than `max_tokens`."
        thinking_level:
          type: "string"
          enum:
            - "low"
            - "high"
          description: "The level of reasoning the model should use. This setting is supported only by `gemini-3` models. If budget_tokens is specified and `thinking_level` is available, `budget_tokens` will be ignored."
      required:
        - "type"
        - "budget_tokens"
      title: "Thinking config enabled"
      description: "Enables the thinking mode capability"
    ThinkingConfigAdaptiveSchema:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "adaptive"
          description: "Lets the model dynamically determine when and how much to use extended thinking based on the complexity of each request. Supported on Claude Opus 4.6 and Sonnet 4.6."
      required:
        - "type"
      title: "Thinking config adaptive"
      description: "Enables adaptive thinking mode where the model dynamically determines thinking depth"
    CreateAgentResponse:
      type: "object"
      properties:
        _id:
          type: "string"
          description: "The unique response ID"
        task_id:
          type: "string"
          description: "The agent execution task ID"
        output:
          type: "array"
          items:
            $ref: "#/components/schemas/AgentResponseMessage"
          description: "Array of messages from the agent execution"
        created_at:
          type: "string"
          description: "ISO timestamp of response creation"
        model:
          type: "string"
          description: "Model used in provider/model format"
        usage:
          type:
            - "object"
            - "null"
          properties:
            completion_tokens:
              type: "number"
              description: "Number of tokens in the generated completion."
            prompt_tokens:
              type: "number"
              description: "Number of tokens in the prompt."
            total_tokens:
              type: "number"
              description: "Total number of tokens used in the request (prompt + completion)."
            prompt_tokens_details:
              type:
                - "object"
                - "null"
              properties:
                cached_tokens:
                  type:
                    - "integer"
                    - "null"
                cache_creation_tokens:
                  type:
                    - "integer"
                    - "null"
                audio_tokens:
                  type:
                    - "integer"
                    - "null"
                  description: "The number of audio input tokens consumed by the request."
            completion_tokens_details:
              type:
                - "object"
                - "null"
              properties:
                reasoning_tokens:
                  type:
                    - "number"
                    - "null"
                accepted_prediction_tokens:
                  type:
                    - "number"
                    - "null"
                rejected_prediction_tokens:
                  type:
                    - "number"
                    - "null"
                audio_tokens:
                  type:
                    - "integer"
                    - "null"
                  description: "The number of audio output tokens produced by the response."
          description: "Token usage from the agent execution"
        finish_reason:
          type: "string"
          enum:
            - "stop"
            - "length"
            - "tool_calls"
            - "content_filter"
            - "function_call"
            - "max_iterations"
            - "max_time"
          description: "The reason why the agent stopped generating"
        pending_tool_calls:
          type: "array"
          items:
            type: "object"
            properties:
              id:
                type: "string"
              type:
                type: "string"
                enum:
                  - "function"
              function:
                type: "object"
                properties:
                  name:
                    type: "string"
                  arguments:
                    type: "string"
            required:
              - "id"
              - "type"
              - "function"
          description: "Tool calls awaiting user response (when finish_reason is function_call)"
        telemetry:
          $ref: "#/components/schemas/Telemetry"
      required:
        - "_id"
        - "task_id"
        - "output"
        - "created_at"
        - "model"
      title: "Create Agent Response"
      description: "Response type from the create-response endpoint."
    AgentResponseMessage:
      type: "object"
      properties:
        messageId:
          type: "string"
        role:
          type: "string"
          enum:
            - "user"
            - "agent"
            - "tool"
            - "system"
        parts:
          type: "array"
          items:
            oneOf:
              - $ref: "#/components/schemas/TextPart"
              - $ref: "#/components/schemas/ErrorPart"
              - $ref: "#/components/schemas/DataPart"
              - $ref: "#/components/schemas/FilePart"
              - $ref: "#/components/schemas/ToolCallPart"
              - $ref: "#/components/schemas/ToolResultPart"
            discriminator:
              propertyName: "kind"
              mapping:
                text: "#/components/schemas/TextPart"
                error: "#/components/schemas/ErrorPart"
                data: "#/components/schemas/DataPart"
                file: "#/components/schemas/FilePart"
                tool_call: "#/components/schemas/ToolCallPart"
                tool_result: "#/components/schemas/ToolResultPart"
        metadata:
          type: "object"
          additionalProperties: {}
      required:
        - "messageId"
        - "role"
        - "parts"
      title: "Agent Response Message"
      description: "Response message from an agent execution."
    TextPart:
      type: "object"
      properties:
        kind:
          type: "string"
          enum:
            - "text"
        text:
          type: "string"
      required:
        - "kind"
        - "text"
      title: "Text Part"
      description: "A text content part containing plain text or markdown. Used for agent messages, user input, and text-based responses."
    ErrorPart:
      type: "object"
      properties:
        kind:
          type: "string"
          enum:
            - "error"
        error:
          type: "string"
        code:
          type: "number"
      required:
        - "kind"
        - "error"
      title: "Error Part"
      description: "An error content part containing error information. Used when an error occurs during agent execution."
    DataPart:
      type: "object"
      properties:
        kind:
          type: "string"
          enum:
            - "data"
        data:
          type: "object"
          additionalProperties: {}
        metadata:
          type: "object"
          additionalProperties: {}
      required:
        - "kind"
        - "data"
      title: "Data Part"
      description: "A structured data part containing JSON-serializable key-value pairs. Used for passing structured information between agents and tools."
    FilePart:
      type: "object"
      properties:
        kind:
          type: "string"
          enum:
            - "file"
        file:
          anyOf:
            - type: "object"
              properties:
                bytes:
                  type: "string"
                  minLength: 1
                  description: "base64 encoded content of the file"
                mimeType:
                  type: "string"
                  description: "Optional mimeType for the file"
                name:
                  type: "string"
                  description: "Optional name for the file"
              required:
                - "bytes"
              title: "Binary format"
              description: "Binary in base64 format. Check in the model's documentation for the supported mime types for the binary format."
            - type: "object"
              properties:
                uri:
                  type: "string"
                  description: "URL for the File content"
                mimeType:
                  type: "string"
                  description: "Optional mimeType for the file"
                name:
                  type: "string"
                  description: "Optional name for the file"
              required:
                - "uri"
              title: "File in URI format"
              description: "File in URI format. Check in the model's documentation for the supported mime types for the URI format"
        metadata:
          type: "object"
          additionalProperties: {}
      required:
        - "kind"
        - "file"
      title: "File Part"
      description: "A file content part that can contain either base64-encoded bytes or a URI reference. Used for images, documents, and other binary content in agent communications."
    ToolCallPart:
      type: "object"
      properties:
        kind:
          type: "string"
          enum:
            - "tool_call"
        tool_name:
          type: "string"
        tool_call_id:
          type: "string"
          minLength: 1
        arguments:
          type: "object"
          additionalProperties: {}
        thought_signature:
          type: "string"
        metadata:
          type: "object"
          additionalProperties: {}
      required:
        - "kind"
        - "tool_name"
        - "tool_call_id"
        - "arguments"
      title: "Tool Call Part"
      description: "A tool invocation request from an agent. Contains the tool name, unique call ID, and arguments for the tool execution."
    ToolResultPart:
      type: "object"
      properties:
        kind:
          type: "string"
          enum:
            - "tool_result"
        tool_call_id:
          type: "string"
          minLength: 1
        result: {}
        metadata:
          type: "object"
          additionalProperties: {}
      required:
        - "kind"
        - "tool_call_id"
      title: "Tool Result Part"
      description: "The result of a tool execution. Contains the tool call ID for correlation and the result data from the tool invocation."
    Telemetry:
      type: "object"
      properties:
        trace_id:
          type: "string"
          description: "The root trace ID for the agent execution"
        span_id:
          type: "string"
          description: "The span ID of the agent execution within the trace"
      required:
        - "trace_id"
        - "span_id"
      title: "Telemetry"
      description: "Telemetry information for correlating the response with traces"
    ResponseStreamingEvent:
      oneOf:
        - $ref: "#/components/schemas/ResponseStartedEvent"
        - $ref: "#/components/schemas/ResponseDoneEvent"
        - $ref: "#/components/schemas/ResponseFailedEvent"
        - $ref: "#/components/schemas/ToolStartedEvent"
        - $ref: "#/components/schemas/ToolDoneEvent"
        - $ref: "#/components/schemas/ToolFailedEvent"
        - $ref: "#/components/schemas/ToolReviewRequestedEvent"
        - $ref: "#/components/schemas/ToolReviewDoneEvent"
        - $ref: "#/components/schemas/PartDeltaEvent"
        - $ref: "#/components/schemas/PartDoneEvent"
      discriminator:
        propertyName: "type"
        mapping:
          response.started: "#/components/schemas/ResponseStartedEvent"
          response.done: "#/components/schemas/ResponseDoneEvent"
          response.failed: "#/components/schemas/ResponseFailedEvent"
          tool.started: "#/components/schemas/ToolStartedEvent"
          tool.done: "#/components/schemas/ToolDoneEvent"
          tool.failed: "#/components/schemas/ToolFailedEvent"
          tool.review.requested: "#/components/schemas/ToolReviewRequestedEvent"
          tool.review.done: "#/components/schemas/ToolReviewDoneEvent"
          part.delta: "#/components/schemas/PartDeltaEvent"
          part.done: "#/components/schemas/PartDoneEvent"
      title: "Response Streaming Event"
      description: "Union of all possible streaming events. Each event has a type field for discrimination."
    ResponseStartedEvent:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "response.started"
        timestamp:
          type: "string"
          description: "ISO timestamp of when the event occurred"
        data:
          type: "object"
          properties:
            responseId:
              type: "string"
              description: "Unique identifier for this response"
            taskId:
              type: "string"
              description: "The agent execution task ID. Use responseId for tracking instead."
              deprecated: true
              x-deprecation-notice: "This field will be replaced by previous_response_id in a future version. Track the responseId from each response to use for continuations."
            model:
              type: "string"
              description: "The model ID being used for this response in provider/model format"
            workflowRunId:
              type: "string"
              description: "Trace ID for this turn of the conversation (new for each continuation)"
            userMessageId:
              type: "string"
              description: "Server-generated ID for the user message. Use this ID for frontend state consistency."
            assistantMessageId:
              type: "string"
              description: "Server-generated ID for the assistant message. Use this ID for frontend state consistency."
            telemetry:
              $ref: "#/components/schemas/Telemetry"
          required:
            - "responseId"
            - "taskId"
            - "model"
            - "workflowRunId"
      required:
        - "type"
        - "timestamp"
        - "data"
      title: "Response Started Event"
      description: "Emitted when the agent begins processing. Contains identifiers for tracking the response."
    ResponseDoneEvent:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "response.done"
        timestamp:
          type: "string"
          description: "ISO timestamp of when the event occurred"
        data:
          type: "object"
          properties:
            finishReason:
              type: "string"
              enum:
                - "stop"
                - "length"
                - "tool_calls"
                - "content_filter"
                - "function_call"
                - "max_iterations"
                - "max_time"
              description: "The reason why the agent stopped generating"
            usage:
              type: "object"
              properties:
                completion_tokens:
                  type: "number"
                  description: "Number of tokens in the generated completion."
                prompt_tokens:
                  type: "number"
                  description: "Number of tokens in the prompt."
                total_tokens:
                  type: "number"
                  description: "Total number of tokens used in the request (prompt + completion)."
                prompt_tokens_details:
                  type:
                    - "object"
                    - "null"
                  properties:
                    cached_tokens:
                      type:
                        - "integer"
                        - "null"
                    cache_creation_tokens:
                      type:
                        - "integer"
                        - "null"
                    audio_tokens:
                      type:
                        - "integer"
                        - "null"
                      description: "The number of audio input tokens consumed by the request."
                completion_tokens_details:
                  type:
                    - "object"
                    - "null"
                  properties:
                    reasoning_tokens:
                      type:
                        - "number"
                        - "null"
                    accepted_prediction_tokens:
                      type:
                        - "number"
                        - "null"
                    rejected_prediction_tokens:
                      type:
                        - "number"
                        - "null"
                    audio_tokens:
                      type:
                        - "integer"
                        - "null"
                      description: "The number of audio output tokens produced by the response."
              description: "Token usage statistics for the complete response"
            pendingToolCalls:
              type: "array"
              items:
                type: "object"
                properties:
                  id:
                    type: "string"
                    description: "Unique identifier for the tool call"
                  type:
                    type: "string"
                    enum:
                      - "function"
                  function:
                    type: "object"
                    properties:
                      name:
                        type: "string"
                        description: "The name of the function to call"
                      arguments:
                        type: "string"
                        description: "The arguments to pass to the function as JSON string"
                required:
                  - "id"
                  - "type"
                  - "function"
              description: "Tool calls awaiting user response (when finishReason is function_call)"
            telemetry:
              $ref: "#/components/schemas/Telemetry"
          required:
            - "finishReason"
      required:
        - "type"
        - "timestamp"
        - "data"
      title: "Response Done Event"
      description: "Emitted when the agent completes processing. Contains the finish reason and usage statistics."
    ResponseFailedEvent:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "response.failed"
        timestamp:
          type: "string"
          description: "ISO timestamp of when the event occurred"
        data:
          type: "object"
          properties:
            error:
              type: "string"
              description: "Error message describing what went wrong"
            code:
              type: "number"
              description: "HTTP status code indicating the error type"
          required:
            - "error"
            - "code"
      required:
        - "type"
        - "timestamp"
        - "data"
      title: "Response Failed Event"
      description: "Emitted when an error occurs during agent execution. Contains error details."
    ToolStartedEvent:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "tool.started"
        timestamp:
          type: "string"
          description: "ISO timestamp of when the event occurred"
        data:
          type: "object"
          properties:
            toolId:
              type: "string"
              description: "Unique identifier for the tool"
            toolName:
              type: "string"
              description: "Display name of the tool"
            toolCallId:
              type: "string"
              description: "Unique identifier for this specific tool call"
            arguments:
              type: "object"
              additionalProperties: {}
              description: "Arguments passed to the tool"
          required:
            - "toolId"
            - "toolCallId"
            - "arguments"
      required:
        - "type"
        - "timestamp"
        - "data"
      title: "Tool Started Event"
      description: "Emitted when a tool begins execution. Contains tool details and input arguments."
    ToolDoneEvent:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "tool.done"
        timestamp:
          type: "string"
          description: "ISO timestamp of when the event occurred"
        data:
          type: "object"
          properties:
            toolId:
              type: "string"
              description: "Unique identifier for the tool in the tool registry"
            toolCallId:
              type: "string"
              description: "Unique identifier matching the tool call that was executed"
            result:
              description: "The result returned by the tool"
          required:
            - "toolId"
            - "toolCallId"
      required:
        - "type"
        - "timestamp"
        - "data"
      title: "Tool Done Event"
      description: "Emitted when a tool completes execution successfully. Contains the tool result."
    ToolFailedEvent:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "tool.failed"
        timestamp:
          type: "string"
          description: "ISO timestamp of when the event occurred"
        data:
          type: "object"
          properties:
            toolId:
              type: "string"
              description: "Unique identifier for the tool in the tool registry"
            toolCallId:
              type: "string"
              description: "Unique identifier matching the tool call that failed"
            error:
              type: "string"
              description: "Error message describing why the tool failed"
          required:
            - "toolId"
            - "toolCallId"
            - "error"
      required:
        - "type"
        - "timestamp"
        - "data"
      title: "Tool Failed Event"
      description: "Emitted when a tool execution fails. Contains error details."
    ToolReviewRequestedEvent:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "tool.review.requested"
        timestamp:
          type: "string"
          description: "ISO timestamp of when the event occurred"
        data:
          type: "object"
          properties:
            toolId:
              type: "string"
              description: "Unique identifier for the tool in the tool registry"
            toolCallId:
              type: "string"
              description: "The tool call ID requiring review"
            toolName:
              type: "string"
              description: "Name of the tool requiring approval"
            arguments:
              type: "object"
              additionalProperties: {}
              description: "Arguments that will be passed to the tool"
            requiresApproval:
              type: "boolean"
              description: "Whether approval is mandatory before execution"
          required:
            - "toolId"
            - "toolCallId"
            - "arguments"
            - "requiresApproval"
      required:
        - "type"
        - "timestamp"
        - "data"
      title: "Tool Review Requested Event"
      description: "Emitted when a tool action requires approval before execution. The execution will pause until reviewed."
    ToolReviewDoneEvent:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "tool.review.done"
        timestamp:
          type: "string"
          description: "ISO timestamp of when the event occurred"
        data:
          type: "object"
          properties:
            toolId:
              type: "string"
              description: "Unique identifier for the tool in the tool registry"
            toolCallId:
              type: "string"
              description: "The tool call ID that was reviewed"
            review:
              $ref: "#/components/schemas/ReviewOutcome"
          required:
            - "toolId"
            - "toolCallId"
            - "review"
      required:
        - "type"
        - "timestamp"
        - "data"
      title: "Tool Review Done Event"
      description: "Emitted after a tool action has been reviewed. Contains the review decision."
    ReviewOutcome:
      type: "string"
      enum:
        - "approved"
        - "rejected"
      title: "Review Outcome"
      description: "The review decision"
    PartDeltaEvent:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "part.delta"
        timestamp:
          type: "string"
          description: "ISO timestamp of when the event occurred"
        data:
          type: "object"
          properties:
            partId:
              type: "string"
              description: "Unique identifier for this part. Format: {kind}_{ulid}. Use to correlate with part.done event."
              example: "text_01hxyz123abc"
            delta:
              $ref: "#/components/schemas/PartDelta"
          required:
            - "partId"
            - "delta"
      required:
        - "type"
        - "timestamp"
        - "data"
      title: "Part Delta Event"
      description: "Emitted for each content chunk streamed from the LLM. The delta field contains a discriminated union based on the kind field."
    PartDelta:
      oneOf:
        - allOf:
            - $ref: "#/components/schemas/TextPart"
            - description: "A message part containing text content"
        - $ref: "#/components/schemas/ReasoningPart"
        - allOf:
            - $ref: "#/components/schemas/FilePart"
            - description: "A message part containing file content, either embedded or referenced"
        - allOf:
            - $ref: "#/components/schemas/DataPart"
            - description: "A message part containing arbitrary structured data as key-value pairs"
      discriminator:
        propertyName: "kind"
        mapping:
          text: "#/components/schemas/TextPart"
          reasoning: "#/components/schemas/ReasoningPart"
          file: "#/components/schemas/FilePart"
          data: "#/components/schemas/DataPart"
      description: "The content chunk being streamed. Discriminated by kind field (text or reasoning)."
    ReasoningPart:
      allOf:
        - $ref: "#/components/schemas/BasePart"
        - type: "object"
          properties:
            _id:
              type: "string"
              default: "reasoning_01kpsxxefk2zd7749xb9yjwnhy"
              description: "Unique identifier for the part. Format: reasoning_{ulid} (e.g., reasoning_01hxyz...)"
              example: "reasoning_01hxyz123abc"
            kind:
              type: "string"
              enum:
                - "reasoning"
              description: "Type discriminator indicating this is a reasoning part"
              example: "reasoning"
            reasoning:
              type: "string"
              description: "The reasoning or thought process behind the response. Used for chain-of-thought or extended thinking."
              example: "Let me analyze this step by step..."
            signature:
              type: "string"
              description: "Optional cryptographic signature to verify the authenticity and integrity of the reasoning content"
              example: "sha256:a1b2c3d4e5f6..."
          required:
            - "kind"
            - "reasoning"
      title: "Reasoning Part"
      description: "A message part containing reasoning or chain-of-thought content"
    BasePart:
      type: "object"
      properties:
        _id:
          type: "string"
          description: "Unique identifier for the part. Format: {kind}_{ulid} (e.g., text_01hxyz...)"
          example: "text_01hxyz123abc"
        metadata:
          type: "object"
          additionalProperties: {}
          description: "Optional metadata associated with the message part. Can store arbitrary key-value pairs for custom data. Maximum size of 50KB and maximum of 20 keys."
          example:
            source: "user_input"
            timestamp: "2024-01-15T10:30:00Z"
      required:
        - "_id"
      title: "Base Part"
      description: "Base schema for all message parts"
    PartDoneEvent:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "part.done"
        timestamp:
          type: "string"
          description: "ISO timestamp of when the event occurred"
        data:
          type: "object"
          properties:
            partId:
              type: "string"
              description: "Unique identifier for this part. Matches the partId from part.delta events."
              example: "text_01hxyz123abc"
            part:
              allOf:
                - $ref: "#/components/schemas/PartDelta"
                - description: "The complete part. Discriminated by kind field (text, reasoning, file, data)."
          required:
            - "partId"
            - "part"
      required:
        - "type"
        - "timestamp"
        - "data"
      title: "Part Done Event"
      description: "Emitted when a part has been fully streamed. Contains the complete part with all content."
    GetAgentResponse:
      allOf:
        - $ref: "#/components/schemas/CreateAgentResponse"
        - type: "object"
          properties:
            status:
              type: "string"
              enum:
                - "in_progress"
                - "completed"
                - "failed"
              description: "Current status of the agent response"
            error:
              type: "string"
              description: "Error message when status is failed"
          required:
            - "status"
      title: "Get Agent Response"
      description: "Response type from the get-response endpoint. Includes a status field indicating the current state of the agent execution."
    ExtendedMessage:
      type: "object"
      properties:
        kind:
          type: "string"
          enum:
            - "message"
        messageId:
          type: "string"
          description: "Unique identifier for the message"
        role:
          type: "string"
          enum:
            - "user"
            - "agent"
            - "tool"
            - "system"
          title: "Extended Message Role"
          description: "Role of the message sender in the A2A protocol. Values: user (end user), agent (AI agent), tool (tool execution result), system (system instructions/prompts)."
        parts:
          type: "array"
          items:
            oneOf:
              - $ref: "#/components/schemas/TextPart"
              - $ref: "#/components/schemas/ErrorPart"
              - $ref: "#/components/schemas/DataPart"
              - $ref: "#/components/schemas/FilePart"
              - $ref: "#/components/schemas/ToolCallPart"
              - $ref: "#/components/schemas/ToolResultPart"
            discriminator:
              propertyName: "kind"
              mapping:
                text: "#/components/schemas/TextPart"
                error: "#/components/schemas/ErrorPart"
                data: "#/components/schemas/DataPart"
                file: "#/components/schemas/FilePart"
                tool_call: "#/components/schemas/ToolCallPart"
                tool_result: "#/components/schemas/ToolResultPart"
          description: "Array of message parts (text, file, tool_call, tool_result)"
        taskId:
          type: "string"
          description: "Associated task ID if applicable"
        contextId:
          type: "string"
          description: "Correlation ID for execution tracking"
        metadata:
          type: "object"
          additionalProperties: {}
          description: "Additional message metadata"
      required:
        - "kind"
        - "messageId"
        - "role"
        - "parts"
      title: "Extended A2A Message"
      description: "Extended Agent-to-Agent protocol message with support for tool calls and tool results. Extends the base A2A message format with Orquesta-specific features."
    AgentExecutionStartedStreamingEvent:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "agents.execution_started"
        timestamp:
          type: "string"
          description: "ISO timestamp of the event"
        data:
          type: "object"
          properties:
            agent_task_id:
              type: "string"
              description: "Agent execution task ID (ULID)"
            workspace_id:
              type: "string"
              description: "Workspace ID"
            trace_id:
              type: "string"
              description: "Trace ID for the workflow run"
          required:
            - "agent_task_id"
            - "workspace_id"
            - "trace_id"
      required:
        - "type"
        - "timestamp"
        - "data"
      title: "Agent Execution Started Event"
      description: "Initial event emitted when an agent stream begins. Contains the task ID for tracking, workspace context, and trace ID for observability."
    AgentStartedStreamingEvent:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "event.agents.started"
        timestamp:
          type: "string"
          description: "ISO timestamp of the event"
        data:
          type: "object"
          properties:
            workflowRunId:
              type: "string"
            integration_id:
              type: "string"
            inputMessage:
              type: "object"
              properties:
                messageId:
                  type: "string"
                role:
                  type: "string"
                  enum:
                    - "user"
                    - "agent"
                    - "tool"
                    - "system"
                  description: "Extended A2A message role"
                parts:
                  type: "array"
                  items:
                    oneOf:
                      - $ref: "#/components/schemas/TextPart"
                      - $ref: "#/components/schemas/ErrorPart"
                      - $ref: "#/components/schemas/DataPart"
                      - $ref: "#/components/schemas/FilePart"
                      - $ref: "#/components/schemas/ToolCallPart"
                      - $ref: "#/components/schemas/ToolResultPart"
                    discriminator:
                      propertyName: "kind"
                      mapping:
                        text: "#/components/schemas/TextPart"
                        error: "#/components/schemas/ErrorPart"
                        data: "#/components/schemas/DataPart"
                        file: "#/components/schemas/FilePart"
                        tool_call: "#/components/schemas/ToolCallPart"
                        tool_result: "#/components/schemas/ToolResultPart"
                metadata:
                  type: "object"
                  additionalProperties: {}
              required:
                - "role"
                - "parts"
            modelId:
              type: "string"
            instructions:
              type: "string"
            system_prompt:
              type: "string"
            settings:
              type: "object"
              properties:
                max_iterations:
                  type: "integer"
                  exclusiveMinimum: 0
                  maximum: 100
                  minimum: 1
                  default: 100
                  description: "Maximum iterations(llm calls) before the agent will stop executing."
                max_execution_time:
                  type: "integer"
                  minimum: 2
                  exclusiveMinimum: 0
                  maximum: 600
                  default: 600
                  description: "Maximum time (in seconds) for the agent thinking process. This does not include the time for tool calls and sub agent calls. It will be loosely enforced, the in progress LLM calls will not be terminated and the last assistant message will be returned."
                max_cost:
                  type: "number"
                  minimum: 0
                  default: 0
                  description: "Maximum cost in USD for the agent execution. When the accumulated cost exceeds this limit, the agent will stop executing. Set to 0 for unlimited. Only supported in v3 responses"
                tool_approval_required:
                  type: "string"
                  enum:
                    - "all"
                    - "respect_tool"
                    - "none"
                  default: "respect_tool"
                  description: "If all, the agent will require approval for all tools. If respect_tool, the agent will require approval for tools that have the requires_approval flag set to true. If none, the agent will not require approval for any tools."
                tools:
                  type: "array"
                  items:
                    type: "object"
                    properties:
                      id:
                        type: "string"
                        format: "ulid"
                        pattern: "^[0-9A-HJKMNP-TV-Z]{26}$"
                        readOnly: true
                        description: "The id of the resource"
                      key:
                        type: "string"
                        description: "Optional tool key for custom tools"
                      action_type:
                        type: "string"
                      display_name:
                        type: "string"
                      description:
                        type: "string"
                        description: "Optional tool description"
                      requires_approval:
                        type: "boolean"
                        default: false
                      tool_id:
                        type: "string"
                        description: "Nested tool ID for MCP tools (identifies specific tool within MCP server)"
                      conditions:
                        type: "array"
                        items:
                          type: "object"
                          properties:
                            condition:
                              type: "string"
                              description: "The argument of the tool call to evaluate"
                            operator:
                              type: "string"
                              description: "The operator to use"
                            value:
                              type: "string"
                              description: "The value to compare against"
                          required:
                            - "condition"
                            - "operator"
                            - "value"
                        default: []
                      timeout:
                        type: "number"
                        minimum: 1
                        maximum: 600
                        default: 120
                        description: "Tool execution timeout in seconds (default: 2 minutes, max: 10 minutes)"
                    required:
                      - "id"
                      - "action_type"
                  default: []
                evaluators:
                  type: "array"
                  items:
                    type: "object"
                    properties:
                      id:
                        type: "string"
                        description: "Unique key or identifier of the evaluator"
                      sample_rate:
                        type: "number"
                        minimum: 1
                        maximum: 100
                        default: 50
                        description: "The percentage of executions to evaluate with this evaluator (1-100). For example, a value of 50 means the evaluator will run on approximately half of the executions."
                      execute_on:
                        type: "string"
                        enum:
                          - "input"
                          - "output"
                        description: "Determines whether the evaluator runs on the agent input (user message) or output (agent response)."
                    required:
                      - "id"
                      - "execute_on"
                  title: "Agent evaluator configuration"
                  description: "Configuration for an evaluator applied to the agent"
                guardrails:
                  type: "array"
                  items:
                    type: "object"
                    properties:
                      id:
                        type: "string"
                        description: "Unique key or identifier of the evaluator"
                      sample_rate:
                        type: "number"
                        minimum: 1
                        maximum: 100
                        default: 50
                        description: "The percentage of executions to evaluate with this evaluator (1-100). For example, a value of 50 means the evaluator will run on approximately half of the executions."
                      execute_on:
                        type: "string"
                        enum:
                          - "input"
                          - "output"
                        description: "Determines whether the evaluator runs on the agent input (user message) or output (agent response)."
                    required:
                      - "id"
                      - "execute_on"
                  title: "Agent guardrail configuration"
                  description: "Configuration for a guardrail applied to the agent"
              default:
                max_execution_time: 600
                max_iterations: 100
                max_cost: 0
                tool_approval_required: "respect_tool"
                tools: []
            agent_manifest_id:
              type: "string"
            agent_key:
              type: "string"
            agent_description:
              type:
                - "string"
                - "null"
            agent_source:
              type:
                - "string"
                - "null"
              enum:
                - "internal"
                - "external"
                - "experiment"
                - null
            variables:
              type: "object"
              additionalProperties: {}
            tool_execution_id:
              type: "string"
            is_continuation:
              type: "boolean"
            stream:
              type: "boolean"
            responseId:
              type: "string"
          required:
            - "workflowRunId"
            - "inputMessage"
            - "modelId"
            - "instructions"
            - "system_prompt"
            - "agent_manifest_id"
            - "agent_key"
      required:
        - "type"
        - "timestamp"
        - "data"
      title: "Agent Started Event"
      description: "Emitted when the agent begins processing. Contains configuration details including the model, instructions, system prompt, and input message."
    AgentThoughtStreamingEvent:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "event.agents.thought"
        timestamp:
          type: "string"
          description: "ISO timestamp of the event"
        data:
          type: "object"
          properties:
            agent_id:
              type: "string"
            message_difference:
              type: "object"
              additionalProperties:
                type: "object"
                properties:
                  messageId:
                    type: "string"
                  role:
                    type: "string"
                    enum:
                      - "user"
                      - "agent"
                      - "tool"
                      - "system"
                  parts:
                    type: "array"
                    items:
                      oneOf:
                        - $ref: "#/components/schemas/TextPart"
                        - $ref: "#/components/schemas/ErrorPart"
                        - $ref: "#/components/schemas/DataPart"
                        - $ref: "#/components/schemas/FilePart"
                        - $ref: "#/components/schemas/ToolCallPart"
                        - $ref: "#/components/schemas/ToolResultPart"
                      discriminator:
                        propertyName: "kind"
                        mapping:
                          text: "#/components/schemas/TextPart"
                          error: "#/components/schemas/ErrorPart"
                          data: "#/components/schemas/DataPart"
                          file: "#/components/schemas/FilePart"
                          tool_call: "#/components/schemas/ToolCallPart"
                          tool_result: "#/components/schemas/ToolResultPart"
                  metadata:
                    type: "object"
                    additionalProperties: {}
                  agent_id:
                    type: "string"
                  agent_execution_id:
                    type: "string"
                  workspace_id:
                    type: "string"
                required:
                  - "messageId"
                  - "role"
                  - "parts"
                  - "agent_id"
                  - "agent_execution_id"
                  - "workspace_id"
            choice:
              type: "object"
              properties:
                finish_reason:
                  type:
                    - "string"
                    - "null"
                  enum:
                    - "stop"
                    - "length"
                    - "tool_calls"
                    - "content_filter"
                    - "function_call"
                    - null
                  description: "The reason the model stopped generating tokens."
                index:
                  type: "number"
                  default: 0
                  description: "The index of the choice in the list of choices."
                message:
                  type: "object"
                  properties:
                    content:
                      type:
                        - "string"
                        - "null"
                    refusal:
                      type:
                        - "string"
                        - "null"
                    tool_calls:
                      type: "array"
                      items:
[...]
