info:
  title: "orq.ai API"
  version: "2.0"
  description: "orq.ai API documentation"
security:
  - ApiKey: []
servers:
  - url: https://my.orq.ai
openapi: "3.1.0"
x-speakeasy-timeout: 600000
externalDocs:
  url: "https://docs.orq.ai"
  description: "orq.ai Documentation"
components:
  securitySchemes:
    ApiKey:
      type: "http"
      scheme: "bearer"
      bearerFormat: "JWT"
  schemas:
    EvaluatorResponseLlm:
      type: "object"
      properties:
        _id:
          type: "string"
        description:
          type: "string"
        created:
          type: "string"
          default: "2026-08-25T03:48:45.450Z"
        updated:
          type: "string"
          default: "2026-08-25T03:48:45.450Z"
        updated_by_id:
          type:
            - "string"
            - "null"
        project_id:
          type: "string"
          description: "Unique identifier of the project owning this evaluator."
        guardrail_config:
          anyOf:
            - type: "object"
              properties:
                enabled:
                  type: "boolean"
                  default: true
                alert_on_failure:
                  type: "boolean"
                  default: false
                type:
                  type: "string"
                  enum:
                    - "boolean"
                value:
                  type: "boolean"
              required:
                - "type"
                - "value"
              title: "Boolean"
            - type: "object"
              properties:
                enabled:
                  type: "boolean"
                  default: true
                alert_on_failure:
                  type: "boolean"
                  default: false
                type:
                  type: "string"
                  enum:
                    - "categorical"
                values:
                  type: "array"
                  items:
                    type: "string"
                    minLength: 1
              required:
                - "type"
                - "values"
              title: "Categorical"
            - type: "object"
              properties:
                enabled:
                  type: "boolean"
                  default: true
                alert_on_failure:
                  type: "boolean"
                  default: false
                type:
                  type: "string"
                  enum:
                    - "number"
                value:
                  type: "number"
                operator:
                  type: "string"
                  enum:
                    - "eq"
                    - "ne"
                    - "gt"
                    - "gte"
                    - "lt"
                    - "lte"
              required:
                - "type"
                - "value"
                - "operator"
              title: "Number"
            - type: "null"
          x-speakeasy-type-override: "any"
        type:
          type: "string"
          enum:
            - "llm_eval"
        repetitions:
          type:
            - "integer"
            - "null"
          minimum: 1
          maximum: 3
        prompt:
          type: "string"
        categories:
          type:
            - "array"
            - "null"
          items:
            type: "string"
        categorical_labels:
          type:
            - "array"
            - "null"
          items:
            type: "object"
            properties:
              value:
                type: "string"
                minLength: 1
              description:
                type: "string"
            required:
              - "value"
        dataset_id:
          type:
            - "string"
            - "null"
        key:
          type: "string"
          minLength: 1
          pattern: "^[a-zA-Z0-9]([a-zA-Z0-9_-]*[a-zA-Z0-9])?$"
        mode:
          type: "string"
          enum:
            - "single"
            - "jury"
        model:
          type: "string"
        jury:
          type: "object"
          properties:
            judges:
              type: "array"
              items:
                type: "object"
                properties:
                  model:
                    type: "string"
                  retry:
                    type: "object"
                    properties:
                      count:
                        type: "integer"
                        minimum: 1
                        maximum: 5
                        default: 2
                      on_codes:
                        type: "array"
                        items:
                          type: "integer"
                          minimum: 100
                          maximum: 599
                        minItems: 1
                        default:
                          - 429
                          - 500
                          - 502
                          - 503
                          - 504
                  fallbacks:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        model:
                          type: "string"
                      required:
                        - "model"
                    default: []
                required:
                  - "model"
              minItems: 2
            replacement_judges:
              type: "array"
              items:
                type: "object"
                properties:
                  model:
                    type: "string"
                  retry:
                    type: "object"
                    properties:
                      count:
                        type: "integer"
                        minimum: 1
                        maximum: 5
                        default: 2
                      on_codes:
                        type: "array"
                        items:
                          type: "integer"
                          minimum: 100
                          maximum: 599
                        minItems: 1
                        default:
                          - 429
                          - 500
                          - 502
                          - 503
                          - 504
                  fallbacks:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        model:
                          type: "string"
                      required:
                        - "model"
                    default: []
                required:
                  - "model"
              default: []
            min_successful_judges:
              type: "integer"
              minimum: 2
              default: 2
            tie_value:
              type: "string"
              enum:
                - "Tie"
              default: "Tie"
          required:
            - "judges"
      required:
        - "_id"
        - "description"
        - "type"
        - "prompt"
        - "key"
        - "mode"
      title: "LLM"
    EvaluatorResponseJsonSchema:
      type: "object"
      properties:
        _id:
          type: "string"
        description:
          type: "string"
        created:
          type: "string"
          default: "2026-08-25T03:48:45.450Z"
        updated:
          type: "string"
          default: "2026-08-25T03:48:45.450Z"
        updated_by_id:
          type:
            - "string"
            - "null"
        project_id:
          type: "string"
          description: "Unique identifier of the project owning this evaluator."
        guardrail_config:
          anyOf:
            - type: "object"
              properties:
                enabled:
                  type: "boolean"
                  default: true
                alert_on_failure:
                  type: "boolean"
                  default: false
                type:
                  type: "string"
                  enum:
                    - "boolean"
                value:
                  type: "boolean"
              required:
                - "type"
                - "value"
              title: "Boolean"
            - type: "object"
              properties:
                enabled:
                  type: "boolean"
                  default: true
                alert_on_failure:
                  type: "boolean"
                  default: false
                type:
                  type: "string"
                  enum:
                    - "categorical"
                values:
                  type: "array"
                  items:
                    type: "string"
                    minLength: 1
              required:
                - "type"
                - "values"
              title: "Categorical"
            - type: "object"
              properties:
                enabled:
                  type: "boolean"
                  default: true
                alert_on_failure:
                  type: "boolean"
                  default: false
                type:
                  type: "string"
                  enum:
                    - "number"
                value:
                  type: "number"
                operator:
                  type: "string"
                  enum:
                    - "eq"
                    - "ne"
                    - "gt"
                    - "gte"
                    - "lt"
                    - "lte"
              required:
                - "type"
                - "value"
                - "operator"
              title: "Number"
            - type: "null"
          x-speakeasy-type-override: "any"
        type:
          type: "string"
          enum:
            - "json_schema"
        schema:
          type: "string"
        key:
          type: "string"
          minLength: 1
          pattern: "^[a-zA-Z0-9]([a-zA-Z0-9_-]*[a-zA-Z0-9])?$"
      required:
        - "_id"
        - "description"
        - "type"
        - "schema"
        - "key"
      title: "JSON"
    EvaluatorResponseHttp:
      type: "object"
      properties:
        _id:
          type: "string"
        description:
          type: "string"
        created:
          type: "string"
          default: "2026-08-25T03:48:45.450Z"
        updated:
          type: "string"
          default: "2026-08-25T03:48:45.450Z"
        updated_by_id:
          type:
            - "string"
            - "null"
        project_id:
          type: "string"
          description: "Unique identifier of the project owning this evaluator."
        guardrail_config:
          anyOf:
            - type: "object"
              properties:
                enabled:
                  type: "boolean"
                  default: true
                alert_on_failure:
                  type: "boolean"
                  default: false
                type:
                  type: "string"
                  enum:
                    - "boolean"
                value:
                  type: "boolean"
              required:
                - "type"
                - "value"
              title: "Boolean"
            - type: "object"
              properties:
                enabled:
                  type: "boolean"
                  default: true
                alert_on_failure:
                  type: "boolean"
                  default: false
                type:
                  type: "string"
                  enum:
                    - "categorical"
                values:
                  type: "array"
                  items:
                    type: "string"
                    minLength: 1
              required:
                - "type"
                - "values"
              title: "Categorical"
            - type: "object"
              properties:
                enabled:
                  type: "boolean"
                  default: true
                alert_on_failure:
                  type: "boolean"
                  default: false
                type:
                  type: "string"
                  enum:
                    - "number"
                value:
                  type: "number"
                operator:
                  type: "string"
                  enum:
                    - "eq"
                    - "ne"
                    - "gt"
                    - "gte"
                    - "lt"
                    - "lte"
              required:
                - "type"
                - "value"
                - "operator"
              title: "Number"
            - type: "null"
          x-speakeasy-type-override: "any"
        type:
          type: "string"
          enum:
            - "http_eval"
        url:
          type: "string"
        method:
          type: "string"
          enum:
            - "GET"
            - "POST"
        headers:
          type: "object"
          additionalProperties:
            type: "string"
        payload:
          type: "object"
          additionalProperties: {}
        key:
          type: "string"
          minLength: 1
          pattern: "^[a-zA-Z0-9]([a-zA-Z0-9_-]*[a-zA-Z0-9])?$"
      required:
        - "_id"
        - "description"
        - "type"
        - "url"
        - "method"
        - "headers"
        - "payload"
        - "key"
      title: "HTTP"
    EvaluatorResponsePython:
      type: "object"
      properties:
        _id:
          type: "string"
        description:
          type: "string"
        created:
          type: "string"
          default: "2026-08-25T03:48:45.450Z"
        updated:
          type: "string"
          default: "2026-08-25T03:48:45.450Z"
        updated_by_id:
          type:
            - "string"
            - "null"
        project_id:
          type: "string"
          description: "Unique identifier of the project owning this evaluator."
        guardrail_config:
          anyOf:
            - type: "object"
              properties:
                enabled:
                  type: "boolean"
                  default: true
                alert_on_failure:
                  type: "boolean"
                  default: false
                type:
                  type: "string"
                  enum:
                    - "boolean"
                value:
                  type: "boolean"
              required:
                - "type"
                - "value"
              title: "Boolean"
            - type: "object"
              properties:
                enabled:
                  type: "boolean"
                  default: true
                alert_on_failure:
                  type: "boolean"
                  default: false
                type:
                  type: "string"
                  enum:
                    - "categorical"
                values:
                  type: "array"
                  items:
                    type: "string"
                    minLength: 1
              required:
                - "type"
                - "values"
              title: "Categorical"
            - type: "object"
              properties:
                enabled:
                  type: "boolean"
                  default: true
                alert_on_failure:
                  type: "boolean"
                  default: false
                type:
                  type: "string"
                  enum:
                    - "number"
                value:
                  type: "number"
                operator:
                  type: "string"
                  enum:
                    - "eq"
                    - "ne"
                    - "gt"
                    - "gte"
                    - "lt"
                    - "lte"
              required:
                - "type"
                - "value"
                - "operator"
              title: "Number"
            - type: "null"
          x-speakeasy-type-override: "any"
        code:
          type: "string"
        type:
          type: "string"
          enum:
            - "python_eval"
        key:
          type: "string"
          minLength: 1
          pattern: "^[a-zA-Z0-9]([a-zA-Z0-9_-]*[a-zA-Z0-9])?$"
      required:
        - "_id"
        - "description"
        - "code"
        - "type"
        - "key"
      title: "Python"
    EvaluatorResponseFunction:
      type: "object"
      properties:
        _id:
          type: "string"
        description:
          type: "string"
        created:
          type: "string"
          default: "2026-08-25T03:48:45.450Z"
        updated:
          type: "string"
          default: "2026-08-25T03:48:45.450Z"
        updated_by_id:
          type:
            - "string"
            - "null"
        project_id:
          type: "string"
          description: "Unique identifier of the project owning this evaluator."
        guardrail_config:
          anyOf:
            - type: "object"
              properties:
                enabled:
                  type: "boolean"
                  default: true
                alert_on_failure:
                  type: "boolean"
                  default: false
                type:
                  type: "string"
                  enum:
                    - "boolean"
                value:
                  type: "boolean"
              required:
                - "type"
                - "value"
              title: "Boolean"
            - type: "object"
              properties:
                enabled:
                  type: "boolean"
                  default: true
                alert_on_failure:
                  type: "boolean"
                  default: false
                type:
                  type: "string"
                  enum:
                    - "categorical"
                values:
                  type: "array"
                  items:
                    type: "string"
                    minLength: 1
              required:
                - "type"
                - "values"
              title: "Categorical"
            - type: "object"
              properties:
                enabled:
                  type: "boolean"
                  default: true
                alert_on_failure:
                  type: "boolean"
                  default: false
                type:
                  type: "string"
                  enum:
                    - "number"
                value:
                  type: "number"
                operator:
                  type: "string"
                  enum:
                    - "eq"
                    - "ne"
                    - "gt"
                    - "gte"
                    - "lt"
                    - "lte"
              required:
                - "type"
                - "value"
                - "operator"
              title: "Number"
            - type: "null"
          x-speakeasy-type-override: "any"
        type:
          type: "string"
          enum:
            - "function_eval"
        function_params:
          oneOf:
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "contains"
                value:
                  type: "string"
              required:
                - "type"
                - "value"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "contains_none"
                keywords:
                  type: "array"
                  items:
                    type: "string"
              required:
                - "type"
                - "keywords"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "contains_all"
                keywords:
                  type: "array"
                  items:
                    type: "string"
              required:
                - "type"
                - "keywords"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "contains_any"
                keywords:
                  type: "array"
                  items:
                    type: "string"
              required:
                - "type"
                - "keywords"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "contains_email"
              required:
                - "type"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "contains_url"
              required:
                - "type"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "contains_valid_link"
              required:
                - "type"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "start_with"
                value:
                  type: "string"
              required:
                - "type"
                - "value"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "ends_with"
                value:
                  type: "string"
              required:
                - "type"
                - "value"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "exact_match"
              required:
                - "type"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "length_less_than"
                value:
                  type: "number"
              required:
                - "type"
                - "value"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "length_between"
                min:
                  type: "number"
                max:
                  type: "number"
              required:
                - "type"
                - "min"
                - "max"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "length_greater_than"
                value:
                  type: "number"
              required:
                - "type"
                - "value"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "one_line"
              required:
                - "type"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "regex"
                pattern:
                  type: "string"
              required:
                - "type"
                - "pattern"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "is_valid_json"
              required:
                - "type"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "moderations_openai"
              required:
                - "type"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "moderations_google"
              required:
                - "type"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "bert_score"
              required:
                - "type"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "bleu_score"
              required:
                - "type"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "rouge_n"
              required:
                - "type"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "meteor_score"
              required:
                - "type"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "cosine_similarity"
              required:
                - "type"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "levenshtein_distance"
              required:
                - "type"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "keywords_match"
                keywords:
                  type: "array"
                  items:
                    type: "string"
              required:
                - "type"
                - "keywords"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "most_repeated_words"
              required:
                - "type"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "flesch_reading_ease"
              required:
                - "type"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "gse_english_level"
              required:
                - "type"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "words_count"
              required:
                - "type"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "sentences_count"
              required:
                - "type"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "lexical_repetition"
              required:
                - "type"
            - type: "object"
              properties:
                type:
                  type: "string"
                  enum:
                    - "grammar_diversity"
              required:
                - "type"
        key:
          type: "string"
          minLength: 1
          pattern: "^[a-zA-Z0-9]([a-zA-Z0-9_-]*[a-zA-Z0-9])?$"
      required:
        - "_id"
        - "description"
        - "type"
        - "function_params"
        - "key"
      title: "Function"
    EvaluatorResponseRagas:
      type: "object"
      properties:
        _id:
          type: "string"
        description:
          type: "string"
        created:
          type: "string"
          default: "2026-08-25T03:48:45.450Z"
        updated:
          type: "string"
          default: "2026-08-25T03:48:45.450Z"
        updated_by_id:
          type:
            - "string"
            - "null"
        project_id:
          type: "string"
          description: "Unique identifier of the project owning this evaluator."
        guardrail_config:
          anyOf:
            - type: "object"
              properties:
                enabled:
                  type: "boolean"
                  default: true
                alert_on_failure:
                  type: "boolean"
                  default: false
                type:
                  type: "string"
                  enum:
                    - "boolean"
                value:
                  type: "boolean"
              required:
                - "type"
                - "value"
              title: "Boolean"
            - type: "object"
              properties:
                enabled:
                  type: "boolean"
                  default: true
                alert_on_failure:
                  type: "boolean"
                  default: false
                type:
                  type: "string"
                  enum:
                    - "categorical"
                values:
                  type: "array"
                  items:
                    type: "string"
                    minLength: 1
              required:
                - "type"
                - "values"
              title: "Categorical"
            - type: "object"
              properties:
                enabled:
                  type: "boolean"
                  default: true
                alert_on_failure:
                  type: "boolean"
                  default: false
                type:
                  type: "string"
                  enum:
                    - "number"
                value:
                  type: "number"
                operator:
                  type: "string"
                  enum:
                    - "eq"
                    - "ne"
                    - "gt"
                    - "gte"
                    - "lt"
                    - "lte"
              required:
                - "type"
                - "value"
                - "operator"
              title: "Number"
            - type: "null"
          x-speakeasy-type-override: "any"
        type:
          type: "string"
          enum:
            - "ragas"
        ragas_metric:
          type: "string"
          enum:
            - "context_precision"
            - "context_recall"
            - "context_entities_recall"
            - "harmfulness"
            - "maliciousness"
            - "coherence"
            - "correctness"
            - "conciseness"
            - "response_relevancy"
            - "faithfulness"
            - "summarization"
            - "noise_sensitivity"
        key:
          type: "string"
          minLength: 1
          pattern: "^[a-zA-Z0-9]([a-zA-Z0-9_-]*[a-zA-Z0-9])?$"
        model:
          type: "string"
      required:
        - "_id"
        - "description"
        - "type"
        - "ragas_metric"
        - "key"
        - "model"
      title: "Ragas"
    EvaluatorResponseTypescript:
      type: "object"
      properties:
        _id:
          type: "string"
        description:
          type: "string"
        created:
          type: "string"
          default: "2026-08-25T03:48:45.450Z"
        updated:
          type: "string"
          default: "2026-08-25T03:48:45.450Z"
        updated_by_id:
          type:
            - "string"
            - "null"
        project_id:
          type: "string"
          description: "Unique identifier of the project owning this evaluator."
        guardrail_config:
          anyOf:
            - type: "object"
              properties:
                enabled:
                  type: "boolean"
                  default: true
                alert_on_failure:
                  type: "boolean"
                  default: false
                type:
                  type: "string"
                  enum:
                    - "boolean"
                value:
                  type: "boolean"
              required:
                - "type"
                - "value"
              title: "Boolean"
            - type: "object"
              properties:
                enabled:
                  type: "boolean"
                  default: true
                alert_on_failure:
                  type: "boolean"
                  default: false
                type:
                  type: "string"
                  enum:
                    - "categorical"
                values:
                  type: "array"
                  items:
                    type: "string"
                    minLength: 1
              required:
                - "type"
                - "values"
              title: "Categorical"
            - type: "object"
              properties:
                enabled:
                  type: "boolean"
                  default: true
                alert_on_failure:
                  type: "boolean"
                  default: false
                type:
                  type: "string"
                  enum:
                    - "number"
                value:
                  type: "number"
                operator:
                  type: "string"
                  enum:
                    - "eq"
                    - "ne"
                    - "gt"
                    - "gte"
                    - "lt"
                    - "lte"
              required:
                - "type"
                - "value"
                - "operator"
              title: "Number"
            - type: "null"
          x-speakeasy-type-override: "any"
        code:
          type: "string"
        type:
          type: "string"
          enum:
            - "typescript_eval"
        key:
          type: "string"
          minLength: 1
          pattern: "^[a-zA-Z0-9]([a-zA-Z0-9_-]*[a-zA-Z0-9])?$"
      required:
        - "_id"
        - "description"
        - "code"
        - "type"
        - "key"
      title: "Typescript"
    InvokeDeploymentRequest:
      type: "object"
      properties:
        key:
          type: "string"
          description: "The deployment key to invoke"
        stream:
          type: "boolean"
          default: false
          description: "If set, partial message content will be sent. Tokens will be sent as data-only `server-sent events` as they become available, with the stream terminated by a `data: [DONE]` message."
        inputs:
          type: "object"
          additionalProperties: {}
          description: "Key-value pairs variables to replace in your prompts. If a variable is not provided that is defined in the prompt, the default variables are used."
        context:
          type: "object"
          additionalProperties: {}
          description: "Key-value pairs that match your data model and fields declared in your deployment routing configuration"
        prefix_messages:
          type: "array"
          items:
            oneOf:
              - type: "object"
                properties:
                  role:
                    type: "string"
                    enum:
                      - "system"
                    description: "The role of the messages author, in this case `system`."
                  content:
                    anyOf:
                      - type: "string"
                        description: "The contents of the system message."
                      - type: "array"
                        items:
                          $ref: "#/components/schemas/TextContentPartSchema"
                        minItems: 1
                        description: "An array of content parts with a defined type. For system messages, only type `text` is supported."
                    description: "The contents of the system message."
                  name:
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                required:
                  - "role"
                  - "content"
                title: "System message"
                description: "Developer-provided instructions that the model should follow, regardless of messages sent by the user."
              - type: "object"
                properties:
                  role:
                    type: "string"
                    enum:
                      - "developer"
                    description: "The role of the messages author, in this case  `developer`."
                  content:
                    anyOf:
                      - type: "string"
                        description: "The contents of the system message."
                      - type: "array"
                        items:
                          $ref: "#/components/schemas/TextContentPartSchema"
                        minItems: 1
                        description: "An array of content parts with a defined type. For system messages, only type `text` is supported."
                    description: "The contents of the developer message."
                  name:
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                required:
                  - "role"
                  - "content"
                title: "Developer message"
              - type: "object"
                properties:
                  role:
                    type: "string"
                    enum:
                      - "user"
                    description: "The role of the messages author, in this case `user`."
                  name:
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                  content:
                    anyOf:
                      - type: "string"
                        description: "The text contents of the message."
                      - type: "array"
                        items:
                          oneOf:
                            - $ref: "#/components/schemas/TextContentPartSchema"
                            - $ref: "#/components/schemas/ImageContentPartSchema"
                            - $ref: "#/components/schemas/AudioContentPartSchema"
                            - type: "object"
                              properties:
                                type:
                                  type: "string"
                                  enum:
                                    - "file"
                                  description: "The type of the content part. Always `file`."
                                cache_control:
                                  type: "object"
                                  properties:
                                    type:
                                      type: "string"
                                      enum:
                                        - "ephemeral"
                                      description: "Create a cache control breakpoint at this content block. Accepts only the value \"ephemeral\"."
                                    ttl:
                                      type: "string"
                                      enum:
                                        - "5m"
                                        - "1h"
                                      default: "5m"
                                      description: "The time-to-live for the cache control breakpoint. This may be one of the following values:\n\n- `5m`: 5 minutes\n- `1h`: 1 hour\n\nDefaults to `5m`. Only supported by `Anthropic` Claude models."
                                  required:
                                    - "type"
                                file:
                                  $ref: "#/components/schemas/FileContentPartSchema"
                              required:
                                - "type"
                                - "file"
                        description: "An array of content parts with a defined type. Supported options differ based on the model being used to generate the response. Can contain text, image, or audio inputs."
                    description: "The contents of the user message."
                required:
                  - "role"
                  - "content"
                title: "User message"
              - type: "object"
                properties:
                  reasoning_content:
                    type: "string"
                    description: "Provider reasoning content that must be replayed with assistant tool calls when continuing a reasoning-model conversation."
                  content:
                    anyOf:
                      - type: "string"
                        description: "The contents of the assistant message."
                      - type: "array"
                        items:
                          oneOf:
                            - $ref: "#/components/schemas/TextContentPartSchema"
                            - $ref: "#/components/schemas/RefusalPartSchema"
                            - $ref: "#/components/schemas/ReasoningPartSchema"
                            - $ref: "#/components/schemas/RedactedReasoningPartSchema"
                          discriminator:
                            propertyName: "type"
                            mapping:
                              text: "#/components/schemas/TextContentPartSchema"
                              refusal: "#/components/schemas/RefusalPartSchema"
                              reasoning: "#/components/schemas/ReasoningPartSchema"
                              redacted_reasoning: "#/components/schemas/RedactedReasoningPartSchema"
                        description: "An array of content parts with a defined type. Can be one or more of type `text`, or exactly one of type `refusal`."
                      - type: "null"
                    description: "The contents of the assistant message. Required unless `tool_calls` or `function_call` is specified."
                  refusal:
                    type:
                      - "string"
                      - "null"
                    description: "The refusal message by the assistant."
                  role:
                    type: "string"
                    enum:
                      - "assistant"
                    description: "The role of the messages author, in this case `assistant`."
                  name:
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                  audio:
                    type:
                      - "object"
                      - "null"
                    properties:
                      id:
                        type: "string"
                        description: "Unique identifier for a previous audio response from the model."
                    required:
                      - "id"
                    description: "Data about a previous audio response from the model. "
                  tool_calls:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        id:
                          type: "string"
                          description: "The ID of the tool call."
                        type:
                          type: "string"
                          enum:
                            - "function"
                          description: "The type of the tool. Currently, only `function` is supported."
                        function:
                          type: "object"
                          properties:
                            name:
                              type: "string"
                              description: "The name of the function to call."
                            arguments:
                              type: "string"
                              description: "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function."
                        thought_signature:
                          type: "string"
                          description: "Encrypted representation of the model internal reasoning state during function calling. Required by Gemini 3 models when continuing a conversation after a tool call."
                      required:
                        - "id"
                        - "type"
                        - "function"
                    description: "The tool calls generated by the model, such as function calls."
                required:
                  - "role"
                title: "Assistant message"
              - type: "object"
                properties:
                  role:
                    type: "string"
                    enum:
                      - "tool"
                    description: "The role of the messages author, in this case tool."
                  content:
                    anyOf:
                      - type: "string"
                      - type: "array"
                        items:
                          oneOf:
                            - $ref: "#/components/schemas/TextContentPartSchema"
                          discriminator:
                            propertyName: "type"
                            mapping:
                              text: "#/components/schemas/TextContentPartSchema"
                    description: "The contents of the tool message."
                  tool_call_id:
                    type:
                      - "string"
                      - "null"
                    description: "Tool call that this message is responding to."
                  cache_control:
                    type: "object"
                    properties:
                      type:
                        type: "string"
                        enum:
                          - "ephemeral"
                        description: "Create a cache control breakpoint at this content block. Accepts only the value \"ephemeral\"."
                      ttl:
                        type: "string"
                        enum:
                          - "5m"
                          - "1h"
                        default: "5m"
                        description: "The time-to-live for the cache control breakpoint. This may be one of the following values:\n\n- `5m`: 5 minutes\n- `1h`: 1 hour\n\nDefaults to `5m`. Only supported by `Anthropic` Claude models."
                    required:
                      - "type"
                required:
                  - "role"
                  - "content"
                  - "tool_call_id"
                title: "Tool message"
          description: "A list of messages to include after the `System` message, but before the  `User` and `Assistant` pairs configured in your deployment."
        messages:
          type: "array"
          items:
            oneOf:
              - type: "object"
                properties:
                  role:
                    type: "string"
                    enum:
                      - "system"
                    description: "The role of the messages author, in this case `system`."
                  content:
                    anyOf:
                      - type: "string"
                        description: "The contents of the system message."
                      - type: "array"
                        items:
                          $ref: "#/components/schemas/TextContentPartSchema"
                        minItems: 1
                        description: "An array of content parts with a defined type. For system messages, only type `text` is supported."
                    description: "The contents of the system message."
                  name:
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                required:
                  - "role"
                  - "content"
                title: "System message"
                description: "Developer-provided instructions that the model should follow, regardless of messages sent by the user."
              - type: "object"
                properties:
                  role:
                    type: "string"
                    enum:
                      - "developer"
                    description: "The role of the messages author, in this case  `developer`."
                  content:
                    anyOf:
                      - type: "string"
                        description: "The contents of the system message."
                      - type: "array"
                        items:
                          $ref: "#/components/schemas/TextContentPartSchema"
                        minItems: 1
                        description: "An array of content parts with a defined type. For system messages, only type `text` is supported."
                    description: "The contents of the developer message."
                  name:
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                required:
                  - "role"
                  - "content"
                title: "Developer message"
              - type: "object"
                properties:
                  role:
                    type: "string"
                    enum:
                      - "user"
                    description: "The role of the messages author, in this case `user`."
                  name:
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                  content:
                    anyOf:
                      - type: "string"
                        description: "The text contents of the message."
                      - type: "array"
                        items:
                          oneOf:
                            - $ref: "#/components/schemas/TextContentPartSchema"
                            - $ref: "#/components/schemas/ImageContentPartSchema"
                            - $ref: "#/components/schemas/AudioContentPartSchema"
                            - type: "object"
                              properties:
                                type:
                                  type: "string"
                                  enum:
                                    - "file"
                                  description: "The type of the content part. Always `file`."
                                cache_control:
                                  type: "object"
                                  properties:
                                    type:
                                      type: "string"
                                      enum:
                                        - "ephemeral"
                                      description: "Create a cache control breakpoint at this content block. Accepts only the value \"ephemeral\"."
                                    ttl:
                                      type: "string"
                                      enum:
                                        - "5m"
                                        - "1h"
                                      default: "5m"
                                      description: "The time-to-live for the cache control breakpoint. This may be one of the following values:\n\n- `5m`: 5 minutes\n- `1h`: 1 hour\n\nDefaults to `5m`. Only supported by `Anthropic` Claude models."
                                  required:
                                    - "type"
                                file:
                                  $ref: "#/components/schemas/FileContentPartSchema"
                              required:
                                - "type"
                                - "file"
                        description: "An array of content parts with a defined type. Supported options differ based on the model being used to generate the response. Can contain text, image, or audio inputs."
                    description: "The contents of the user message."
                required:
                  - "role"
                  - "content"
                title: "User message"
              - type: "object"
                properties:
                  reasoning_content:
                    type: "string"
                    description: "Provider reasoning content that must be replayed with assistant tool calls when continuing a reasoning-model conversation."
                  content:
                    anyOf:
                      - type: "string"
                        description: "The contents of the assistant message."
                      - type: "array"
                        items:
                          oneOf:
                            - $ref: "#/components/schemas/TextContentPartSchema"
                            - $ref: "#/components/schemas/RefusalPartSchema"
                            - $ref: "#/components/schemas/ReasoningPartSchema"
                            - $ref: "#/components/schemas/RedactedReasoningPartSchema"
                          discriminator:
                            propertyName: "type"
                            mapping:
                              text: "#/components/schemas/TextContentPartSchema"
                              refusal: "#/components/schemas/RefusalPartSchema"
                              reasoning: "#/components/schemas/ReasoningPartSchema"
                              redacted_reasoning: "#/components/schemas/RedactedReasoningPartSchema"
                        description: "An array of content parts with a defined type. Can be one or more of type `text`, or exactly one of type `refusal`."
                      - type: "null"
                    description: "The contents of the assistant message. Required unless `tool_calls` or `function_call` is specified."
                  refusal:
                    type:
                      - "string"
                      - "null"
                    description: "The refusal message by the assistant."
                  role:
                    type: "string"
                    enum:
                      - "assistant"
                    description: "The role of the messages author, in this case `assistant`."
                  name:
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                  audio:
                    type:
                      - "object"
                      - "null"
                    properties:
                      id:
                        type: "string"
                        description: "Unique identifier for a previous audio response from the model."
                    required:
                      - "id"
                    description: "Data about a previous audio response from the model. "
                  tool_calls:
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        id:
                          type: "string"
                          description: "The ID of the tool call."
                        type:
                          type: "string"
                          enum:
                            - "function"
                          description: "The type of the tool. Currently, only `function` is supported."
                        function:
                          type: "object"
                          properties:
                            name:
                              type: "string"
                              description: "The name of the function to call."
                            arguments:
                              type: "string"
                              description: "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function."
                        thought_signature:
                          type: "string"
                          description: "Encrypted representation of the model internal reasoning state during function calling. Required by Gemini 3 models when continuing a conversation after a tool call."
                      required:
                        - "id"
                        - "type"
                        - "function"
                    description: "The tool calls generated by the model, such as function calls."
                required:
                  - "role"
                title: "Assistant message"
              - type: "object"
                properties:
                  role:
                    type: "string"
                    enum:
                      - "tool"
                    description: "The role of the messages author, in this case tool."
                  content:
                    anyOf:
                      - type: "string"
                      - type: "array"
                        items:
                          oneOf:
                            - $ref: "#/components/schemas/TextContentPartSchema"
                          discriminator:
                            propertyName: "type"
                            mapping:
                              text: "#/components/schemas/TextContentPartSchema"
                    description: "The contents of the tool message."
                  tool_call_id:
                    type:
                      - "string"
                      - "null"
                    description: "Tool call that this message is responding to."
                  cache_control:
                    type: "object"
                    properties:
                      type:
                        type: "string"
                        enum:
                          - "ephemeral"
                        description: "Create a cache control breakpoint at this content block. Accepts only the value \"ephemeral\"."
                      ttl:
                        type: "string"
                        enum:
                          - "5m"
                          - "1h"
                        default: "5m"
                        description: "The time-to-live for the cache control breakpoint. This may be one of the following values:\n\n- `5m`: 5 minutes\n- `1h`: 1 hour\n\nDefaults to `5m`. Only supported by `Anthropic` Claude models."
                    required:
                      - "type"
                required:
                  - "role"
                  - "content"
                  - "tool_call_id"
                title: "Tool message"
          description: "A list of messages to send to the deployment."
        identity:
          $ref: "#/components/schemas/PublicIdentity"
        file_ids:
          type: "array"
          items:
            type: "string"
          description: "A list of file IDs that are associated with the deployment request."
        metadata:
          type: "object"
          additionalProperties: {}
          description: "Key-value pairs that you want to attach to the log generated by this request."
        extra_params:
          type: "object"
          additionalProperties: {}
          description: "Utilized for passing additional parameters to the model provider. Exercise caution when using this feature, as the included parameters will overwrite any parameters specified in the deployment prompt configuration."
        documents:
          type: "array"
          items:
            type: "object"
            properties:
              text:
                type: "string"
                description: "The text content of the document"
              metadata:
                type: "object"
                properties:
                  file_name:
                    type: "string"
                    description: "Name of the file the text is from."
                  file_type:
                    type: "string"
                    description: "Content type of the file the text is from."
                  page_number:
                    type: "number"
                    description: "The page number the text is from."
                description: "Metadata about the document"
            required:
              - "text"
          description: "A list of documents from your external knowledge base (e.g., chunks retrieved from your own vector database or RAG pipeline) that provide context for the model response. These documents can be used by evaluators and guardrails to assess the relevance and accuracy of the model output against the provided context."
          example:
            - text: "The refund policy allows customers to return items within 30 days of purchase for a full refund."
              metadata:
                file_name: "refund_policy.pdf"
                file_type: "application/pdf"
                page_number: 1
            - text: "Premium members receive free shipping on all orders over $50."
              metadata:
                file_name: "membership_benefits.md"
                file_type: "text/markdown"
        invoke_options:
          type: "object"
          properties:
            include_retrievals:
              type: "boolean"
              default: false
              description: "Whether to include the retrieved knowledge chunks in the response."
            include_usage:
              type: "boolean"
              default: false
              description: "Whether to include the usage metrics in the response."
            mock_response:
              type: "string"
              description: "A mock response to use instead of calling the LLM API. This is useful for testing purposes. When provided, the system will return a response object with this content as the completion, without making an actual API call to the LLM provider. This works for both streaming and non-streaming requests. Mock responses will not generate logs, traces or be counted for your plan usage."
        thread:
          type: "object"
          properties:
            id:
              type: "string"
              description: "Unique thread identifier to group related invocations."
            tags:
              type: "array"
              items:
                type: "string"
              description: "Optional tags to differentiate or categorize threads"
          required:
            - "id"
        knowledge_filter:
          anyOf:
            - type: "object"
              additionalProperties:
                anyOf:
                  - type: "object"
                    properties:
                      eq:
                        anyOf:
                          - type: "string"
                            title: "string"
                            description: "String"
                          - type: "number"
                            title: "number"
                            description: "Number"
                          - type: "boolean"
                            title: "boolean"
                            description: "Boolean"
                    required:
                      - "eq"
                    title: "eq"
                    description: "Equal to"
                  - type: "object"
                    properties:
                      ne:
                        anyOf:
                          - type: "string"
                            title: "string"
                            description: "String"
                          - type: "number"
                            title: "number"
                            description: "Number"
                          - type: "boolean"
                            title: "boolean"
                            description: "Boolean"
                    required:
                      - "ne"
                    title: "ne"
                    description: "Not equal to"
                  - type: "object"
                    properties:
                      gt:
                        type: "number"
                    required:
                      - "gt"
                    title: "gt"
                    description: "Greater than"
                  - type: "object"
                    properties:
                      gte:
                        type: "number"
                    required:
                      - "gte"
                    title: "gte"
                    description: "Greater than or equal to"
                  - type: "object"
                    properties:
                      lt:
                        type: "number"
                    required:
                      - "lt"
                    title: "lt"
                    description: "Less than"
                  - type: "object"
                    properties:
                      lte:
                        type: "number"
                    required:
                      - "lte"
                    title: "lte"
                    description: "Less than or equal to"
                  - type: "object"
                    properties:
                      in:
                        type: "array"
                        items:
                          anyOf:
                            - type: "string"
                              title: "string"
                              description: "String"
                            - type: "number"
                              title: "number"
                              description: "Number"
                            - type: "boolean"
                              title: "boolean"
                              description: "Boolean"
                    required:
                      - "in"
                    title: "in"
                    description: "In"
                  - type: "object"
                    properties:
                      nin:
                        type: "array"
                        items:
                          anyOf:
                            - type: "string"
                              title: "string"
                              description: "String"
                            - type: "number"
                              title: "number"
                              description: "Number"
                            - type: "boolean"
                              title: "boolean"
                              description: "Boolean"
                    required:
                      - "nin"
                    title: "nin"
                    description: "Not in"
              title: "Search operator"
            - type: "object"
              properties:
                and:
                  type: "array"
                  items:
                    type: "object"
                    additionalProperties:
                      anyOf:
                        - type: "object"
                          properties:
                            eq:
                              anyOf:
                                - type: "string"
                                  title: "string"
                                  description: "String"
                                - type: "number"
                                  title: "number"
                                  description: "Number"
                                - type: "boolean"
                                  title: "boolean"
                                  description: "Boolean"
                          required:
                            - "eq"
                          title: "eq"
                          description: "Equal to"
                        - type: "object"
                          properties:
                            ne:
                              anyOf:
                                - type: "string"
                                  title: "string"
                                  description: "String"
                                - type: "number"
                                  title: "number"
                                  description: "Number"
                                - type: "boolean"
                                  title: "boolean"
                                  description: "Boolean"
                          required:
                            - "ne"
                          title: "ne"
                          description: "Not equal to"
                        - type: "object"
                          properties:
                            gt:
                              type: "number"
                          required:
                            - "gt"
                          title: "gt"
                          description: "Greater than"
                        - type: "object"
                          properties:
                            gte:
                              type: "number"
                          required:
                            - "gte"
                          title: "gte"
                          description: "Greater than or equal to"
                        - type: "object"
                          properties:
                            lt:
                              type: "number"
                          required:
                            - "lt"
                          title: "lt"
                          description: "Less than"
                        - type: "object"
                          properties:
                            lte:
                              type: "number"
                          required:
                            - "lte"
                          title: "lte"
                          description: "Less than or equal to"
                        - type: "object"
                          properties:
                            in:
                              type: "array"
                              items:
                                anyOf:
                                  - type: "string"
                                    title: "string"
                                    description: "String"
                                  - type: "number"
                                    title: "number"
                                    description: "Number"
                                  - type: "boolean"
                                    title: "boolean"
                                    description: "Boolean"
                          required:
                            - "in"
                          title: "in"
                          description: "In"
                        - type: "object"
                          properties:
                            nin:
                              type: "array"
                              items:
                                anyOf:
                                  - type: "string"
                                    title: "string"
                                    description: "String"
                                  - type: "number"
                                    title: "number"
                                    description: "Number"
                                  - type: "boolean"
                                    title: "boolean"
                                    description: "Boolean"
                          required:
                            - "nin"
                          title: "nin"
                          description: "Not in"
              required:
                - "and"
              title: "and"
              description: "And"
            - type: "object"
              properties:
                or:
                  type: "array"
                  items:
                    type: "object"
                    additionalProperties:
                      anyOf:
                        - type: "object"
                          properties:
                            eq:
                              anyOf:
                                - type: "string"
                                  title: "string"
                                  description: "String"
                                - type: "number"
                                  title: "number"
                                  description: "Number"
                                - type: "boolean"
                                  title: "boolean"
                                  description: "Boolean"
                          required:
                            - "eq"
                          title: "eq"
                          description: "Equal to"
                        - type: "object"
                          properties:
                            ne:
                              anyOf:
                                - type: "string"
                                  title: "string"
                                  description: "String"
                                - type: "number"
                                  title: "number"
                                  description: "Number"
                                - type: "boolean"
                                  title: "boolean"
                                  description: "Boolean"
                          required:
                            - "ne"
                          title: "ne"
                          description: "Not equal to"
                        - type: "object"
                          properties:
                            gt:
                              type: "number"
                          required:
                            - "gt"
                          title: "gt"
                          description: "Greater than"
                        - type: "object"
                          properties:
                            gte:
                              type: "number"
                          required:
                            - "gte"
                          title: "gte"
                          description: "Greater than or equal to"
                        - type: "object"
                          properties:
                            lt:
                              type: "number"
                          required:
                            - "lt"
                          title: "lt"
                          description: "Less than"
                        - type: "object"
                          properties:
                            lte:
                              type: "number"
                          required:
                            - "lte"
                          title: "lte"
                          description: "Less than or equal to"
                        - type: "object"
                          properties:
                            in:
                              type: "array"
                              items:
                                anyOf:
                                  - type: "string"
                                    title: "string"
                                    description: "String"
                                  - type: "number"
                                    title: "number"
                                    description: "Number"
                                  - type: "boolean"
                                    title: "boolean"
                                    description: "Boolean"
                          required:
                            - "in"
                          title: "in"
                          description: "In"
                        - type: "object"
                          properties:
                            nin:
                              type: "array"
                              items:
                                anyOf:
                                  - type: "string"
                                    title: "string"
                                    description: "String"
                                  - type: "number"
                                    title: "number"
                                    description: "Number"
                                  - type: "boolean"
                                    title: "boolean"
                                    description: "Boolean"
                          required:
                            - "nin"
                          title: "nin"
                          description: "Not in"
              required:
                - "or"
              title: "or"
              description: "Or"
          description: "A filter to apply to the knowledge base chunk metadata when using  knowledge bases in the deployment."
      required:
        - "key"
      description: "The deployment request payload"
    TextContentPartSchema:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "text"
          description: "The type of the content part."
        text:
          type: "string"
          description: "The text content."
        cache_control:
          type: "object"
          properties:
            type:
              type: "string"
              enum:
                - "ephemeral"
              description: "Create a cache control breakpoint at this content block. Accepts only the value \"ephemeral\"."
            ttl:
              type: "string"
              enum:
                - "5m"
                - "1h"
              default: "5m"
              description: "The time-to-live for the cache control breakpoint. This may be one of the following values:\n\n- `5m`: 5 minutes\n- `1h`: 1 hour\n\nDefaults to `5m`. Only supported by `Anthropic` Claude models."
          required:
            - "type"
      required:
        - "type"
        - "text"
      title: "Text content part"
      description: "The type of the content part."
    ImageContentPartSchema:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "image_url"
        image_url:
          type: "object"
          properties:
            url:
              type: "string"
              description: "Either a URL of the image or the base64 encoded image data."
            detail:
              type: "string"
              enum:
                - "low"
                - "high"
                - "auto"
              description: "Specifies the detail level of the image."
          required:
            - "url"
        cache_control:
          type: "object"
          properties:
            type:
              type: "string"
              enum:
                - "ephemeral"
              description: "Create a cache control breakpoint at this content block. Accepts only the value \"ephemeral\"."
            ttl:
              type: "string"
              enum:
                - "5m"
                - "1h"
              default: "5m"
              description: "The time-to-live for the cache control breakpoint. This may be one of the following values:\n\n- `5m`: 5 minutes\n- `1h`: 1 hour\n\nDefaults to `5m`. Only supported by `Anthropic` Claude models."
          required:
            - "type"
      required:
        - "type"
        - "image_url"
      title: "Image content part"
      description: "An image content part"
    AudioContentPartSchema:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "input_audio"
        input_audio:
          type: "object"
          properties:
            data:
              type: "string"
              description: "Base64 encoded audio data."
            format:
              type: "string"
              enum:
                - "mp3"
                - "wav"
              description: "The format of the encoded audio data. Currently supports `wav` and `mp3`."
          required:
            - "data"
            - "format"
      required:
        - "type"
        - "input_audio"
      title: "Audio content part"
      description: "An audio content part"
    FileContentPartSchema:
      type: "object"
      properties:
        file_data:
          type: "string"
          description: "The file data as a data URI string in the format 'data:<mime-type>;base64,<base64-encoded-data>'. Example: 'data:image/png;base64,iVBORw0KGgoAAAANS...'"
        uri:
          type: "string"
          description: "URL to the file. Only supported by Anthropic Claude models for PDF files."
        mimeType:
          type: "string"
          description: "MIME type of the file (e.g., application/pdf, image/png)"
        filename:
          type: "string"
          description: "The name of the file, used when passing the file to the model as a string."
      description: "File data for the content part. Must contain either file_data or uri, but not both."
    RefusalPartSchema:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "refusal"
          description: "The type of the content part. Always `refusal`."
        refusal:
          type: "string"
          description: "The refusal message generated by the model."
      required:
        - "type"
      title: "Refusal part"
      description: "A message part containing a refusal message."
    ReasoningPartSchema:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "reasoning"
          description: "The type of the content part. Always `reasoning`."
        reasoning:
          type: "string"
          description: "The reasoning or thought process behind the response. Used for chain-of-thought or extended thinking."
        signature:
          type: "string"
          description: "Optional cryptographic signature to verify the authenticity and integrity of the reasoning content"
      required:
        - "type"
        - "reasoning"
        - "signature"
      title: "Reasoning Part"
      description: "A message part containing reasoning or chain-of-thought content"
    RedactedReasoningPartSchema:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "redacted_reasoning"
          description: "The type of the content part. Always `reasoning`."
        data:
          type: "string"
          description: "The encrypted reasoning or thought process behind the response. Used for chain-of-thought or extended thinking."
      required:
        - "type"
        - "data"
      title: "Reasoning Part"
      description: "A message part containing reasoning or chain-of-thought content"
    PublicIdentity:
      type: "object"
      properties:
        id:
          type: "string"
          description: "Unique identifier for the contact"
          example: "contact_01ARZ3NDEKTSV4RRFFQ69G5FAV"
        display_name:
          type: "string"
          description: "Display name of the contact"
          example: "Jane Doe"
        email:
          type: "string"
          format: "email"
          description: "Email address of the contact"
          example: "jane.doe@example.com"
        metadata:
          type: "array"
          items:
            type: "object"
            additionalProperties: {}
          description: "A hash of key/value pairs containing any other data about the contact"
          example:
            - department: "Engineering"
              role: "Senior Developer"
        logo_url:
          type: "string"
          description: "URL to the contact's avatar or logo"
          example: "https://example.com/avatars/jane-doe.jpg"
        tags:
          type: "array"
          items:
            type: "string"
          description: "A list of tags associated with the contact"
          example:
            - "hr"
            - "engineering"
      required:
        - "id"
      description: "Information about the identity making the request. If the identity does not exist, it will be created automatically."
    HonoApiError:
      type: "object"
      properties:
        code:
          type: "string"
          description: "HTTP status code"
        message:
          type: "string"
          description: "Error message"
      required:
        - "message"
    ThinkingConfigDisabledSchema:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "disabled"
          description: "Disables the thinking mode capability"
      required:
        - "type"
      title: "Thinking config disabled"
      description: "Disables the thinking mode capability"
    ThinkingConfigEnabledSchema:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "enabled"
          description: "Enables or disables the thinking mode capability"
        budget_tokens:
          type: "number"
          description: "Determines how many tokens the model can use for its internal reasoning process. Larger budgets can enable more thorough analysis for complex problems, improving response quality. Must be ≥1024 and less than `max_tokens`."
        thinking_level:
          type: "string"
          enum:
            - "minimal"
            - "low"
            - "medium"
            - "high"
          description: "The level of reasoning the model should use. This setting is supported only by `gemini-3` models. If budget_tokens is specified and `thinking_level` is available, `budget_tokens` will be ignored."
      required:
        - "type"
        - "budget_tokens"
      title: "Thinking config enabled"
      description: "Enables the thinking mode capability"
    ThinkingConfigAdaptiveSchema:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "adaptive"
          description: "Lets the model dynamically determine when and how much to use extended thinking based on the complexity of each request. Supported on Claude Opus 4.6 and Sonnet 4.6."
      required:
        - "type"
      title: "Thinking config adaptive"
      description: "Enables adaptive thinking mode where the model dynamically determines thinking depth"
    PIIRedactionPluginAuto:
      type: "object"
      properties:
        id:
          type: "string"
          enum:
            - "pii_redaction"
          description: "Plugin discriminator. Must be `pii_redaction`."
        on_failure:
          type: "string"
          enum:
            - "block"
            - "passthrough"
          description: "Behavior when redaction is unavailable. `block` (default) fails the request; `passthrough` sends the original text."
        threshold:
          type: "number"
          minimum: 0
          maximum: 1
          description: "Detector confidence cutoff in [0,1]."
        entities:
          type: "array"
          items:
            type: "string"
            enum:
              - "AGE"
              - "API_KEY"
              - "BANK_ROUTING"
              - "BIC"
              - "BIOMETRIC_ID"
              - "BLOOD_TYPE"
              - "BSN"
              - "CREDIT_CARD"
              - "CRYPTO"
              - "DATE_TIME"
              - "DEVICE_ID"
              - "EDUCATION_LEVEL"
              - "EMAIL_ADDRESS"
              - "EMPLOYMENT_STATUS"
              - "GENDER"
              - "HEALTH_PLAN_ID"
              - "HTTP_COOKIE"
              - "IBAN_CODE"
              - "ID"
              - "ID_CARD"
              - "IMEI"
              - "IP_ADDRESS"
              - "JOBTITLE"
              - "JWT"
              - "KVK_NUMBER"
              - "LANGUAGE"
              - "LICENSE_NUMBER"
              - "LICENSE_PLATE"
              - "LOCATION"
              - "MAC_ADDRESS"
              - "MEDICAL_LICENSE"
              - "MEDICAL_RECORD"
              - "NRP"
              - "ORGANIZATION"
              - "PASSPORT"
              - "PASSWORD"
              - "PERSON"
              - "PHONE_NUMBER"
              - "PIN"
              - "POLITICAL_VIEW"
              - "RACE_ETHNICITY"
              - "RELIGIOUS_BELIEF"
              - "SEXUALITY"
              - "TAX_ID"
              - "TITLE"
              - "UK_NHS"
              - "URL"
              - "US_BANK_NUMBER"
              - "US_DRIVER_LICENSE"
              - "US_ITIN"
              - "US_PASSPORT"
              - "US_SSN"
              - "UUID"
              - "VEHICLE_ID"
          description: "Entity types to redact when no detector language is configured. Omit to redact every detected type."
      required:
        - "id"
      additionalProperties: false
      title: "PII redaction plugin (automatic language)"
    PIIRedactionPluginEn:
      type: "object"
      properties:
        id:
          type: "string"
          enum:
            - "pii_redaction"
          description: "Plugin discriminator. Must be `pii_redaction`."
        on_failure:
          type: "string"
          enum:
            - "block"
            - "passthrough"
          description: "Behavior when redaction is unavailable. `block` (default) fails the request; `passthrough` sends the original text."
        threshold:
          type: "number"
          minimum: 0
          maximum: 1
          description: "Detector confidence cutoff in [0,1]."
        language:
          type: "string"
          enum:
            - "en"
          description: "Detector language."
        entities:
          type: "array"
          items:
            type: "string"
            enum:
              - "AGE"
              - "API_KEY"
              - "BANK_ROUTING"
              - "BIC"
              - "BIOMETRIC_ID"
              - "BLOOD_TYPE"
              - "BSN"
              - "CREDIT_CARD"
              - "CRYPTO"
              - "DATE_TIME"
              - "DEVICE_ID"
              - "EDUCATION_LEVEL"
              - "EMAIL_ADDRESS"
              - "EMPLOYMENT_STATUS"
              - "GENDER"
              - "HEALTH_PLAN_ID"
              - "HTTP_COOKIE"
              - "IBAN_CODE"
              - "ID"
              - "ID_CARD"
              - "IMEI"
              - "IP_ADDRESS"
              - "JOBTITLE"
              - "JWT"
              - "KVK_NUMBER"
              - "LANGUAGE"
              - "LICENSE_NUMBER"
              - "LICENSE_PLATE"
              - "LOCATION"
              - "MAC_ADDRESS"
              - "MEDICAL_LICENSE"
              - "MEDICAL_RECORD"
              - "NRP"
              - "ORGANIZATION"
              - "PASSPORT"
              - "PASSWORD"
              - "PERSON"
              - "PHONE_NUMBER"
              - "PIN"
              - "POLITICAL_VIEW"
              - "RACE_ETHNICITY"
              - "RELIGIOUS_BELIEF"
              - "SEXUALITY"
              - "TAX_ID"
              - "TITLE"
              - "UK_NHS"
              - "URL"
              - "US_BANK_NUMBER"
              - "US_DRIVER_LICENSE"
              - "US_ITIN"
              - "US_PASSPORT"
              - "US_SSN"
              - "UUID"
              - "VEHICLE_ID"
          description: "English entity types to redact. Omit to redact every type detected for the language."
      required:
        - "id"
        - "language"
      title: "PII redaction plugin (English)"
    PIIRedactionPluginNl:
      type: "object"
      properties:
        id:
          type: "string"
          enum:
            - "pii_redaction"
          description: "Plugin discriminator. Must be `pii_redaction`."
        on_failure:
          type: "string"
          enum:
            - "block"
            - "passthrough"
          description: "Behavior when redaction is unavailable. `block` (default) fails the request; `passthrough` sends the original text."
        threshold:
          type: "number"
          minimum: 0
          maximum: 1
          description: "Detector confidence cutoff in [0,1]."
        language:
          type: "string"
          enum:
            - "nl"
          description: "Detector language."
        entities:
          type: "array"
          items:
            type: "string"
            enum:
              - "AGE"
              - "API_KEY"
              - "BANK_ROUTING"
              - "BIC"
              - "BIOMETRIC_ID"
              - "BLOOD_TYPE"
              - "BSN"
              - "CREDIT_CARD"
              - "CRYPTO"
              - "DATE_TIME"
              - "DEVICE_ID"
              - "EDUCATION_LEVEL"
              - "EMAIL_ADDRESS"
              - "EMPLOYMENT_STATUS"
              - "GENDER"
              - "HEALTH_PLAN_ID"
              - "HTTP_COOKIE"
              - "IBAN_CODE"
              - "ID"
              - "ID_CARD"
              - "IMEI"
              - "IP_ADDRESS"
              - "KVK_NUMBER"
              - "LANGUAGE"
              - "LICENSE_NUMBER"
              - "LICENSE_PLATE"
              - "LOCATION"
              - "MAC_ADDRESS"
              - "MEDICAL_RECORD"
              - "NRP"
              - "ORGANIZATION"
              - "PASSPORT"
              - "PASSWORD"
              - "PERSON"
              - "PHONE_NUMBER"
              - "PIN"
              - "POLITICAL_VIEW"
              - "RACE_ETHNICITY"
              - "RELIGIOUS_BELIEF"
              - "SEXUALITY"
              - "TAX_ID"
              - "TITLE"
              - "URL"
              - "US_DRIVER_LICENSE"
              - "US_SSN"
              - "VEHICLE_ID"
          description: "Dutch entity types to redact. Omit to redact every type detected for the language."
      required:
        - "id"
        - "language"
      title: "PII redaction plugin (Dutch)"
    ResponseHealingPlugin:
      type: "object"
      properties:
        id:
          type: "string"
          enum:
            - "response_healing"
          description: "Plugin discriminator. Must be `response_healing`."
      required:
        - "id"
      additionalProperties: false
      title: "Response healing plugin"
    TraceScrubbingPlugin:
      type: "object"
      properties:
        id:
          type: "string"
          enum:
            - "trace_scrubbing"
          description: "Plugin discriminator. Must be `trace_scrubbing`."
        mask:
          type: "array"
          items:
            type: "string"
            enum:
              - "all"
              - "system"
              - "input"
              - "output"
              - "metadata"
              - "variables"
          minItems: 1
          description: "Trace surfaces to scrub. `all` includes system, input, output, metadata, and variables."
      required:
        - "id"
        - "mask"
      additionalProperties: false
      title: "Trace scrubbing plugin"
    AgentToolInputCRUD:
      anyOf:
        - $ref: "#/components/schemas/GoogleSearchToolInput"
        - $ref: "#/components/schemas/WebScraperToolInput"
        - $ref: "#/components/schemas/CallSubAgentToolInput"
        - $ref: "#/components/schemas/RetrieveAgentsToolInput"
        - $ref: "#/components/schemas/QueryMemoryStoreToolInput"
        - $ref: "#/components/schemas/WriteMemoryStoreToolInput"
        - $ref: "#/components/schemas/RetrieveMemoryStoresToolInput"
        - $ref: "#/components/schemas/DeleteMemoryDocumentToolInput"
        - $ref: "#/components/schemas/RetrieveKnowledgeBasesToolInput"
        - $ref: "#/components/schemas/QueryKnowledgeBaseToolInput"
        - $ref: "#/components/schemas/CurrentDateToolInput"
        - $ref: "#/components/schemas/AdvisorToolInput"
        - $ref: "#/components/schemas/SidekickToolInput"
        - $ref: "#/components/schemas/CodeInterpreterToolInput"
        - $ref: "#/components/schemas/HttpToolInput"
        - $ref: "#/components/schemas/CodeToolInput"
        - $ref: "#/components/schemas/FunctionToolInput"
        - $ref: "#/components/schemas/JsonSchemaToolInput"
        - $ref: "#/components/schemas/McpToolInput"
        - $ref: "#/components/schemas/ProviderToolInput"
      description: "Tool configuration for agent create/update operations. Built-in tools only require a type, while custom tools (HTTP, Code, Function, JSON Schema, MCP) must reference pre-created tools by key or id. Provider-prefixed tools (e.g., openai:web_search) are passed through to the provider."
      title: "Agent Tool Input (CRUD)"
      discriminator:
        propertyName: "type"
        mapping:
          google_search: "#/components/schemas/GoogleSearchToolInput"
          web_scraper: "#/components/schemas/WebScraperToolInput"
          call_sub_agent: "#/components/schemas/CallSubAgentToolInput"
          retrieve_agents: "#/components/schemas/RetrieveAgentsToolInput"
          query_memory_store: "#/components/schemas/QueryMemoryStoreToolInput"
          write_memory_store: "#/components/schemas/WriteMemoryStoreToolInput"
          retrieve_memory_stores: "#/components/schemas/RetrieveMemoryStoresToolInput"
          delete_memory_document: "#/components/schemas/DeleteMemoryDocumentToolInput"
          retrieve_knowledge_bases: "#/components/schemas/RetrieveKnowledgeBasesToolInput"
          query_knowledge_base: "#/components/schemas/QueryKnowledgeBaseToolInput"
          current_date: "#/components/schemas/CurrentDateToolInput"
          advisor: "#/components/schemas/AdvisorToolInput"
          sidekick: "#/components/schemas/SidekickToolInput"
          code_interpreter: "#/components/schemas/CodeInterpreterToolInput"
          http: "#/components/schemas/HttpToolInput"
          code: "#/components/schemas/CodeToolInput"
          function: "#/components/schemas/FunctionToolInput"
          json_schema: "#/components/schemas/JsonSchemaToolInput"
          mcp: "#/components/schemas/McpToolInput"
    GoogleSearchToolInput:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "google_search"
        requires_approval:
          type: "boolean"
          description: "Whether this tool requires approval before execution"
        configuration:
          type: "object"
          additionalProperties: {}
          description: "Static tool configuration set at design time. Merged over LLM-provided arguments at execution time."
      required:
        - "type"
      title: "Google search tool"
      description: "Performs Google searches to retrieve web content"
    WebScraperToolInput:
      type: "object"
      properties:
        type:
          type: "string"
          enum:
            - "web_scraper"
        requires_approval:
          type: "boolean"
          description: "Whether this tool requires approval before execution"
        configuration:
          type: "object"
          additionalProperties: {}
          description: "Static tool configuration set at design time. Merged over LLM-provided arguments at execution time."
      required:
        - "type"
      title: "Web scraper tool"
      description: "Scrapes and extracts content from web pages"
    CallSubAgentToolInput:
      type: "object"
      properties:
        type:
[...]
