info:
  title: "orq.ai API"
  version: "2.0"
  description: "orq.ai API documentation"
security:
  - ApiKey: []
servers:
  - url: "https://my.orq.ai"
openapi: "3.1.0"
x-speakeasy-timeout: 600000
externalDocs:
  url: "https://docs.orq.ai"
  description: "orq.ai Documentation"
x-speakeasy-globals: {"parameters": [{"name": "contactId", "in": "header", "schema": {"type": "string"}, "x-speakeasy-globals-hidden": true}, {"name": "environment", "in": "header", "schema": {"type": "string"}, "x-speakeasy-globals-hidden": true}]}
components:
  securitySchemes:
    "ApiKey":
      type: "http"
      scheme: "bearer"
      bearerFormat: "JWT"
  schemas:
    "HonoApiError":
      type: "object"
      properties:
        "code":
          type: "string"
          description: "HTTP status code"
        "message":
          type: "string"
          description: "Error message"
      required:
        - "message"
    "Deployments":
      type: "object"
      properties:
        "key":
          type: "string"
          description: "The deployment key to invoke"
        "stream":
          type: "boolean"
          default: false
          description: "If set, partial message content will be sent. Tokens will be sent as data-only `server-sent events` as they become available, with the stream terminated by a `data: [DONE]` message."
          x-speakeasy-ignore: true
        "inputs":
          type: "object"
          additionalProperties: {}
          description: "Key-value pairs variables to replace in your prompts. If a variable is not provided that is defined in the prompt, the default variables are used."
        "context":
          type: "object"
          additionalProperties: {}
          description: "Key-value pairs that match your data model and fields declared in your deployment routing configuration"
        "prefix_messages":
          type: "array"
          items:
            oneOf:
              - type: "object"
                properties:
                  "role":
                    type: "string"
                    enum:
                      - "developer"
                    description: "The role of the messages author, in this case  `developer`."
                  "content":
                    type: "string"
                    description: "The contents of the developer message."
                  "name":
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                required:
                  - "role"
                  - "content"
                title: "Developer message"
              - type: "object"
                properties:
                  "role":
                    type: "string"
                    enum:
                      - "system"
                    description: "The role of the messages author, in this case `system`."
                  "content":
                    type: "string"
                    description: "The contents of the system message."
                  "name":
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                required:
                  - "role"
                  - "content"
                title: "System message"
              - type: "object"
                properties:
                  "role":
                    type: "string"
                    enum:
                      - "user"
                    description: "The role of the messages author, in this case `user`."
                  "name":
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                  "content":
                    anyOf:
                      - type: "string"
                        description: "The text contents of the message."
                      - type: "array"
                        items:
                          oneOf:
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "text"
                                "text":
                                  type: "string"
                              required:
                                - "type"
                                - "text"
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "image_url"
                                "image_url":
                                  type: "object"
                                  properties:
                                    "url":
                                      type: "string"
                                      description: "Either a URL of the image or the base64 encoded image data."
                                    "detail":
                                      type: "string"
                                      enum:
                                        - "low"
                                        - "high"
                                        - "auto"
                                      description: "Specifies the detail level of the image."
                                  required:
                                    - "url"
                              required:
                                - "type"
                                - "image_url"
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "input_audio"
                                "input_audio":
                                  type: "object"
                                  properties:
                                    "data":
                                      type: "string"
                                      description: "Base64 encoded audio data."
                                    "format":
                                      type: "string"
                                      enum:
                                        - "mp3"
                                        - "wav"
                                      description: "The format of the encoded audio data. Currently supports `wav` and `mp3`."
                                  required:
                                    - "data"
                                    - "format"
                              required:
                                - "type"
                                - "input_audio"
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "file"
                                  description: "The type of the content part. Always `file`."
                                "file":
                                  type: "object"
                                  properties:
                                    "file_data":
                                      type: "string"
                                      description: "The file data as a data URI string in the format 'data:<mime-type>;base64,<base64-encoded-data>'. Example: 'data:image/png;base64,iVBORw0KGgoAAAANS...'"
                                    "uri":
                                      type: "string"
                                      description: "URL to the file. Only supported by Anthropic Claude models for PDF files."
                                    "mimeType":
                                      type: "string"
                                      description: "MIME type of the file (e.g., application/pdf, image/png)"
                                    "filename":
                                      type: "string"
                                      description: "The name of the file, used when passing the file to the model as a string."
                                  description: "File data for the content part. Must contain either file_data or uri, but not both."
                              required:
                                - "type"
                                - "file"
                        description: "An array of content parts with a defined type. Supported options differ based on the model being used to generate the response. Can contain text, image, or audio inputs."
                    description: "The contents of the user message."
                required:
                  - "role"
                  - "content"
                title: "User message"
              - type: "object"
                properties:
                  "content":
                    anyOf:
                      - type: "string"
                        description: "The contents of the assistant message."
                      - type: "array"
                        items:
                          oneOf:
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "text"
                                  description: "The type of the content part."
                                "text":
                                  type: "string"
                                  description: "The text content."
                                "annotations":
                                  type: "array"
                                  items:
                                    oneOf:
                                      - type: "object"
                                        properties:
                                          "type":
                                            type: "string"
                                            enum:
                                              - "file_citation"
                                          "text":
                                            type: "string"
                                          "file_citation":
                                            type: "object"
                                            properties:
                                              "file_id":
                                                type: "string"
                                              "quote":
                                                type: "string"
                                            required:
                                              - "file_id"
                                          "start_index":
                                            type: "integer"
                                          "end_index":
                                            type: "integer"
                                        required:
                                          - "type"
                                          - "text"
                                          - "file_citation"
                                          - "start_index"
                                          - "end_index"
                                      - type: "object"
                                        properties:
                                          "type":
                                            type: "string"
                                            enum:
                                              - "file_path"
                                          "text":
                                            type: "string"
                                          "file_path":
                                            type: "object"
                                            properties:
                                              "file_id":
                                                type: "string"
                                            required:
                                              - "file_id"
                                          "start_index":
                                            type: "integer"
                                          "end_index":
                                            type: "integer"
                                        required:
                                          - "type"
                                          - "text"
                                          - "file_path"
                                          - "start_index"
                                          - "end_index"
                                  description: "Annotations for the text content."
                              required:
                                - "type"
                                - "text"
                              title: "Text content part"
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "refusal"
                                  description: "The type of the content part."
                                "refusal":
                                  type: "string"
                                  description: "The refusal message generated by the model."
                              required:
                                - "type"
                                - "refusal"
                              title: "Refusal content part"
                        description: "An array of content parts with a defined type. Can be one or more of type `text`, or exactly one of type `refusal`."
                      - type: "null"
                    description: "The contents of the assistant message. Required unless `tool_calls` or `function_call` is specified."
                  "refusal":
                    type:
                      - "string"
                      - "null"
                    description: "The refusal message by the assistant."
                  "role":
                    type: "string"
                    enum:
                      - "assistant"
                    description: "The role of the messages author, in this case `assistant`."
                  "name":
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                  "audio":
                    type:
                      - "object"
                      - "null"
                    properties:
                      "id":
                        type: "string"
                        description: "Unique identifier for a previous audio response from the model."
                    required:
                      - "id"
                    description: "Data about a previous audio response from the model. "
                  "tool_calls":
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        "id":
                          type: "string"
                          description: "The ID of the tool call."
                        "type":
                          type: "string"
                          enum:
                            - "function"
                          description: "The type of the tool. Currently, only `function` is supported."
                        "function":
                          type: "object"
                          properties:
                            "name":
                              type: "string"
                              description: "The name of the function to call."
                            "arguments":
                              type: "string"
                              description: "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function."
                      required:
                        - "id"
                        - "type"
                        - "function"
                    description: "The tool calls generated by the model, such as function calls."
                  "reasoning":
                    type: "string"
                    description: "Internal thought process of the model"
                  "reasoning_signature":
                    type: "string"
                    description: "The signature holds a cryptographic token which verifies that the thinking block was generated by the model, and is verified when thinking is part of a multiturn conversation. This value should not be modified and should always be sent to the API when the reasoning is redacted. Currently only supported by `Anthropic`."
                  "redacted_reasoning":
                    type: "string"
                    description: "Occasionally the model's internal reasoning will be flagged by the safety systems of the provider. When this occurs, the provider will encrypt the reasoning. These redacted reasoning is decrypted when passed back to the API, allowing the model to continue its response without losing context."
                required:
                  - "role"
                title: "Assistant message"
              - type: "object"
                properties:
                  "role":
                    type: "string"
                    enum:
                      - "tool"
                    description: "The role of the messages author, in this case tool."
                  "content":
                    anyOf:
                      - type: "string"
                      - type: "array"
                        items:
                          type: "string"
                    description: "The contents of the tool message."
                  "tool_call_id":
                    type: "string"
                    description: "Tool call that this message is responding to."
                required:
                  - "role"
                  - "content"
                  - "tool_call_id"
                title: "Tool message"
          description: "A list of messages to include after the `System` message, but before the  `User` and `Assistant` pairs configured in your deployment."
        "messages":
          type: "array"
          items:
            oneOf:
              - type: "object"
                properties:
                  "role":
                    type: "string"
                    enum:
                      - "developer"
                    description: "The role of the messages author, in this case  `developer`."
                  "content":
                    type: "string"
                    description: "The contents of the developer message."
                  "name":
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                required:
                  - "role"
                  - "content"
                title: "Developer message"
              - type: "object"
                properties:
                  "role":
                    type: "string"
                    enum:
                      - "system"
                    description: "The role of the messages author, in this case `system`."
                  "content":
                    type: "string"
                    description: "The contents of the system message."
                  "name":
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                required:
                  - "role"
                  - "content"
                title: "System message"
              - type: "object"
                properties:
                  "role":
                    type: "string"
                    enum:
                      - "user"
                    description: "The role of the messages author, in this case `user`."
                  "name":
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                  "content":
                    anyOf:
                      - type: "string"
                        description: "The text contents of the message."
                      - type: "array"
                        items:
                          oneOf:
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "text"
                                "text":
                                  type: "string"
                              required:
                                - "type"
                                - "text"
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "image_url"
                                "image_url":
                                  type: "object"
                                  properties:
                                    "url":
                                      type: "string"
                                      description: "Either a URL of the image or the base64 encoded image data."
                                    "detail":
                                      type: "string"
                                      enum:
                                        - "low"
                                        - "high"
                                        - "auto"
                                      description: "Specifies the detail level of the image."
                                  required:
                                    - "url"
                              required:
                                - "type"
                                - "image_url"
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "input_audio"
                                "input_audio":
                                  type: "object"
                                  properties:
                                    "data":
                                      type: "string"
                                      description: "Base64 encoded audio data."
                                    "format":
                                      type: "string"
                                      enum:
                                        - "mp3"
                                        - "wav"
                                      description: "The format of the encoded audio data. Currently supports `wav` and `mp3`."
                                  required:
                                    - "data"
                                    - "format"
                              required:
                                - "type"
                                - "input_audio"
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "file"
                                  description: "The type of the content part. Always `file`."
                                "file":
                                  type: "object"
                                  properties:
                                    "file_data":
                                      type: "string"
                                      description: "The file data as a data URI string in the format 'data:<mime-type>;base64,<base64-encoded-data>'. Example: 'data:image/png;base64,iVBORw0KGgoAAAANS...'"
                                    "uri":
                                      type: "string"
                                      description: "URL to the file. Only supported by Anthropic Claude models for PDF files."
                                    "mimeType":
                                      type: "string"
                                      description: "MIME type of the file (e.g., application/pdf, image/png)"
                                    "filename":
                                      type: "string"
                                      description: "The name of the file, used when passing the file to the model as a string."
                                  description: "File data for the content part. Must contain either file_data or uri, but not both."
                              required:
                                - "type"
                                - "file"
                        description: "An array of content parts with a defined type. Supported options differ based on the model being used to generate the response. Can contain text, image, or audio inputs."
                    description: "The contents of the user message."
                required:
                  - "role"
                  - "content"
                title: "User message"
              - type: "object"
                properties:
                  "content":
                    anyOf:
                      - type: "string"
                        description: "The contents of the assistant message."
                      - type: "array"
                        items:
                          oneOf:
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "text"
                                  description: "The type of the content part."
                                "text":
                                  type: "string"
                                  description: "The text content."
                                "annotations":
                                  type: "array"
                                  items:
                                    oneOf:
                                      - type: "object"
                                        properties:
                                          "type":
                                            type: "string"
                                            enum:
                                              - "file_citation"
                                          "text":
                                            type: "string"
                                          "file_citation":
                                            type: "object"
                                            properties:
                                              "file_id":
                                                type: "string"
                                              "quote":
                                                type: "string"
                                            required:
                                              - "file_id"
                                          "start_index":
                                            type: "integer"
                                          "end_index":
                                            type: "integer"
                                        required:
                                          - "type"
                                          - "text"
                                          - "file_citation"
                                          - "start_index"
                                          - "end_index"
                                      - type: "object"
                                        properties:
                                          "type":
                                            type: "string"
                                            enum:
                                              - "file_path"
                                          "text":
                                            type: "string"
                                          "file_path":
                                            type: "object"
                                            properties:
                                              "file_id":
                                                type: "string"
                                            required:
                                              - "file_id"
                                          "start_index":
                                            type: "integer"
                                          "end_index":
                                            type: "integer"
                                        required:
                                          - "type"
                                          - "text"
                                          - "file_path"
                                          - "start_index"
                                          - "end_index"
                                  description: "Annotations for the text content."
                              required:
                                - "type"
                                - "text"
                              title: "Text content part"
                            - type: "object"
                              properties:
                                "type":
                                  type: "string"
                                  enum:
                                    - "refusal"
                                  description: "The type of the content part."
                                "refusal":
                                  type: "string"
                                  description: "The refusal message generated by the model."
                              required:
                                - "type"
                                - "refusal"
                              title: "Refusal content part"
                        description: "An array of content parts with a defined type. Can be one or more of type `text`, or exactly one of type `refusal`."
                      - type: "null"
                    description: "The contents of the assistant message. Required unless `tool_calls` or `function_call` is specified."
                  "refusal":
                    type:
                      - "string"
                      - "null"
                    description: "The refusal message by the assistant."
                  "role":
                    type: "string"
                    enum:
                      - "assistant"
                    description: "The role of the messages author, in this case `assistant`."
                  "name":
                    type: "string"
                    description: "An optional name for the participant. Provides the model information to differentiate between participants of the same role."
                  "audio":
                    type:
                      - "object"
                      - "null"
                    properties:
                      "id":
                        type: "string"
                        description: "Unique identifier for a previous audio response from the model."
                    required:
                      - "id"
                    description: "Data about a previous audio response from the model. "
                  "tool_calls":
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        "id":
                          type: "string"
                          description: "The ID of the tool call."
                        "type":
                          type: "string"
                          enum:
                            - "function"
                          description: "The type of the tool. Currently, only `function` is supported."
                        "function":
                          type: "object"
                          properties:
                            "name":
                              type: "string"
                              description: "The name of the function to call."
                            "arguments":
                              type: "string"
                              description: "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function."
                      required:
                        - "id"
                        - "type"
                        - "function"
                    description: "The tool calls generated by the model, such as function calls."
                  "reasoning":
                    type: "string"
                    description: "Internal thought process of the model"
                  "reasoning_signature":
                    type: "string"
                    description: "The signature holds a cryptographic token which verifies that the thinking block was generated by the model, and is verified when thinking is part of a multiturn conversation. This value should not be modified and should always be sent to the API when the reasoning is redacted. Currently only supported by `Anthropic`."
                  "redacted_reasoning":
                    type: "string"
                    description: "Occasionally the model's internal reasoning will be flagged by the safety systems of the provider. When this occurs, the provider will encrypt the reasoning. These redacted reasoning is decrypted when passed back to the API, allowing the model to continue its response without losing context."
                required:
                  - "role"
                title: "Assistant message"
              - type: "object"
                properties:
                  "role":
                    type: "string"
                    enum:
                      - "tool"
                    description: "The role of the messages author, in this case tool."
                  "content":
                    anyOf:
                      - type: "string"
                      - type: "array"
                        items:
                          type: "string"
                    description: "The contents of the tool message."
                  "tool_call_id":
                    type: "string"
                    description: "Tool call that this message is responding to."
                required:
                  - "role"
                  - "content"
                  - "tool_call_id"
                title: "Tool message"
          description: "A list of messages to send to the deployment."
        "file_ids":
          type: "array"
          items:
            type: "string"
          description: "A list of file IDs that are associated with the deployment request."
        "metadata":
          type: "object"
          additionalProperties: {}
          description: "Key-value pairs that you want to attach to the log generated by this request."
        "extra_params":
          type: "object"
          additionalProperties: {}
          description: "Utilized for passing additional parameters to the model provider. Exercise caution when using this feature, as the included parameters will overwrite any parameters specified in the deployment prompt configuration."
        "documents":
          type: "array"
          items:
            type: "object"
            properties:
              "text":
                type: "string"
                description: "The text content of the document"
              "metadata":
                type: "object"
                properties:
                  "file_name":
                    type: "string"
                    description: "Name of the file the text is from."
                  "file_type":
                    type: "string"
                    description: "Content type of the file the text is from."
                  "page_number":
                    type: "number"
                    description: "The page number the text is from."
                description: "Metadata about the document"
            required:
              - "text"
          description: "A list of relevant documents that evaluators and guardrails can cite to evaluate the user input or the model response based on your deployment settings."
        "invoke_options":
          type: "object"
          properties:
            "include_retrievals":
              type: "boolean"
              default: false
              description: "Whether to include the retrieved knowledge chunks in the response."
            "mock_response":
              type: "string"
              description: "A mock response to use instead of calling the LLM API. This is useful for testing purposes. When provided, the system will return a response object with this content as the completion, without making an actual API call to the LLM provider. This works for both streaming and non-streaming requests. Mock responses will not generate logs, traces or be counted for your plan usage."
        "thread":
          type: "object"
          properties:
            "id":
              type: "string"
              description: "Unique thread identifier to group related invocations."
            "tags":
              type: "array"
              items:
                type: "string"
              description: "Optional tags to differentiate or categorize threads"
          required:
            - "id"
        "knowledge_filter":
          anyOf:
            - type: "object"
              additionalProperties:
                anyOf:
                  - type: "object"
                    properties:
                      "eq":
                        anyOf:
                          - type: "string"
                            title: "string"
                            description: "String"
                          - type: "number"
                            title: "number"
                            description: "Number"
                          - type: "boolean"
                            title: "boolean"
                            description: "Boolean"
                    required:
                      - "eq"
                    title: "eq"
                    description: "Equal to"
                  - type: "object"
                    properties:
                      "ne":
                        anyOf:
                          - type: "string"
                            title: "string"
                            description: "String"
                          - type: "number"
                            title: "number"
                            description: "Number"
                          - type: "boolean"
                            title: "boolean"
                            description: "Boolean"
                    required:
                      - "ne"
                    title: "ne"
                    description: "Not equal to"
                  - type: "object"
                    properties:
                      "gt":
                        type: "number"
                    required:
                      - "gt"
                  - type: "object"
                    properties:
                      "gte":
                        type: "number"
                    required:
                      - "gte"
                    title: "gte"
                    description: "Greater than or equal to"
                  - type: "object"
                    properties:
                      "lt":
                        type: "number"
                    required:
                      - "lt"
                    title: "lt"
                    description: "Less than"
                  - type: "object"
                    properties:
                      "lte":
                        type: "number"
                    required:
                      - "lte"
                    title: "lte"
                    description: "Less than or equal to"
                  - type: "object"
                    properties:
                      "in":
                        type: "array"
                        items:
                          anyOf:
                            - type: "string"
                              title: "string"
                              description: "String"
                            - type: "number"
                              title: "number"
                              description: "Number"
                            - type: "boolean"
                              title: "boolean"
                              description: "Boolean"
                    required:
                      - "in"
                    title: "in"
                    description: "In"
                  - type: "object"
                    properties:
                      "nin":
                        type: "array"
                        items:
                          anyOf:
                            - type: "string"
                              title: "string"
                              description: "String"
                            - type: "number"
                              title: "number"
                              description: "Number"
                            - type: "boolean"
                              title: "boolean"
                              description: "Boolean"
                    required:
                      - "nin"
                    title: "nin"
                    description: "Not in"
                  - type: "object"
                    properties:
                      "exists":
                        type: "boolean"
                    required:
                      - "exists"
                    title: "exists"
                    description: "Exists"
              title: "Search operator"
            - type: "object"
              properties:
                "and":
                  type: "array"
                  items:
                    type: "object"
                    additionalProperties:
                      anyOf:
                        - type: "object"
                          properties:
                            "eq":
                              anyOf:
                                - type: "string"
                                  title: "string"
                                  description: "String"
                                - type: "number"
                                  title: "number"
                                  description: "Number"
                                - type: "boolean"
                                  title: "boolean"
                                  description: "Boolean"
                          required:
                            - "eq"
                          title: "eq"
                          description: "Equal to"
                        - type: "object"
                          properties:
                            "ne":
                              anyOf:
                                - type: "string"
                                  title: "string"
                                  description: "String"
                                - type: "number"
                                  title: "number"
                                  description: "Number"
                                - type: "boolean"
                                  title: "boolean"
                                  description: "Boolean"
                          required:
                            - "ne"
                          title: "ne"
                          description: "Not equal to"
                        - type: "object"
                          properties:
                            "gt":
                              type: "number"
                          required:
                            - "gt"
                        - type: "object"
                          properties:
                            "gte":
                              type: "number"
                          required:
                            - "gte"
                          title: "gte"
                          description: "Greater than or equal to"
                        - type: "object"
                          properties:
                            "lt":
                              type: "number"
                          required:
                            - "lt"
                          title: "lt"
                          description: "Less than"
                        - type: "object"
                          properties:
                            "lte":
                              type: "number"
                          required:
                            - "lte"
                          title: "lte"
                          description: "Less than or equal to"
                        - type: "object"
                          properties:
                            "in":
                              type: "array"
                              items:
                                anyOf:
                                  - type: "string"
                                    title: "string"
                                    description: "String"
                                  - type: "number"
                                    title: "number"
                                    description: "Number"
                                  - type: "boolean"
                                    title: "boolean"
                                    description: "Boolean"
                          required:
                            - "in"
                          title: "in"
                          description: "In"
                        - type: "object"
                          properties:
                            "nin":
                              type: "array"
                              items:
                                anyOf:
                                  - type: "string"
                                    title: "string"
                                    description: "String"
                                  - type: "number"
                                    title: "number"
                                    description: "Number"
                                  - type: "boolean"
                                    title: "boolean"
                                    description: "Boolean"
                          required:
                            - "nin"
                          title: "nin"
                          description: "Not in"
                        - type: "object"
                          properties:
                            "exists":
                              type: "boolean"
                          required:
                            - "exists"
                          title: "exists"
                          description: "Exists"
              required:
                - "and"
              title: "and"
              description: "And"
            - type: "object"
              properties:
                "or":
                  type: "array"
                  items:
                    type: "object"
                    additionalProperties:
                      anyOf:
                        - type: "object"
                          properties:
                            "eq":
                              anyOf:
                                - type: "string"
                                  title: "string"
                                  description: "String"
                                - type: "number"
                                  title: "number"
                                  description: "Number"
                                - type: "boolean"
                                  title: "boolean"
                                  description: "Boolean"
                          required:
                            - "eq"
                          title: "eq"
                          description: "Equal to"
                        - type: "object"
                          properties:
                            "ne":
                              anyOf:
                                - type: "string"
                                  title: "string"
                                  description: "String"
                                - type: "number"
                                  title: "number"
                                  description: "Number"
                                - type: "boolean"
                                  title: "boolean"
                                  description: "Boolean"
                          required:
                            - "ne"
                          title: "ne"
                          description: "Not equal to"
                        - type: "object"
                          properties:
                            "gt":
                              type: "number"
                          required:
                            - "gt"
                        - type: "object"
                          properties:
                            "gte":
                              type: "number"
                          required:
                            - "gte"
                          title: "gte"
                          description: "Greater than or equal to"
                        - type: "object"
                          properties:
                            "lt":
                              type: "number"
                          required:
                            - "lt"
                          title: "lt"
                          description: "Less than"
                        - type: "object"
                          properties:
                            "lte":
                              type: "number"
                          required:
                            - "lte"
                          title: "lte"
                          description: "Less than or equal to"
                        - type: "object"
                          properties:
                            "in":
                              type: "array"
                              items:
                                anyOf:
                                  - type: "string"
                                    title: "string"
                                    description: "String"
                                  - type: "number"
                                    title: "number"
                                    description: "Number"
                                  - type: "boolean"
                                    title: "boolean"
                                    description: "Boolean"
                          required:
                            - "in"
                          title: "in"
                          description: "In"
                        - type: "object"
                          properties:
                            "nin":
                              type: "array"
                              items:
                                anyOf:
                                  - type: "string"
                                    title: "string"
                                    description: "String"
                                  - type: "number"
                                    title: "number"
                                    description: "Number"
                                  - type: "boolean"
                                    title: "boolean"
                                    description: "Boolean"
                          required:
                            - "nin"
                          title: "nin"
                          description: "Not in"
                        - type: "object"
                          properties:
                            "exists":
                              type: "boolean"
                          required:
                            - "exists"
                          title: "exists"
                          description: "Exists"
              required:
                - "or"
              title: "or"
              description: "Or"
          description: "A filter to apply to the knowledge base chunk metadata when using  knowledge bases in the deployment."
      required:
        - "key"
      description: "The deployment request payload"
paths:
  "/v2/contacts":
    post:
      tags:
        - "Contacts"
      x-speakeasy-group: "contacts"
      x-speakeasy-name-override: "create"
      x-code-samples: [{"lang": "typescript", "label": "Node.js", "source": "import { Orq } from \"@orq-ai/node\";\n\nconst orq = new Orq({\n  apiKey: process.env[\"ORQ_API_KEY\"]\n});\n\nconst contact = await orq.contacts.create({\n  externalId: \"user_12345\",\n  displayName: \"Jane Smith\",\n  email: \"jane.smith@example.com\",\n  tags: [\"premium\", \"beta-user\"],\n  metadata: {\n    department: \"Engineering\",\n    role: \"Senior Developer\"\n  }\n});\n\nconsole.log(contact);"}, {"lang": "python", "label": "Python", "source": "from orq_ai_sdk import Orq\nimport os\n\norq = Orq(api_key=os.getenv(\"ORQ_API_KEY\"))\n\ncontact = orq.contacts.create(\n    external_id=\"user_12345\",\n    display_name=\"Jane Smith\",\n    email=\"jane.smith@example.com\",\n    tags=[\"premium\", \"beta-user\"],\n    metadata={\n        \"department\": \"Engineering\",\n        \"role\": \"Senior Developer\"\n    }\n)\n\nprint(contact)"}]
      operationId: "CreateContact"
      summary: "Create a contact"
      description: "Creates a new contact with a unique external_id. If a contact with the same external_id already exists, the operation will fail. Use this endpoint to add users from your system to orq.ai for tracking their usage and engagement."
      requestBody:
        description: "Contact profile information"
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                "external_id":
                  type: "string"
                  minLength: 1
                  maxLength: 120
                  description: "Unique string value to identify the contact user in the customer's system. This should be the same ID you use in your system to reference this user."
                  example: "user_12345"
                "display_name":
                  type:
                    - "string"
                    - "null"
                  description: "Display name or nickname of the contact user. This is typically shown in user interfaces."
                  example: "Jane Smith"
                "email":
                  type:
                    - "string"
                    - "null"
                  format: "email"
                  description: "Email address of the contact user"
                  example: "jane.smith@example.com"
                "avatar_url":
                  type:
                    - "string"
                    - "null"
                  format: "uri"
                  description: "URL linking to the contact user's avatar image"
                  example: "https://example.com/avatars/jane-smith.jpg"
                "tags":
                  type: "array"
                  items:
                    type: "string"
                  description: "Array of tags associated with the contact. Useful for organizing and filtering contacts by categories, departments, or custom classifications."
                  example: ["premium", "beta-user", "enterprise"]
                "metadata":
                  type: "object"
                  additionalProperties: {}
                  description: "Additional custom metadata associated with the contact as key-value pairs. Use this to store any extra information specific to your application."
                  example: {"department": "Engineering", "role": "Senior Developer", "subscription_tier": "premium", "last_login": "2024-01-15T10:30:00Z"}
              required:
                - "external_id"
      responses:
        "201":
          description: "Created Contact"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "_id":
                    type: "string"
                    format: "ulid"
                    description: "Unique ULID (Universally Unique Lexicographically Sortable Identifier) for the contact"
                    example: "contact_01ARZ3NDEKTSV4RRFFQ69G5FAV"
                  "external_id":
                    type: "string"
                    minLength: 1
                    maxLength: 120
                    description: "Unique string value to identify the contact user in the customer's system. This should be the same ID you use in your system to reference this user."
                    example: "user_12345"
                  "workspace_id":
                    type: "string"
                    format: "uuid"
                    description: "Unique identifier for the workspace to which the contact belongs"
                    example: "550e8400-e29b-41d4-a716-446655440000"
                  "display_name":
                    type:
                      - "string"
                      - "null"
                    description: "Display name or nickname of the contact user. This is typically shown in user interfaces."
                    example: "Jane Smith"
                  "email":
                    type:
                      - "string"
                      - "null"
                    format: "email"
                    description: "Email address of the contact user"
                    example: "jane.smith@example.com"
                  "avatar_url":
                    type:
                      - "string"
                      - "null"
                    format: "uri"
                    description: "URL linking to the contact user's avatar image"
                    example: "https://example.com/avatars/jane-smith.jpg"
                  "tags":
                    type: "array"
                    items:
                      type: "string"
                    description: "Array of tags associated with the contact. Useful for organizing and filtering contacts by categories, departments, or custom classifications."
                    example: ["premium", "beta-user", "enterprise"]
                  "metadata":
                    type: "object"
                    additionalProperties: {}
                    description: "Additional custom metadata associated with the contact as key-value pairs. Use this to store any extra information specific to your application."
                    example: {"department": "Engineering", "role": "Senior Developer", "subscription_tier": "premium", "last_login": "2024-01-15T10:30:00Z"}
                  "created":
                    anyOf:
                      - type: "string"
                        format: "date-time"
                      - type: "string"
                        format: "date"
                    default: "2025-11-12T15:51:24.315Z"
                    readOnly: true
                    format: "date-time"
                    description: "The date and time the resource was created"
                  "updated":
                    anyOf:
                      - type: "string"
                        format: "date-time"
                        default: "2025-11-12T15:51:24.316Z"
                      - type: "string"
                        format: "date"
                    readOnly: true
                    format: "date-time"
                    description: "The date and time the resource was last updated"
                required:
                  - "_id"
                  - "external_id"
                  - "workspace_id"
              example: {"_id": "contact_01ARZ3NDEKTSV4RRFFQ69G5FAV", "external_id": "user_12345", "workspace_id": "550e8400-e29b-41d4-a716-446655440000", "display_name": "Jane Smith", "email": "jane.smith@example.com", "avatar_url": "https://example.com/avatars/jane-smith.jpg", "tags": ["premium", "beta-user"], "metadata": {"department": "Engineering", "role": "Senior Developer", "subscription_tier": "premium"}, "created": "2024-01-15T10:30:00Z", "updated": "2024-01-15T10:30:00Z"}
      security:
        - ApiKey: []
    get:
      tags:
        - "Contacts"
      x-speakeasy-group: "contacts"
      x-speakeasy-name-override: "list"
      x-code-samples: [{"lang": "typescript", "label": "Node.js", "source": "import { Orq } from \"@orq-ai/node\";\n\nconst orq = new Orq({\n  apiKey: process.env[\"ORQ_API_KEY\"]\n});\n\nconst contacts = await orq.contacts.list({\n  limit: 50,\n  startingAfter: \"contact_01ARZ3NDEKTSV4RRFFQ69G5FAV\"\n});\n\nconsole.log(contacts.data);\nconsole.log('Has more:', contacts.hasMore);"}, {"lang": "python", "label": "Python", "source": "from orq_ai_sdk import Orq\nimport os\n\norq = Orq(api_key=os.getenv(\"ORQ_API_KEY\"))\n\ncontacts = orq.contacts.list(\n    limit=50,\n    starting_after=\"contact_01ARZ3NDEKTSV4RRFFQ69G5FAV\"\n)\n\nprint(contacts.data)\nprint(f\"Has more: {contacts.has_more}\")"}]
      operationId: "ListContacts"
      summary: "List contacts"
      description: "Retrieves a paginated list of contacts in your workspace. Use pagination parameters to navigate through large contact lists efficiently."
      parameters:
        - schema:
            type: "number"
            minimum: 1
            maximum: 50
            default: 10
            description: "A limit on the number of objects to be returned. Limit can range between 1 and 50, and the default is 10"
          required: false
          description: "A limit on the number of objects to be returned. Limit can range between 1 and 50, and the default is 10"
          name: "limit"
          in: "query"
        - schema:
            type: "string"
            description: "A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, ending with `01JJ1HDHN79XAS7A01WB3HYSDB`, your subsequent call can include `after=01JJ1HDHN79XAS7A01WB3HYSDB` in order to fetch the next page of the list."
          required: false
          description: "A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, ending with `01JJ1HDHN79XAS7A01WB3HYSDB`, your subsequent call can include `after=01JJ1HDHN79XAS7A01WB3HYSDB` in order to fetch the next page of the list."
          name: "starting_after"
          in: "query"
        - schema:
            type: "string"
            description: "A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, starting with `01JJ1HDHN79XAS7A01WB3HYSDB`, your subsequent call can include `before=01JJ1HDHN79XAS7A01WB3HYSDB` in order to fetch the previous page of the list."
          required: false
          description: "A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, starting with `01JJ1HDHN79XAS7A01WB3HYSDB`, your subsequent call can include `before=01JJ1HDHN79XAS7A01WB3HYSDB` in order to fetch the previous page of the list."
          name: "ending_before"
          in: "query"
        - schema:
            type: "object"
            properties:
              "tags":
                type: "array"
                items:
                  type: "string"
            description: "Filter contacts by tags. Can be provided as JSON object {\"tags\": [\"premium\", \"beta-user\"]} or as query format \"tags=premium,beta-user\""
            example: {"tags": ["premium", "beta-user"]}
          required: false
          description: "Filter contacts by tags. Can be provided as JSON object {\"tags\": [\"premium\", \"beta-user\"]} or as query format \"tags=premium,beta-user\""
          name: "filter_by"
          in: "query"
        - schema:
            type:
              - "boolean"
              - "null"
            default: false
            description: "Include usage metrics of the last 30 days for each contact."
          required: false
          description: "Include usage metrics of the last 30 days for each contact."
          name: "include_metrics"
          in: "query"
      responses:
        "200":
          description: "List of contacts"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "object":
                    type: "string"
                    enum:
                      - "list"
                  "data":
                    type: "array"
                    items:
                      type: "object"
                      properties:
                        "_id":
                          type: "string"
                          format: "ulid"
                          description: "Unique ULID (Universally Unique Lexicographically Sortable Identifier) for the contact"
                          example: "contact_01ARZ3NDEKTSV4RRFFQ69G5FAV"
                        "external_id":
                          type: "string"
                          minLength: 1
                          maxLength: 120
                          description: "Unique string value to identify the contact user in the customer's system. This should be the same ID you use in your system to reference this user."
                          example: "user_12345"
                        "display_name":
                          type:
                            - "string"
                            - "null"
                          description: "Display name or nickname of the contact user. This is typically shown in user interfaces."
                          example: "Jane Smith"
                        "email":
                          type:
                            - "string"
                            - "null"
                          format: "email"
                          description: "Email address of the contact user"
                          example: "jane.smith@example.com"
                        "avatar_url":
                          type:
                            - "string"
                            - "null"
                          format: "uri"
                          description: "URL linking to the contact user's avatar image"
                          example: "https://example.com/avatars/jane-smith.jpg"
                        "tags":
                          type: "array"
                          items:
                            type: "string"
                          description: "Array of tags associated with the contact. Useful for organizing and filtering contacts by categories, departments, or custom classifications."
                          example: ["premium", "beta-user", "enterprise"]
                        "metadata":
                          type: "object"
                          additionalProperties: {}
                          description: "Additional custom metadata associated with the contact as key-value pairs. Use this to store any extra information specific to your application."
                          example: {"department": "Engineering", "role": "Senior Developer", "subscription_tier": "premium", "last_login": "2024-01-15T10:30:00Z"}
                        "created":
                          anyOf:
                            - type: "string"
                              format: "date-time"
                            - type: "string"
                              format: "date"
                          default: "2025-11-12T15:51:24.315Z"
                          readOnly: true
                          format: "date-time"
                          description: "The date and time the resource was created"
                        "updated":
                          anyOf:
                            - type: "string"
                              format: "date-time"
                              default: "2025-11-12T15:51:24.316Z"
                            - type: "string"
                              format: "date"
                          readOnly: true
                          format: "date-time"
                          description: "The date and time the resource was last updated"
                        "metrics":
                          type: "object"
                          properties:
                            "total_cost":
                              type: "number"
                              description: "Total cost in dollars of the last 30 days"
                              example: 100
                            "total_tokens":
                              type: "number"
                              description: "Total tokens of the last 30 days"
                              example: 1000
                            "total_requests":
                              type: "number"
                              description: "Total requests of the last 30 days"
                              example: 1000
                            "error_rate":
                              type: "number"
                              description: "P50 error rate of the last 30 days"
                              example: 22
                          required:
                            - "total_cost"
                            - "total_tokens"
                            - "total_requests"
                            - "error_rate"
                      required:
                        - "_id"
                        - "external_id"
                        - "metrics"
                  "has_more":
                    type: "boolean"
                required:
                  - "object"
                  - "data"
                  - "has_more"
              example: {"data": [{"_id": "contact_01ARZ3NDEKTSV4RRFFQ69G5FAV", "external_id": "user_12345", "display_name": "Jane Smith", "email": "jane.smith@example.com", "avatar_url": "https://example.com/avatars/jane-smith.jpg", "tags": ["premium", "beta-user"], "metadata": {"department": "Engineering", "role": "Senior Developer"}, "created": "2024-01-15T10:30:00Z", "updated": "2024-01-15T10:30:00Z"}, {"_id": "contact_01ARZ3NDEKTSV4RRFFQ69G5XY", "external_id": "user_67890", "display_name": "John Doe", "email": "john.doe@example.com", "tags": ["enterprise"], "metadata": {"department": "Sales", "role": "Account Manager"}, "created": "2024-01-14T09:15:00Z", "updated": "2024-01-14T09:15:00Z"}], "has_more": false}
      security:
        - ApiKey: []
  "/v2/feedback":
    post:
      tags:
        - "Feedback"
      x-speakeasy-name-override: "create"
      operationId: "CreateFeedback"
      description: "Submit feedback for the LLM transaction via the API"
      summary: "Submit feedback"
      requestBody:
        required: true
        description: "Feedback submission payload"
        content:
          "application/json":
            schema:
              type: "object"
              properties:
                "property":
                  type: "string"
                  description: "A string describing the specific property or aspect rated."
                  x-speakeasy-name-override: "field"
                "value":
                  anyOf:
                    - type: "string"
                    - type: "number"
                    - type: "array"
                      items:
                        type: "string"
                  description: "The feedback value. For single selection of multiple choice, the value should be an array of strings. For `correction`, the value should be a string."
                "trace_id":
                  type: "string"
                  description: "The id returned by the [`get_config`](https://docs.orq.ai/reference/deploymentgetconfig-1) or [`invoke`](https://docs.orq.ai/reference/deploymentinvoke-1) endpoints"
              required:
                - "property"
                - "value"
                - "trace_id"
            example: {"value": ["good"], "property": "rating", "trace_id": "67HTZ65Z9W91HSF51CW68KK1QH"}
      responses:
        "200":
          description: "Successful operation"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "property":
                    type: "string"
                    description: "A string describing the specific property or aspect rated."
                  "value":
                    anyOf:
                      - type: "string"
                      - type: "number"
                      - type: "array"
                        items:
                          type: "string"
                    description: "The feedback value. For single selection of multiple choice, the value should be an array of strings. For `correction`, the value should be a string."
                  "trace_id":
                    type: "string"
                    description: "The id returned by the [`get_config`](https://docs.orq.ai/reference/deploymentgetconfig-1) or [`invoke`](https://docs.orq.ai/reference/deploymentinvoke-1) endpoints"
                  "id":
                    type: "string"
                    format: "ulid"
                required:
                  - "property"
                  - "value"
                  - "trace_id"
                  - "id"
      security:
        - ApiKey: []
  "/v2/evaluators":
    get:
      tags:
        - "Evaluators"
      x-speakeasy-group: "evals"
      x-speakeasy-name-override: "all"
      operationId: "GetEvals"
      summary: "Get all Evaluators"
      parameters:
        - schema:
            type: "number"
            minimum: 1
            maximum: 200
            default: 10
            description: "A limit on the number of objects to be returned. Limit can range between 1 and 50, and the default is 10"
          required: false
          description: "A limit on the number of objects to be returned. Limit can range between 1 and 50, and the default is 10"
          name: "limit"
          in: "query"
        - schema:
            type: "string"
            description: "A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, ending with `01JJ1HDHN79XAS7A01WB3HYSDB`, your subsequent call can include `after=01JJ1HDHN79XAS7A01WB3HYSDB` in order to fetch the next page of the list."
          required: false
          description: "A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, ending with `01JJ1HDHN79XAS7A01WB3HYSDB`, your subsequent call can include `after=01JJ1HDHN79XAS7A01WB3HYSDB` in order to fetch the next page of the list."
          name: "starting_after"
          in: "query"
        - schema:
            type: "string"
            description: "A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, starting with `01JJ1HDHN79XAS7A01WB3HYSDB`, your subsequent call can include `before=01JJ1HDHN79XAS7A01WB3HYSDB` in order to fetch the previous page of the list."
          required: false
          description: "A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 20 objects, starting with `01JJ1HDHN79XAS7A01WB3HYSDB`, your subsequent call can include `before=01JJ1HDHN79XAS7A01WB3HYSDB` in order to fetch the previous page of the list."
          name: "ending_before"
          in: "query"
      responses:
        "200":
          description: "Returns a list of evals"
          content:
            "application/json":
              schema:
                type: "object"
                properties:
                  "object":
                    type: "string"
                    enum:
                      - "list"
                  "data":
                    type: "array"
                    items:
                      oneOf:
                        - type: "object"
                          properties:
                            "_id":
                              type: "string"
                            "description":
                              type: "string"
                            "created":
                              type: "string"
                              default: "2025-11-12T15:51:27.001Z"
                            "updated":
                              type: "string"
                              default: "2025-11-12T15:51:27.001Z"
                            "guardrail_config":
                              oneOf:
                                - type: "object"
                                  properties:
                                    "enabled":
                                      type: "boolean"
                                    "type":
                                      type: "string"
                                      enum:
                                        - "boolean"
                                    "value":
                                      type: "boolean"
                                  required:
                                    - "enabled"
                                    - "type"
                                    - "value"
                                  title: "Boolean"
                                - type: "object"
                                  properties:
                                    "enabled":
                                      type: "boolean"
                                    "type":
                                      type: "string"
                                      enum:
                                        - "number"
                                    "value":
                                      type: "number"
                                    "operator":
                                      type: "string"
                                      enum:
                                        - "eq"
                                        - "ne"
                                        - "gt"
                                        - "gte"
                                        - "lt"
                                        - "lte"
                                  required:
                                    - "enabled"
                                    - "type"
                                    - "value"
                                    - "operator"
                                  title: "Number"
                            "type":
                              type: "string"
                              enum:
                                - "llm_eval"
                            "prompt":
                              type: "string"
                            "key":
                              type: "string"
                              minLength: 1
                              pattern: "^[a-zA-Z0-9]([a-zA-Z0-9_-]*[a-zA-Z0-9])?$"
                            "model":
                              type: "string"
                          required:
                            - "_id"
                            - "description"
                            - "type"
                            - "prompt"
                            - "key"
                            - "model"
                          title: "LLM"
                        - type: "object"
                          properties:
                            "_id":
                              type: "string"
                            "description":
                              type: "string"
                            "created":
                              type: "string"
                              default: "2025-11-12T15:51:27.001Z"
                            "updated":
                              type: "string"
                              default: "2025-11-12T15:51:27.001Z"
                            "guardrail_config":
                              oneOf:
                                - type: "object"
                                  properties:
                                    "enabled":
                                      type: "boolean"
                                    "type":
                                      type: "string"
                                      enum:
                                        - "boolean"
                                    "value":
                                      type: "boolean"
                                  required:
                                    - "enabled"
                                    - "type"
                                    - "value"
                                  title: "Boolean"
                                - type: "object"
                                  properties:
                                    "enabled":
                                      type: "boolean"
                                    "type":
                                      type: "string"
                                      enum:
                                        - "number"
                                    "value":
                                      type: "number"
                                    "operator":
                                      type: "string"
                                      enum:
                                        - "eq"
                                        - "ne"
                                        - "gt"
                                        - "gte"
                                        - "lt"
                                        - "lte"
                                  required:
                                    - "enabled"
                                    - "type"
                                    - "value"
                                    - "operator"
                                  title: "Number"
                            "type":
                              type: "string"
                              enum:
                                - "json_schema"
                            "schema":
                              type: "string"
                            "key":
                              type: "string"
                              minLength: 1
                              pattern: "^[a-zA-Z0-9]([a-zA-Z0-9_-]*[a-zA-Z0-9])?$"
                          required:
                            - "_id"
                            - "description"
                            - "type"
                            - "schema"
                            - "key"
                          title: "JSON"
                        - type: "object"
                          properties:
                            "_id":
                              type: "string"
                            "description":
                              type: "string"
                            "created":
                              type: "string"
                              default: "2025-11-12T15:51:27.001Z"
                            "updated":
                              type: "string"
                              default: "2025-11-12T15:51:27.001Z"
                            "guardrail_config":
                              oneOf:
                                - type: "object"
                                  properties:
                                    "enabled":
                                      type: "boolean"
                                    "type":
                                      type: "string"
                                      enum:
                                        - "boolean"
                                    "value":
                                      type: "boolean"
                                  required:
                                    - "enabled"
                                    - "type"
                                    - "value"
                                  title: "Boolean"
                                - type: "object"
                                  properties:
                                    "enabled":
                                      type: "boolean"
                                    "type":
                                      type: "string"
                                      enum:
                                        - "number"
                                    "value":
                                      type: "number"
                                    "operator":
                                      type: "string"
                                      enum:
                                        - "eq"
                                        - "ne"
                                        - "gt"
                                        - "gte"
                                        - "lt"
                                        - "lte"
                                  required:
                                    - "enabled"
                                    - "type"
                                    - "value"
                                    - "operator"
                                  title: "Number"
                            "type":
                              type: "string"
                              enum:
                                - "http_eval"
                            "url":
                              type: "string"
                            "method":
                              type: "string"
                              enum:
                                - "GET"
                                - "POST"
                            "headers":
                              type: "object"
                              additionalProperties:
                                type: "string"
                            "payload":
                              type: "object"
                              additionalProperties: {}
                            "key":
                              type: "string"
                              minLength: 1
                              pattern: "^[a-zA-Z0-9]([a-zA-Z0-9_-]*[a-zA-Z0-9])?$"
                          required:
                            - "_id"
                            - "description"
                            - "type"
                            - "url"
                            - "method"
                            - "headers"
                            - "payload"
                            - "key"
                          title: "HTTP"
                        - type: "object"
                          properties:
                            "_id":
                              type: "string"
                            "description":
                              type: "string"
                            "created":
                              type: "string"
                              default: "2025-11-12T15:51:27.001Z"
                            "updated":
                              type: "string"
                              default: "2025-11-12T15:51:27.001Z"
                            "guardrail_config":
                              oneOf:
                                - type: "object"
                                  properties:
                                    "enabled":
                                      type: "boolean"
                                    "type":
                                      type: "string"
                                      enum:
                                        - "boolean"
                                    "value":
                                      type: "boolean"
                                  required:
                                    - "enabled"
                                    - "type"
                                    - "value"
                                  title: "Boolean"
                                - type: "object"
                                  properties:
                                    "enabled":
                                      type: "boolean"
                                    "type":
                                      type: "string"
                                      enum:
                                        - "number"
                                    "value":
                                      type: "number"
                                    "operator":
                                      type: "string"
                                      enum:
                                        - "eq"
                                        - "ne"
                                        - "gt"
                                        - "gte"
                                        - "lt"
                                        - "lte"
                                  required:
                                    - "enabled"
                                    - "type"
                                    - "value"
                                    - "operator"
                                  title: "Number"
                            "code":
                              type: "string"
                            "type":
                              type: "string"
                              enum:
                                - "python_eval"
                            "key":
                              type: "string"
                              minLength: 1
                              pattern: "^[a-zA-Z0-9]([a-zA-Z0-9_-]*[a-zA-Z0-9])?$"
                          required:
                            - "_id"
                            - "description"
                            - "code"
                            - "type"
                            - "key"
                          title: "Python"
                        - type: "object"
                          properties:
                            "_id":
                              type: "string"
                            "description":
                              type: "string"
                            "created":
                              type: "string"
                              default: "2025-11-12T15:51:27.001Z"
                            "updated":
                              type: "string"
                              default: "2025-11-12T15:51:27.001Z"
                            "guardrail_config":
                              oneOf:
                                - type: "object"
                                  properties:
                                    "enabled":
                                      type: "boolean"
                                    "type":
                                      type: "string"
                                      enum:
                                        - "boolean"
                                    "value":
                                      type: "boolean"
                                  required:
                                    - "enabled"
                                    - "type"
                                    - "value"
                                  title: "Boolean"
                                - type: "object"
                                  properties:
                                    "enabled":
                                      type: "boolean"
                                    "type":
                                      type: "string"
                                      enum:
                                        - "number"
                                    "value":
                                      type: "number"
                                    "operator":
                                      type: "string"
                                      enum:
                                        - "eq"
                                        - "ne"
                                        - "gt"
                                        - "gte"
                                        - "lt"
                                        - "lte"
                                  required:
                                    - "enabled"
                                    - "type"
                                    - "value"
                                    - "operator"
                                  title: "Number"
                            "type":
                              type: "string"
                              enum:
                                - "function_eval"
                            "function_params":
                              oneOf:
                                - type: "object"
                                  properties:
                                    "type":
                                      type: "string"
                                      enum:
                                        - "contains"
                                    "value":
                                      type: "string"
                                  required:
                                    - "type"
                                    - "value"
                                - type: "object"
                                  properties:
                                    "type":
                                      type: "string"
                                      enum:
                                        - "contains_none"
                                    "keywords":
                                      type: "array"
                                      items:
                                        type: "string"
                                  required:
                                    - "type"
                                    - "keywords"
                                - type: "object"
                                  properties:
                                    "type":
                                      type: "string"
                                      enum:
                                        - "contains_all"
                                    "keywords":
                                      type: "array"
                                      items:
                                        type: "string"
                                  required:
                                    - "type"
                                    - "keywords"
                                - type: "object"
                                  properties:
                                    "type":
                                      type: "string"
                                      enum:
                                        - "contains_any"
                                    "keywords":
                                      type: "array"
                                      items:
                                        type: "string"
                                  required:
                                    - "type"
                                    - "keywords"
                                - type: "object"
                                  properties:
                                    "type":
                                      type: "string"
                                      enum:
                                        - "contains_email"
                                  required:
                                    - "type"
                                - type: "object"
                                  properties:
                                    "type":
                                      type: "string"
                                      enum:
                                        - "contains_url"
                                  required:
                                    - "type"
                                - type: "object"
                                  properties:
                                    "type":
                                      type: "string"
                                      enum:
                                        - "contains_valid_link"
                                  required:
                                    - "type"
                                - type: "object"
                                  properties:
                                    "type":
                                      type: "string"
                                      enum:
                                        - "start_with"
                                    "value":
                                      type: "string"
                                  required:
                                    - "type"
                                    - "value"
                                - type: "object"
                                  properties:
                                    "type":
                                      type: "string"
                                      enum:
                                        - "ends_with"
                                    "value":
                                      type: "string"
                                  required:
                                    - "type"
                                    - "value"
                                - type: "object"
                                  properties:
                                    "type":
                                      type: "string"
                                      enum:
                                        - "exact_match"
                                  required:
                                    - "type"
                                - type: "object"
                                  properties:
                                    "type":
                                      type: "string"
                                      enum:
[...]
