/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { OrqCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { OrqError } from "../models/errors/orqerror.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Classify
 *
 * @remarks
 * **Beta.** Runs typed classification questions (`noul`, `choice`, `score`) against a native classify provider, including OpenAI Decisions with `openai/gpt-6-luna`, or a chat model that supports classify emulation. Emulated models answer through one structured-output call and their probabilities are model-reported rather than calibrated. Native providers can return `refusal` for individual questions; refused answers contain only `type`. The request and response follow the TypeSafe classification contract; `model` in the response identifies the primary or fallback model that answered and `usage` carries the computed cost like the Responses API. Both `/v3/router/classify` and `/v3/router/decisions` use this contract, including ordered `fallbacks`, request-level `retry`, and `identity` attribution. Both require `classify.execute`. This endpoint currently does not apply PII plugins or guardrails.
 */
export function routerClassifyCreate(
  client: OrqCore,
  request: operations.CreateClassifyRequestBody,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.CreateClassifyResponseBody,
    | errors.CreateClassifyResponseBody
    | errors.CreateClassifyRouterClassifyResponseBody
    | errors.CreateClassifyRouterClassifyResponseResponseBody
    | errors.CreateClassifyRouterClassifyResponse422ResponseBody
    | errors.CreateClassifyRouterClassifyResponse429ResponseBody
    | errors.CreateClassifyRouterClassifyResponse500ResponseBody
    | errors.CreateClassifyRouterClassifyResponse502ResponseBody
    | OrqError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: OrqCore,
  request: operations.CreateClassifyRequestBody,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.CreateClassifyResponseBody,
      | errors.CreateClassifyResponseBody
      | errors.CreateClassifyRouterClassifyResponseBody
      | errors.CreateClassifyRouterClassifyResponseResponseBody
      | errors.CreateClassifyRouterClassifyResponse422ResponseBody
      | errors.CreateClassifyRouterClassifyResponse429ResponseBody
      | errors.CreateClassifyRouterClassifyResponse500ResponseBody
      | errors.CreateClassifyRouterClassifyResponse502ResponseBody
      | OrqError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => operations.CreateClassifyRequestBody$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload, { explode: true });

  const path = pathToFunc("/v3/router/classify")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.apiKey);
  const securityInput = secConfig == null ? {} : { apiKey: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "CreateClassify",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.apiKey,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || 600000,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.CreateClassifyResponseBody,
    | errors.CreateClassifyResponseBody
    | errors.CreateClassifyRouterClassifyResponseBody
    | errors.CreateClassifyRouterClassifyResponseResponseBody
    | errors.CreateClassifyRouterClassifyResponse422ResponseBody
    | errors.CreateClassifyRouterClassifyResponse429ResponseBody
    | errors.CreateClassifyRouterClassifyResponse500ResponseBody
    | errors.CreateClassifyRouterClassifyResponse502ResponseBody
    | OrqError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.CreateClassifyResponseBody$inboundSchema),
    M.jsonErr(400, errors.CreateClassifyResponseBody$inboundSchema),
    M.jsonErr(
      401,
      errors.CreateClassifyRouterClassifyResponseBody$inboundSchema,
    ),
    M.jsonErr(
      403,
      errors.CreateClassifyRouterClassifyResponseResponseBody$inboundSchema,
    ),
    M.jsonErr(
      422,
      errors.CreateClassifyRouterClassifyResponse422ResponseBody$inboundSchema,
    ),
    M.jsonErr(
      429,
      errors.CreateClassifyRouterClassifyResponse429ResponseBody$inboundSchema,
    ),
    M.jsonErr(
      500,
      errors.CreateClassifyRouterClassifyResponse500ResponseBody$inboundSchema,
    ),
    M.jsonErr(
      502,
      errors.CreateClassifyRouterClassifyResponse502ResponseBody$inboundSchema,
    ),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
