/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { OrqCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import { matchStatusCode } from "../lib/http.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { OrqError } from "../models/errors/orqerror.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Search the web with a selected provider
 *
 * @remarks
 * Search with Exa, Ceramic, Linkup, Tavily, or Serper and return page URLs, titles, and descriptions in one response format. Authenticate with an API key that grants **websearch.execute** and send **Content-Type: application/json**.
 *
 * ### Provider and credentials
 *
 * Each request uses the selected provider. Exa uses **auto** search, Linkup uses **standard** depth, and Tavily uses **basic** depth.
 *
 * Credentials are selected from the authenticated workspace. A configured provider integration takes precedence over ORQ-managed credentials: the default integration is used, or the first configured integration if no default is set. Configure BYOK in the workspace integrations settings. Invalid integration credentials cause an error.
 *
 * ### Billing
 *
 * Managed searches use the same credits as the **AI Gateway** and charge the provider cost plus **US$0.001 per search** (US$1 per 1,000 searches). BYOK searches consume no ORQ credits and add no ORQ markup; the provider bills the integration owner directly.
 *
 * Exa's published auto rate is **US$7 per 1,000 requests** for up to 10 results, or **US$8 per 1,000** including the ORQ markup. Exa charges use the actual cost reported by the provider.
 *
 * A successful managed search is billable even if an output guardrail or output redaction failure prevents the results from being returned.
 *
 * ### Policies and observability
 *
 * PII Redaction is the only supported request plugin. Workspace PII settings and matching guardrail rules also apply. Query redaction runs before input guardrails and the provider call; result redaction runs before output guardrails and the response.
 *
 * Search spans and metrics record the provider, latency, result count, and cost. Use the **x-orq-trace-id** response header to find the trace.
 */
export function websearchSearch(
  client: OrqCore,
  request: operations.SearchWebRequestBody,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.SearchWebResponse,
    | errors.SearchWebResponseBody
    | errors.SearchWebWebsearchResponseBody
    | errors.SearchWebWebsearchResponseResponseBody
    | errors.SearchWebWebsearchResponse403ResponseBody
    | errors.SearchWebWebsearchResponse415ResponseBody
    | errors.SearchWebWebsearchResponse422ResponseBody
    | errors.SearchWebWebsearchResponse429ResponseBody
    | errors.SearchWebWebsearchResponse500ResponseBody
    | errors.SearchWebWebsearchResponse502ResponseBody
    | errors.SearchWebWebsearchResponse503ResponseBody
    | errors.SearchWebWebsearchResponse504ResponseBody
    | OrqError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: OrqCore,
  request: operations.SearchWebRequestBody,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.SearchWebResponse,
      | errors.SearchWebResponseBody
      | errors.SearchWebWebsearchResponseBody
      | errors.SearchWebWebsearchResponseResponseBody
      | errors.SearchWebWebsearchResponse403ResponseBody
      | errors.SearchWebWebsearchResponse415ResponseBody
      | errors.SearchWebWebsearchResponse422ResponseBody
      | errors.SearchWebWebsearchResponse429ResponseBody
      | errors.SearchWebWebsearchResponse500ResponseBody
      | errors.SearchWebWebsearchResponse502ResponseBody
      | errors.SearchWebWebsearchResponse503ResponseBody
      | errors.SearchWebWebsearchResponse504ResponseBody
      | OrqError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => operations.SearchWebRequestBody$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload, { explode: true });

  const path = pathToFunc("/v3/websearch")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.apiKey);
  const securityInput = secConfig == null ? {} : { apiKey: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "search-web",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.apiKey,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || 600000,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    isErrorStatusCode: (statusCode: number) =>
      matchStatusCode({ status: statusCode } as Response, ["4XX", "5XX"]),
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.SearchWebResponse,
    | errors.SearchWebResponseBody
    | errors.SearchWebWebsearchResponseBody
    | errors.SearchWebWebsearchResponseResponseBody
    | errors.SearchWebWebsearchResponse403ResponseBody
    | errors.SearchWebWebsearchResponse415ResponseBody
    | errors.SearchWebWebsearchResponse422ResponseBody
    | errors.SearchWebWebsearchResponse429ResponseBody
    | errors.SearchWebWebsearchResponse500ResponseBody
    | errors.SearchWebWebsearchResponse502ResponseBody
    | errors.SearchWebWebsearchResponse503ResponseBody
    | errors.SearchWebWebsearchResponse504ResponseBody
    | OrqError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.SearchWebResponse$inboundSchema, {
      hdrs: true,
      key: "Result",
    }),
    M.jsonErr(400, errors.SearchWebResponseBody$inboundSchema),
    M.jsonErr(401, errors.SearchWebWebsearchResponseBody$inboundSchema),
    M.jsonErr(402, errors.SearchWebWebsearchResponseResponseBody$inboundSchema),
    M.jsonErr(
      403,
      errors.SearchWebWebsearchResponse403ResponseBody$inboundSchema,
    ),
    M.jsonErr(
      415,
      errors.SearchWebWebsearchResponse415ResponseBody$inboundSchema,
    ),
    M.jsonErr(
      422,
      errors.SearchWebWebsearchResponse422ResponseBody$inboundSchema,
    ),
    M.jsonErr(
      429,
      errors.SearchWebWebsearchResponse429ResponseBody$inboundSchema,
    ),
    M.jsonErr(
      500,
      errors.SearchWebWebsearchResponse500ResponseBody$inboundSchema,
    ),
    M.jsonErr(
      502,
      errors.SearchWebWebsearchResponse502ResponseBody$inboundSchema,
    ),
    M.jsonErr(
      503,
      errors.SearchWebWebsearchResponse503ResponseBody$inboundSchema,
    ),
    M.jsonErr(
      504,
      errors.SearchWebWebsearchResponse504ResponseBody$inboundSchema,
    ),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
