name: '[Pre-release] Generate'

on:
  push:
    branches:
      - main
    paths:
      - packages/orq-rc/.speakeasy/gen.yaml
  workflow_dispatch:
    inputs:
      force:
        description: "Force the generation of the SDKs"
        default: "false"
        required: false
        type: string

jobs:
  publish:
    uses: ./.github/workflows/sdk_generation.yml
    name: Runner
    secrets: inherit
    with:
      target: orq-ai-prerelease-node
      force: ${{ inputs.force }}